extends ../../layouts/master.pug

block variables
  -
    const index = true
    const meta = {
      title: 'About Us | Akara Group',
      keyword: 'Akara Group',
      description: '',
      goTitle: 'Akara Group',
      goDescription: '',
      goImage: '/assets/img/ogp.png',
      goUrl: '',
      twitterTitle: 'Akara Group',
      twitterDescription: '',
      twitterImage: '/assets/img/ogp.png',
      twitterUrl: ''
    }

    const topPage = false
    const whiteTheme = false

block prepend css
  link(rel='stylesheet', href='/assets/css/libs/slick.css')
block append scripts
  script(src='/assets/js/libs/slick.min.js')
  script(src='/assets/js/libs/jquery.matchHeight.js')
  script(src='/assets/js/libs/jquery.waypoints.js')
  script(src='/assets/js/topWaveYellow.js')
  script(src='/assets/js/bottomWaveYellow.js')
  script(src='/assets/js/topWaveYellow02.js')
  script(src='/assets/js/bottomWaveYellow02.js')
  script(src='/assets/js/waveMainVisualSub.js')

block outside
  //- // loader
  //- .c-loader
  //-   .c-loader__icon
  //-     p.c-loader__text
  //-       img(src="/assets/img/common/logo@2x.png", alt="")
  //-     .loader.simple-circle
  //- // /loader
  .c-bg-wave-mainvisual-sub
    .c-bg-wave-mainvisual-solid
      canvas#canvas-mainvisual
block content
  .p-about-us
    .c-mv-sub-page
      .c-mv-sub-page__inner
        .c-mv-sub-page__box-content
          .c-mv-sub-page__heading About Akara Group
          .c-mv-sub-page__sub-heading เพราะทุกคำคือธรรมชาติ
          .c-mv-sub-page__text เป็นผลิตภัณฑ์ ที่มีการควบคุมกระบวนการผลิตตั้งแต่ต้นกระบวนการให้ปลอดภัย ปลอดสารเร่งและปลอดยาปฏิชีวนะ จนได้ผลผลิต “ไข่ไก่ออร์แกนิค ปลอดภัย” ได้การรับรองมาตรฐาน GMP/HACCP และ DLD Certificate 2016 ของกรมปศุสัตว์ รายแรกของประเทศไทย
          a.c-mv-sub-page__anchor-icon.js-scroll.c-scroll-down-button__static-page(href="#scroll_timeline")
            .c-scroll-down-line
        .c-mv-sub-page__box-image
          figure.c-mv-sub-page__image-frame
            img(src="/assets/img/about-us/mv_about_us.png", alt="")

    .c-box-time-line
      .c-box-time-line__inner
        .c-box-time-line__line
        .c-box-time-line__list#scroll_timeline
          .c-box-time-line__item.animation-element.slide-top
            .c-box-time-line__image
              .c-box-time-line__image-frame
                img(src="/assets/img/about-us/img_about_us_01.png", alt="")
            .c-box-time-line__content
              .c-box-time-line__content-text These tasty certified USDA Organic eggs come from farms that have been pesticide-free for at least three years and from free range flocks that receive no antibiotics. No hormones are used in egg production either! Best of all, they come from happy hens who are free to roam and play.
              .c-box-time-line__content-text These tasty certified USDA Organic eggs come from farms that have been pesticide-free for at least three years and from free range flocks that receive no antibiotics.
          .c-box-time-line__item
            .c-box-time-line__image
              .c-box-time-line__image-frame
                img(src="/assets/img/about-us/img_about_us_02.png", alt="")
            .c-box-time-line__content
              .c-box-time-line__content-heading.-small Sang thong Farm
              .c-box-time-line__content-text These tasty certified USDA Organic eggs come from farms that have been pesticide-free for at least three years and from free range flocks that receive no antibiotics. No hormones are used in egg production either! Best of all, they come from happy hens who are free to roam and play.

    .c-box-our-egg
      .c-wave-yellow
        canvas#canvas-yellow
      .c-box-our-egg__inner
        .c-heading-box-egg.animation-element.slide-top
          .c-heading-egg
            .c-heading-egg__icon.-white
            .c-heading-egg__text Our Eggs
          .c-heading-egg-content.-lg Lorem ipsum dolor sit amet, consetetur sadipscing elitr, diam nonumy <br>tempor invidunt ut labore et dolore

        .c-box-our-egg__list.animation-element.slide-top
          .c-box-our-egg__item
            .c-box-our-egg_card
              figure.c-box-our-egg__card-image
                img(src="/assets/img/about-us/img_about_us_03.png", alt="Quality Matter")
              .c-box-our-egg__card-heading Quality Matter
              .c-box-our-egg__card-content These tasty certified USDA Organic eggs come from farms that have been pesticide-free for at least three years and from free range flocks that receive no antibiotics.
          .c-box-our-egg__item
            .c-box-our-egg_card
              figure.c-box-our-egg__card-image
                img(src="/assets/img/about-us/img_about_us_04.png", alt="We Care Our Consumer")
              .c-box-our-egg__card-heading We Care Our Consumer
              .c-box-our-egg__card-content These tasty certified USDA Organic eggs come from farms that have been pesticide-free for at least three years and from free range flocks that receive no antibiotics.
          .c-box-our-egg__item
            .c-box-our-egg_card
              figure.c-box-our-egg__card-image
                img(src="/assets/img/about-us/img_about_us_05.png", alt="We Care Our Egg")
              .c-box-our-egg__card-heading We Care Our Egg
              .c-box-our-egg__card-content These tasty certified USDA Organic eggs come from farms that have been pesticide-free for at least three years and from free range flocks that receive no antibiotics.
          .c-box-our-egg__item
            .c-box-our-egg_card
              figure.c-box-our-egg__card-image
                img(src="/assets/img/about-us/img_about_us_06.png", alt="Social Impact")
              .c-box-our-egg__card-heading Social Impact
              .c-box-our-egg__card-content These tasty certified USDA Organic eggs come from farms that have been pesticide-free for at least three years and from free range flocks that receive no antibiotics.
      .c-wave-yellow-bottom
        canvas#canvas-yellow-bottom
    .c-our-brand
      .c-our-brand__inner
        .c-heading-box-egg.animation-element.slide-top
          .c-heading-egg
            .c-heading-egg__icon
            .c-heading-egg__text Our Brand
        .c-our-brand__list
          .c-our-brand__item.animation-element.slide-top
            .c-our-brand__card
              .c-our-brand__card-image
                .c-our-brand__card-frame
                  // Slider main container
                  .swiper-container.js-slider-multi
                    // Additional required wrapper
                    .swiper-wrapper
                      // Slides
                      .swiper-slide
                        img(src="/assets/img/about-us/img_about_us_07.png", alt="")
                      .swiper-slide
                        img(src="/assets/img/about-us/img_about_us_08.png", alt="")
                      .swiper-slide
                        img(src="/assets/img/about-us/img_about_us_09.png", alt="")
                      .swiper-slide
                        img(src="/assets/img/about-us/img_about_us_10.png", alt="")
                    // If we need navigation buttons
                    .swiper-button-prev
                      i.fas.fa-chevron-left
                    .swiper-button-next
                      i.fas.fa-chevron-right

                  .c-fake-nav-control
                    .swiper-button-prev.-fake
                      i.fas.fa-chevron-left
                    .swiper-button-next.-fake
                      i.fas.fa-chevron-right

              .c-our-brand__card-content
                .c-our-brand__card-content-heading-logo
                  img(src="/assets/img/about-us/ico_logo_about_us_01.svg", alt="")
                .c-our-brand__card-content-heading-sub เพราะทุกคำคือธรรมชาติ
                .c-our-brand__card-content-text เป็นผลิตภัณฑ์ ที่มีการควบคุมกระบวนการผลิตตั้งแต่ต้นกระบวนการให้ปลอดภัย ปลอดสารเร่งและปลอดยาปฏิชีวนะ จนได้ผลผลิต “ไข่ไก่ออร์แกนิค ปลอดภัย” ได้การรับรองมาตรฐาน GMP/HACCP และ DLD Certificate 2016 ของกรมปศุสัตว์ รายแรกของประเทศไทยเพื่อให้ประชาชนได้บริโภคสินค้าที่มีคุณภาพและปลอดภัย

          .c-our-brand__item.animation-element.slide-top
            .c-our-brand__card
              .c-our-brand__card-image
                .c-our-brand__card-frame
                  // Slider main container
                  .swiper-container.js-slider-multi
                    // Additional required wrapper
                    .swiper-wrapper
                      // Slides
                      .swiper-slide
                        img(src="/assets/img/about-us/img_about_us_08.png", alt="")
                      .swiper-slide
                        img(src="/assets/img/about-us/img_about_us_09.png", alt="")
                      .swiper-slide
                        img(src="/assets/img/about-us/img_about_us_10.png", alt="")
                      .swiper-slide
                        img(src="/assets/img/about-us/img_about_us_07.png", alt="")
                    // If we need navigation buttons
                    .swiper-button-prev
                      i.fas.fa-chevron-left
                    .swiper-button-next
                      i.fas.fa-chevron-right
                  .c-fake-nav-control
                    .swiper-button-prev
                      i.fas.fa-chevron-left
                    .swiper-button-next
                      i.fas.fa-chevron-right

              .c-our-brand__card-content
                .c-our-brand__card-content-heading-logo
                  img(src="/assets/img/about-us/ico_logo_about_us_02.svg", alt="")
                .c-our-brand__card-content-heading-sub “ไข่ไก่สดจากแม่ไก่สุขภาพดี”
                .c-our-brand__card-content-text ไข่ไก่คุณภาพดีเยี่ยม ที่เปี่ยมด้วยคุณภาพและสารอาหาร ผ่านกระบวนการผลิตภายใต้การควบคุมคุณภาพด้วยเทคโนโลยีระดับสูง เป็นที่ยอมรับในระดับสากลด้วยมาตรฐาน ISO 22000, GAP, GMP/HACCP และ Halal จึงมั่นใจได้ว่าไข่ไก่ของเรามีคุณภาพสูง

          .c-our-brand__item.animation-element.slide-top
            .c-our-brand__card
              .c-our-brand__card-image
                .c-our-brand__card-frame
                  // Slider main container
                  .swiper-container.js-slider-multi
                    // Additional required wrapper
                    .swiper-wrapper
                      // Slides
                      .swiper-slide
                        img(src="/assets/img/about-us/img_about_us_09.png", alt="")
                      .swiper-slide
                        img(src="/assets/img/about-us/img_about_us_10.png", alt="")
                      .swiper-slide
                        img(src="/assets/img/about-us/img_about_us_07.png", alt="")
                      .swiper-slide
                        img(src="/assets/img/about-us/img_about_us_08.png", alt="")
                    // If we need navigation buttons
                    .swiper-button-prev
                      i.fas.fa-chevron-left
                    .swiper-button-next
                      i.fas.fa-chevron-right
                  .c-fake-nav-control
                    .swiper-button-prev
                      i.fas.fa-chevron-left
                    .swiper-button-next
                      i.fas.fa-chevron-right

              .c-our-brand__card-content
                .c-our-brand__card-content-heading-logo
                  img(src="/assets/img/about-us/ico_logo_about_us_03.svg", alt="")
                .c-our-brand__card-content-heading-sub เพราะทุกคำคือธรรมชาติ
                .c-our-brand__card-content-text ฟาร์มไข่ไท เต้าหู้ไข่ไก่แท้ที่สดใหม่ สะอาด ผ่านกระบวนการผลิตจากมือของคนไทย ด้วยมาตรฐาน ISO 22000, GMP/HACCP และ อย. สดทุกวันส่งตรงถึงมือผู้บริโภคแบบวันต่อวัน ฟาร์มไข่ไทเต้าหู้ไข่ไก่แท้เต็มหลอด อุดมไปด้วยสารอาหาร อร่อยและมีประโยชน์ต่อสุขภาพ

          .c-our-brand__item.animation-element.slide-top
            .c-our-brand__card
              .c-our-brand__card-image
                .c-our-brand__card-frame
                  // Slider main container
                  .swiper-container.js-slider-multi
                    // Additional required wrapper
                    .swiper-wrapper
                      // Slides
                      .swiper-slide
                        img(src="/assets/img/about-us/img_about_us_10.png", alt="")
                      .swiper-slide
                        img(src="/assets/img/about-us/img_about_us_07.png", alt="")
                      .swiper-slide
                        img(src="/assets/img/about-us/img_about_us_08.png", alt="")
                      .swiper-slide
                        img(src="/assets/img/about-us/img_about_us_09.png", alt="")
                    // If we need navigation buttons
                    .swiper-button-prev
                      i.fas.fa-chevron-left
                    .swiper-button-next
                      i.fas.fa-chevron-right
                  .c-fake-nav-control
                    .swiper-button-prev
                      i.fas.fa-chevron-left
                    .swiper-button-next
                      i.fas.fa-chevron-right

              .c-our-brand__card-content
                .c-our-brand__card-content-heading-logo
                  img(src="/assets/img/about-us/ico_logo_about_us_04.svg", alt="")
                .c-our-brand__card-content-heading-sub ไข่ไก่คุณภาพมาตรฐานโลก กินดิบได้สไตล์ญี่ปุ่น
                .c-our-brand__card-content-text ไข่ไก่สด ระดับพรีเมี่ยม สไตล์ญี่ปุ่น เป็นความร่วมมือระหว่าง AKARA GROUP กับ ISE Food , Inc ผู้นำด้านไข่ไก่ รายใหญ่ที่สุดในญี่ปุ่น ด้วยประสบการณ์ด้านไข่ไก่ยาวนานกว่า 100 ปี ภายใต้เทคโนโลยีการผลิต ที่สดสะอาด ปราศจากเชื้อโรค เราจึงมั่นใจว่าได้ส่งมอบไข่ไก่ที่มีคุณภาพระดับพรีเมี่ยมสู่ผู้บริโภค ภายใต้แบรนด์ “MORI-TAMA”

    .c-voice-box
      .c-wave-yellow
        canvas#canvas-yellow-02
      .c-voice-box__inner
        .c-voice-box__fix-box.animation-element.slide-top
          .c-voice-box__fix-box-inner
            .c-voice-box__fix-box-heading
              .c-voice-box__fix-box-heading-icon
                .c-comment-icon
              .c-voice-box__fix-box-heading-text เสียงจากคนทานไข่อัครา
            .c-voice-box__fix-box-text These tasty certified USDA Organic eggs come from farms that have been pesticide-free.
        .c-voice-box__slider-box.animation-element.slide-top
          // Slider main container
          .swiper-container.js-swiper-voice
            // Additional required wrapper
            .swiper-wrapper
              // Slides
              .swiper-slide
                .c-card-voice
                  .c-card-voice__heading THE FLAVOR WAS AMAZING!
                  .c-card-voice__text “Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris”
                  .c-card-voice__author
                    .c-card-voice__author-icon
                    .c-card-voice__author-staff
                      .c-card-voice__author-staff-name Ahmed Elsayed
                      .c-card-voice__author-staff-position EMPLOYEE 1
              .swiper-slide
                .c-card-voice
                  .c-card-voice__heading THE FLAVOR WAS AMAZING!
                  .c-card-voice__text “Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris”
                  .c-card-voice__author
                    .c-card-voice__author-icon
                    .c-card-voice__author-staff
                      .c-card-voice__author-staff-name Ahmed Elsayed
                      .c-card-voice__author-staff-position EMPLOYEE 2
              .swiper-slide
                .c-card-voice
                  .c-card-voice__heading THE FLAVOR WAS AMAZING!
                  .c-card-voice__text “Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris”
                  .c-card-voice__author
                    .c-card-voice__author-icon
                    .c-card-voice__author-staff
                      .c-card-voice__author-staff-name Ahmed Elsayed
                      .c-card-voice__author-staff-position EMPLOYEE 3

            // If we need navigation buttons
            .swiper-box-control
              .swiper-button-prev.-voice
              .swiper-button-next.-voice
          .swiper-box-control-trigger
            .swiper-button-prev
              i.fas.fa-chevron-left
            .swiper-button-next
              i.fas.fa-chevron-right
      .c-wave-yellow-bottom
        canvas#canvas-yellow-bottom-02

    .c-box-certificate.animation-element.slide-top
      .c-box-certificate__inner
        .c-heading-box-egg
          .c-heading-egg
            .c-heading-egg__text Certification Standards
          .c-heading-egg-content.-lg Lorem ipsum dolor sit amet, consetetur sadipscing elitr, diam nonumy <br>tempor invidunt ut labore et dolore
        .c-box-certificate__list
          .c-box-certificate__item
            figure.c-box-certificate__image
              img(src="/assets/img/common/img_certification_01.svg", alt="")
          .c-box-certificate__item
            figure.c-box-certificate__image
              img(src="/assets/img/common/img_certification_02.svg", alt="")
          .c-box-certificate__item
            figure.c-box-certificate__image
              img(src="/assets/img/common/img_certification_03.svg", alt="")
          .c-box-certificate__item
            figure.c-box-certificate__image
              img(src="/assets/img/common/img_certification_04.svg", alt="")
          .c-box-certificate__item
            figure.c-box-certificate__image
              img(src="/assets/img/common/img_certification_05.svg", alt="")
          .c-box-certificate__item
            figure.c-box-certificate__image
              img(src="/assets/img/common/img_certification_06.svg", alt="")

    .l-sec-cmn-01.-box-subscribe
      .inner
        .c-box-subscribe.animation-element.slide-top
          .item.-signup-text
            .box-sign-up
          .item
            .box-heading
              .heading FOR RECIPES, COUPONS AND OTHER NEWS
            .box-form
              .c-input-row
                input.c-input.-text(type="email", name="email", placeholder="Your E-Mail Address")
                .c-box-cmn-button
                  button.c-button-cmn-01(type="submit", value="")
                    span.text SUBSCRIBE
                    span.arrow
                      i.fa.fa-arrow-right