extends ../../layouts/master.pug

block variables
  -
    const index = true
    const meta = {
      title: 'Privacy Policy | Akara Group',
      keyword: 'Akara Group',
      description: '',
      goTitle: 'Akara Group',
      goDescription: '',
      goImage: '/assets/img/ogp.png',
      goUrl: '',
      twitterTitle: 'Akara Group',
      twitterDescription: '',
      twitterImage: '/assets/img/ogp.png',
      twitterUrl: ''
    }

    const topPage = false
    const whiteTheme = false

block prepend css
  link(rel='stylesheet', href='/assets/css/libs/slick.css')
block append scripts
  script(src='/assets/js/libs/jquery.matchHeight.js')
  script(src='/assets/js/libs/jquery.waypoints.js')
  script(src='/assets/js/waveWhiteTop.js')

block outside
  //- // loader
  //- .c-loader
  //-   .c-loader__icon
  //-     p.c-loader__text
  //-       img(src="/assets/img/common/logo@2x.png", alt="")
  //-     .loader.simple-circle
  //- // /loader

block content
  .p-privacy
    .c-privacy
      .c-privacy__heading
        .text นโยบายความเป็นส่วนตัว
      .c-privacy__subheading Privacy Policy

    .c-privacy__content
      .c-text-cmn-01 บริษัท อัครากรุ๊ป จำกัด (“บริษัท”) ให้ความสำคัญต่อการเคารพต่อความเป็นส่วนตัวของผู้ใช้บริการเว็บไซต์ www.akaragroup.co.th (“เว็บไซต์”) ซึ่งเป็นเว็บไซต์ที่ดำเนินการโดยบริษัท บริษัทจะดูแลจัดการข้อมูลส่วนบุคคลตามกฎหมายที่เกี่ยวกับการคุ้มครองข้อมูลส่วนบุคคล และมาตรฐานความปลอดภัยในการรักษาข้อมูลของท่าน โดยเอกสารแจ้งการประมวลผลข้อมูลส่วนบุคคลฉบับนี้ (Privacy Notice) อธิบายถึงวิธีการที่บริษัทปฏิบัติต่อข้อมูลส่วนบุคคลของท่านในการเข้าใช้งานเว็บไซต์นี้ เช่น การเก็บรวบรวม การจัดเก็บรักษา การใช้ การเปิดเผย รวมถึงสิทธิต่าง ๆ ของท่าน เป็นต้น เพื่อให้ท่านได้รับทราบถึงการคุ้มครองข้อมูลส่วนบุคคลของบริษัท โดยมีวิธีการดังต่อไปนี้

    .c-privacy__content
      .c-heading-04 1. วัตถุประสงค์ และ ฐานในการประมวลผลข้อมูล
      ul.c-privacy-list
        li.c-privacy-list__item
          .no-step-01 1.1
          .text
            span.strong วัตถุประสงค์ในการจัดเก็บข้อมูลส่วนบุคคล: 
            |บริษัทเก็บรวบรวม ใช้ หรือเปิดเผยข้อมูลส่วนบุคคลของท่านเมื่อท่านเข้าเยี่ยมชมหรือใข้งานเว็บไซต์ www.akaragroup.co.th เพื่อนำเสนอสินค้าหรือบริการ การโฆษณา การวิจัยหรือการจัดทำสถิติ การปรับปรุงคุณภาพของการให้บริการของบริษัท การจัดทำข่าวสารประชาสัมพันธ์ การใช้คุกกี้ และการส่งข้อมูลส่วนบุคคลโดยเป็นไปตามที่กฎหมายกำหนด
        li.c-privacy-list__item
          .no-step-01 1.2
          .text
            span.strong ฐานในการประมวลผลข้อมูล: 
            |บริษัทดำเนินการประมวลผลข้อมูลส่วนบุคคลของท่านภายใต้ฐานการประมวลผล ดังต่อไปนี้
            .c-privacy-list__sub-item
              .no-dot
                svg(xmlns='http://www.w3.org/2000/svg' width='7' height='7' viewBox='0 0 7 7')
                  circle#Ellipse_187(data-name='Ellipse 187' cx='3.5' cy='3.5' r='3.5' fill='#535151')
              .sub-text
                span.strong ฐานความยินยอม (Consent): 
                |บริษัทอาจใช้ข้อมูลส่วนบุคคลของท่านในการนำเสนอสินค้า บริการ หรือโฆษณาที่เกี่ยวข้อง เพื่อให้ตรงกับความสนใจกับท่าน รายละเอียดเป็นไปตามข้อ 5 ทั้งนี้ ภายใต้พระราชบัญญัติคุ้มครองข้อมูลส่วนบุคคล พ.ศ. 2562
            .c-privacy-list__sub-item
              .no-dot
                svg(xmlns='http://www.w3.org/2000/svg' width='7' height='7' viewBox='0 0 7 7')
                  circle#Ellipse_187(data-name='Ellipse 187' cx='3.5' cy='3.5' r='3.5' fill='#535151')
              .sub-text
                span.strong ฐานจำเป็นเพื่อประโยชน์โดยชอบด้วยกฎหมาย (Legitimate Interest): 
                |บริษัทอาจนำข้อมูลส่วนบุคคลของท่านไปใช้ในการประมวลผลเพื่อการประมวลผล การวิจัย หรือการจัดทำสถิติซึ่งเป็นไปตามวัตถุประสงค์ของการดำเนินงานของบริษัท การจัดทำรายงานการดำเนินงานภายในบริษัท การปรับปรุงคุณภาพของการให้บริการของบริษัท การจัดทำข่าวสารประชาสัมพันธ์ของบริษัท การใช้คุกกี้ที่จำเป็นต่อการเข้าชมเว็บไซต์ การวิเคราะห์ การวัดการทำงานของเว็บไซต์
            .c-privacy-list__sub-item
              .no-dot
                svg(xmlns='http://www.w3.org/2000/svg' width='7' height='7' viewBox='0 0 7 7')
                  circle#Ellipse_187(data-name='Ellipse 187' cx='3.5' cy='3.5' r='3.5' fill='#535151')
              .sub-text
                span.strong ฐานการปฏิบัติตามกฎหมาย (Legal Obligation): 
                |บริษัทอาจต้องนำส่งข้อมูลส่วนบุคคลของท่านให้แก่พนักงานเจ้าหน้าที่ หน่วยงานรัฐที่มีอำนาจตามกฎหมายในการเรียกข้อมูลที่บริษัทครองครองอยู่ได้ เช่น กรมสรรพากร สำนักงานคณะกรรมการคุ้มครองผู้บริโภค สำนักงานตำรวจแห่งชาติ สำนักงานอัยการ ศาล เป็นต้น

      .c-heading-04 2. ข้อมูลส่วนบุคคลที่จะทำการประมวลผลและระยะเวลาในการเก็บรวบรวม
      .c-privacy-box-bg
        .c-privacy-box-bg__inner
          .c-privacy-box-bg__inner-box
            .heading ประเภท/รายการข้อมูลส่วนบุคคล
            .content ชื่อ-นามสกุล, ภาพถ่าย, IP Address, Cookies
          .c-privacy-box-bg__inner-box
            .heading ระยะเวลาในการเก็บรวบรวม
            .content
              ol
                li กรณีการเข้าชมเว็บไซต์ บริษัทเก็บรวบรวมไว้ 10 ปี นับแต่เดือนที่ท่านเข้าใช้บริการบนเว็บไซต์
                li กรณีภาพข่าวประชาสัมพันธ์ บริษัทจัดเก็บ…ปี นับแต่ปีที่ลงข่าวบนเว็บไซต์

      .c-privacy-box-note ทั้งนี้ เมื่อพ้นกำหนดระยะเวลาข้างต้น บริษัทจะทำการลบหรือทำให้ข้อมูลส่วนบุคคลไม่สามารถระบุตัวบุคคลได้

      .c-heading-04 3. การเปิดเผยข้อมูลส่วนบุคคลให้แก่บุคคลภายนอก
      .c-text-cmn-01 บริษัทอาจเปิดเผยหรือโอนข้อมูลส่วนบุคคลของท่านไปยังบุคคลภายนอกทั้งภายในประเทศหรือหรือต่างประเทศ เท่าที่จำเป็นเพื่อให้เป็นไปตามวัตถุประสงค์และฐานในการประมวลผลที่ได้แจ้งไว้ตามข้อ 1 เท่านั้น เช่น บริษัท อัครากรุ๊ป จำกัด (รายละเอียดสามารถดูได้ที่เว็บไซต์ www.akara.co.th) พนักงานและบริษัทที่บริษัทได้ว่าจ้างให้ดำเนินการในฐานะผู้ประมวลผลข้อมูลส่วนบุคคล พันธมิตรทางธุรกิจของบริษัท (Business Partners) ที่ปรึกษากฎหมาย ทนายความ ผู้ตรวจสอบบัญชี รวมถึงหน่วยงานของรัฐที่มีอำนาจในการขอข้อมูลส่วนบุคคล เช่น สำนักงานตำรวจแห่งชาติ สำนักงานอัยการ ศาล  เป็นต้น หรือเจ้าหน้าที่ของรัฐที่มีอำนาจในการขอข้อมูลส่วนบุคคล เช่น พนักงานสอบสวน อัยการ เป็นต้น และอาจเป็นการเปิดเผยให้หน่วยงานของรัฐและเจ้าหน้าที่ของรัฐเพื่อประโยชน์ในการดำเนินคดีของบริษัทเองด้วย

      .c-heading-04 4. คุกกี้และวิธีการใช้คุกกี้
      .c-text-cmn-01 คุกกี้ (Cookies) คือ ข้อมูลหรือข้อความขนาดเล็กที่อยู่ในคอมพิวเตอร์ของท่านที่ใช้เพื่อจัดเก็บรายละเอียดข้อมูลการใช้งานอินเตอร์เน็ตและพฤติกรรมการเยี่ยมชมเว็บไซต์ของท่าน โดยบริษัทมีการใช้งานคุกกี้ในเว็บไซต์ทั้งหมดของบริษัท ดังนี้
      ul.c-privacy-list
        li.c-privacy-list__item
          .no-step-01 4.1
          .text
            span.strong Strictly Necessary Cookies: 
            |คุกกี้ทางเทคนิค เป็นประเภทคุกกี้ที่มีความจำเป็นต่อการใช้งานแพลตฟอร์ม ทำให้ท่านสามารถเข้าถึงข้อมูลได้อย่างทั่วถึงและปลอดภัย
        li.c-privacy-list__item
          .no-step-01 4.2
          .text
            span.strong Functionality Cookies: 
            |คุกกี้ประกอบการทำงานของแพลตฟอร์ม ถูกใช้ในการจดจำสิ่งที่ท่านเลือกหรือตั้งค่าบนแพลตฟอร์มต่างๆ
        li.c-privacy-list__item
          .no-step-01 4.3
          .text
            span.strong Performance Cookies: 
            |คุกกี้เพื่อวัดผลการทำงานของแพลตฟอร์ม คุกกี้ประเภทนี้จะจัดเก็บข้อมูลของผู้เข้าชมแพลตฟอร์มแบบไม่ระบุตัวตน และนำมาวิเคราะห์จำนวนและพฤติกรรมของผู้เข้าชม เพื่อปรับปรุงแพลตฟอร์มให้มีประสิทธิภาพและตรงกับความต้องการของผู้ใช้มากขึ้น
        li.c-privacy-list__item
          .no-step-01 4.4
          .text
            span.strong Third-party Cookies: 
            |คุกกี้บุคคลที่สาม คุกกี้ชนิดนี้จะถูกกำหนดใช้โดยผู้บริการซึ่งเป็นบุคคลที่สาม อาทิ Google Analytics, Facebook Pixel เป็นต้น
      .c-text-cmn-01 ท่านสามารถตั้งค่ามิให้บราวเซอร์ (Browser) ที่ท่านใช้งานอยู่รับคุกกี้ตามข้อ 5.2 – 5.4 ที่บริษัทจัดไว้ได้ โดยมีขั้นตอนตามแต่ละบราวเซอร์ที่ท่านใช้งาน

      .c-heading-04 5. สิทธิตามกฎหมายของเจ้าของข้อมูลส่วนบุคคล
      .c-text-cmn-01 ท่านมีสิทธิ (1) สิทธิในการเพิกถอนความยินยอมให้บริษัทประมวลผลข้อมูลส่วนบุคคลของท่าน (2) สิทธิในการเข้าถึงและรับสำเนาข้อมูลส่วนบุคคลที่บริษัทได้เก็บรวบรวม ใช้ เปิดเผย (3) สิทธิในการขอให้โอนย้ายข้อมูลส่วนบุคคลของท่าน (4) สิทธิในการคัดค้าน การประมวลผลข้อมูลส่วนบุคคลของท่าน (5) สิทธิในการขอให้ลบ ทำลาย หรือทำให้ข้อมูลส่วนบุคคลของท่านซึ่งไม่อาจระบุตัวตนได้ (6) สิทธิในการระงับการใช้ข้อมูลส่วนบุคคลของท่าน (7) สิทธิในการขอแก้ไขข้อมูลส่วนบุคคลของท่านให้ถูกต้องเป็นปัจจุบัน สมบูรณ์ และไม่ก่อให้เกิดความเข้าใจผิด (8) สิทธิที่จะร้องเรียนในกรณีที่ท่านเห็นว่าถูกบริษัทหรือเจ้าหน้าที่หรือตัวแทนของบริษัทละเมิดสิทธิตามพระราชบัญญัติคุ้มครองข้อมูลส่วนบุคคล พ.ศ.2562
      .c-text-cmn-01 การร้องขอใด ๆ เพื่อการใช้สิทธิของท่านตามที่กล่าวข้างต้น จะต้องกระทำเป็นลายลักษณ์อักษร และบริษัทจะใช้ความพยายามอย่างดีที่สุดที่จะดำเนินการภายในระยะเวลาที่สมเหตุสมผล และไม่เกินระยะเวลาที่กฎหมายกำหนด โดยบริษัทจะปฏิบัติตามข้อกำหนดทางกฎหมายที่เกี่ยวกับสิทธิของท่านในฐานะเจ้าของข้อมูลส่วนบุคคล
      .c-text-cmn-01 ทั้งนี้ อาจเกิดข้อจำกัดในการขอใช้สิทธิของท่านบางประการ โดยบริษัทจะทำการชี้แจงให้ท่านทราบหากไม่สามารถปฏิบัติตามคำร้องขอใช้สิทธิของท่านได้ โดยข้อจำกัดดังกล่าวเป็นไปตามที่พระราชบัญญัติคุ้มครองข้อมูลส่วนบุคคล พ.ศ. 2562 กำหนด
      .c-text-cmn-01 การใช้สิทธิดังกล่าวข้างต้น บริษัทขอสงวนสิทธิ์ในการคิดค่าบริการใด ๆ ที่เกี่ยวข้องและจำเป็นต่อการเข้าดำเนินการเกี่ยวกับข้อมูล ส่วนบุคคลตามที่ท่านร้องขอ

      .c-heading-04 6. การแก้ไขเปลี่ยนแปลง
      .c-text-cmn-01 เอกสารแจ้งการประมวลผลข้อมูลส่วนบุคคล (Privacy Notice) ฉบับนี้ อาจมีการแก้ไขเปลี่ยนแปลง บริษัทจะแสดงฉบับที่เป็นปัจจุบันไว้ที่เว็บไซต์

      .c-heading-04 7. เว็บไซต์อื่น ๆ
      .c-text-cmn-01 ภายในเว็บไซต์นี้มีลิงก์ที่สามารถเชื่อมต่อไปยังเว็บไซต์อื่นทั้งของบริษัทและของบุคคลภายนอก ซึ่งการแจ้งการประมวลข้อมูลส่วนบุคคล (Privacy Notice) ชองเว็บไซต์นี้ไม่ครอบคลุมถึง หากท่านกดลิงก์เชื่อมต่อดังกล่าว ท่านจำเป็นต้องศึกษารายละเอียดการประมวลผลและการคุ้มครองข้อมูลส่วนบุคคลของเว็บไซต์นั้นๆ ด้วย

      .c-heading-04 8. รายละเอียดเจ้าหน้าที่คุ้มครองข้อมูลส่วนบุคคล
      .c-text-cmn-01 หากมีเหตุร้องเรียนเกี่ยวกับข้อมูลส่วนบุคคลสามารถติดต่อประสานงานมายังเจ้าหน้าที่คุ้มครองข้อมูลส่วนบุคคลได้ในช่องทางดังนี้
      ul.c-privacy-list
        li.c-privacy-list__item
          .no-step-01 8.1
          .text
            span.strong เจ้าหน้าที่คุ้มครองข้อมูลส่วนบุคคล
            .address ที่อยู่: 88 หมู่ 2 ต.ป่าขะ อ.บ้านนา จ.นครนายก 26110.    Email: privacy@akara.co.th
        li.c-privacy-list__item
          .no-step-01 8.2
          .text
            span.strong ผู้ควบคุมข้อมูลส่วนบุคคล
            .address
              |บริษัท อัครากรุ๊ป จำกัด
              br
              |ที่อยู่: 88 หมู่ 2 ต.ป่าขะ อ.บ้านนา จ.นครนายก 26110.
              br
              |โทร: 092-3807771-3
              br
              |Email: privacy@akara.co.th
      .c-text-cmn-01 หากท่านเห็นว่าการประมวลผลข้อมูลส่วนบุคคลของท่านไม่เป็นไปตามพระราชบัญญัติคุ้มครองข้อมูลส่วนบุคคล พ.ศ.2562 ท่านมีสิทธิที่จะร้องเรียนไปยังสำนักงานคณะกรรมการคุ้มครองข้อมูลส่วนบุคคล
      .c-text-cmn-01 เอกสารแจ้งการประมวลผลข้อมูลส่วนบุคคล (Privacy Notice) ฉบับนี้ ให้มีผลใช้บังคับในวันเดียวกันกับวันที่พระราชบัญญัติคุ้มครองข้อมูลส่วนบุคคล พ.ศ.2562 มีผลใช้บังคับทั้งฉบับ

    .l-sec-cmn-01.-box-subscribe
      .inner
        .c-box-subscribe.animation-element.slide-top
          .item.-signup-text
            .box-sign-up
          .item
            .box-heading
              .heading FOR RECIPES, COUPONS AND OTHER NEWS
            .box-form
              .c-input-row
                input.c-input.-text(type="email", name="email", placeholder="Your E-Mail Address")
                .c-box-cmn-button
                  button.c-button-cmn-01(type="submit", value="")
                    span.text SUBSCRIBE
                    span.arrow
                      i.fa.fa-arrow-right