@import '../_mixin';

.c-box-our-egg {
  background: url(/assets/img/common/bg_yellow_4_item.svg) no-repeat center center;
  background-size: cover;
  margin-top: 150px;

  @include mq-min-max-tb {
    margin-top: get-vw(150px);
    padding: 0 20px;
  }

  &__inner {
    padding: 250px 0;
    max-width: 1290px;
    margin: auto;

    @include mq-min-max-tb {
      padding: get-vw(250px) 0;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 60px 0 0;
  }

  &__item {
    width: 23%;
    text-align: center;

    @include mq-max-sp {
      width: 100%;
    }
  }

  &__card {
    &-image {
      border-radius: 30px;
      overflow: hidden;
      transform: scale(1.01);
      transition: all .3s ease-out;
    }

    &-heading {
      margin-top: 15px;
      font-size: 3.2rem;
      line-height: 1.3;
      color: $baseColor;
    }

    &-content {
      margin-top: 10px;
      font-size: 1.6rem;
      color: #777;
    }
  }
}