@import '_variables';

@mixin inputStyled {
  border: 0;
  background-color: #fff;
  font-family: inherit;
  font-size: 1.6rem;
  color: $baseColor;
  outline: none;
  appearance: none;
  border-radius: 26px;

  &::placeholder {
    color: #cecece;
  }
}

.-box-subscribe {
  margin-top: 100px;

  @include mq-max-sp {
    margin-top: 60px;
  }

  // @include mq-min-max-tb {
  //   padding-top: get-vw(150px);
  // }

  .inner {
    padding: 150px 0 50px;
    background: url(/assets/img/common/bg_subscribe_icons.png) no-repeat center top;
    background-size: contain;

    @include mq-max-sp {
      background: none;
      padding: 100px 0 50px;
    }
  }

  &::after {
    @include mq-max-sp {
      content: ''

    }
  }
}

.c-box-subscribe {
  background: #fff;
  border-radius: 30px;
  margin-bottom: 20px;
  background: url(/assets/img/common/bg_subscribe.png) no-repeat center top;
  background-size: contain;
  max-width: 1090px;
  min-height: 300px;
  padding: 74px 85px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;

  @include mq-max-sp {
    padding: 30px 0 50px;
    background: url(/assets/img/common/bg_box_subscribe_sp.svg) no-repeat center top;
    background-size: cover;
    border-radius: 0;
  }

  @include mq-min-max-tb {
    max-width: get-vw(1090px);
    min-height: get-vw(300px);
    padding: get-vw(74px) get-vw(85px);
  }

  .item {
    width: calc(100% - 187px);
    padding-left: 20px;

    @include mq-max-sp {
      width: 100%;
      padding:  0 40px;
    }

    @include mq-min-max-tb {
      width: auto;
    }

    &:nth-child(2) {
      @include mq-max-sp {
        padding-bottom: 200px;
        background: #FFC416;
      }
    }

    &.-signup-text {
      width: 187px;
      padding-left: 0;

      @include mq-max-sp {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-left: 40px;
      }

      @include mq-min-max-tb {
        width: get-vw(187px);
      }

      .box-sign-up {
        width: 188px;
        height: 173px;
        background: url(/assets/img/svg/signup-icon.svg) no-repeat center top;
        background-size: 100%;
        position: relative;

        @include mq-min-max-tb {
          width: get-vw(188px);
          height: get-vw(173px);
        }

        @include mq-max-sp {
          width: 166px;
          height: 154px;
          background-size: cover;
          margin-top: -120px;
          margin-bottom: 30px;
        }

        span {
          color: #FFC416;
          display: block;
          font-size: 4.6rem;
          font-weight: 600;
          line-height: 1.1;

          @include mq-max-sp {
            font-size: 4.1rem;
          }

          @include mq-min-max-tb {
            font-size: get-vw(46px);
          }
        }
      }
    }
  }

  .box-heading {
    @include mq-min-pc {
      padding-top: 20px;
    }

     >.heading {
      font-size: 2.8rem;
      font-weight: 600;
      text-align: left;
      color: $baseColor;

      @include mq-max-sp {
        font-size: 2.2rem;
        text-align: center;
        color: $baseColor;
      }

      @include mq-min-max-tb {
        font-size: get-vw(28px);
      }
    }
  }

  .box-form {
    .c-input-row {
      display: flex;
      flex-wrap: wrap;
      margin-top: 30px;

      @include mq-max-sp {
        justify-content: center;
      }

      .c-input {
        &.-text {
          width: 460px;
          min-height: 51px;
          padding: 12px 20px;
          @include inputStyled;
          line-height: 1.6;
          border-radius: 26px;
          margin-right: 15px;

          @include mq-max-sp {
            width: 76%;
          }

          @include mq-custom-max(320px) {
            width: 70%;
          }

          @include mq-min-max-tb {
            width: get-vw(460px);
          }
        }

        &.-error {
          background: #FFF5F5;
        }

        &.-submit {
          padding: 0 30px;
          display: block;
          background: radial-gradient(#fceabb, #f8b500);
          border-radius: 10px;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;

          @include mq-max-sp {
            width: 65px;
          }
        }
      }

      .fa {
        color: #211E1F;
        position: relative;
      }

      .c-button-cmn-01 {
        border: 1px solid #fff;
        min-height: 51px;

        &::before {
          box-shadow: none;
          background: transparent;
        }

        &::after {
          box-shadow: none;
        }

        &:hover {
          border: 0;

          @include mq-max-sp {
            padding-right: 20px;
          }

          &::before {
            background: #211E1F;
            color: $yellow
          }

          .text {
            color: $yellow;

            @include mq-max-sp {
              display: none;
            }
          }

          .fa {
            color: $yellow;
          }
        }
      }
    }
  }
}