@import '_variables';

/* box-article
---------------------------------------------------------- */
.c-box-article {
  // max-width: 870px;
  margin: 100px auto;
  font-weight: 300;

  // @include mq-max-tb{
  //   padding: 0 40px;
  //   width: 100vw;
  // }

  @include mq-max-sp {
    // padding: 0 15px;
    // width: 100vw;
    margin: 80px auto;
  }

  /* title
  ---------------------------------------------------------- */
  .c-title-01 {
    font-size: 3.6rem;
    font-weight: bold;
    color: #111;
    text-align: center;
    position: relative;
    margin-top: 100px;
    line-height: 1.3;

    @include mq-max-sp {
      font-size: 3rem;
      text-align: left;
      margin-top: 80px;
    }
  }

  /* heading
  ---------------------------------------------------------- */
  .c-heading-01 {
    font-size: 3.2rem;
    font-weight: bold;
    color: #111;
    position: relative;
    margin-top: 100px;
    line-height: 1.48;

    @include mq-max-sp {
      font-size: 2.4rem;
      text-align: left;
      margin-top: 80px;
    }
  }

  .c-heading-02 {
    font-size: 2.8rem;
    font-weight: bold;
    color: #111;
    position: relative;
    margin-top: 80px;
    padding-bottom: 12px;
    border-bottom: 2px solid #F0F0F0;
    line-height: 1.25;

    @include mq-max-sp {
      font-size: 2.2rem;
      text-align: left;
      margin-top: 70px;
      padding-bottom: 18px;
    }

    &::before {
      content: '';
      width: 75px;
      height: 2px;
      background: $darkGreen;
      display: inline-block;
      position: absolute;
      left: 0;
      bottom: -2px;

      @include mq-max-sp {
        width: 45px;
      }
    }
  }

  .c-heading-02--center {
    font-size: 2.8rem;
    font-weight: bold;
    color: #111;
    position: relative;
    margin-top: 80px;
    padding-bottom: 23px;
    line-height: 1.25;
    text-align: center;

    @include mq-max-sp {
      font-size: 2.2rem;
      margin-top: 70px;
      padding-bottom: 18px;
    }

    &::before {
      content: '';
      width: 50px;
      height: 2px;
      background: $darkGreen;
      display: inline-block;
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
    }
  }

  .c-heading-03 {
    font-size: 2.2rem;
    font-weight: bold;
    color: #111;
    position: relative;
    margin-top: 60px;
    padding-left: 15px;
    line-height: 1.3;

    @include mq-max-sp {
      font-size: 1.7rem;
      line-height: 1.7;
      text-align: left;
    }

    &::before {
      content: '';
      width: 3px;
      height: 100%;
      background: $darkGreen;
      display: inline-block;
      position: absolute;
      left: 0;
      top: 0;
    }
  }

  .c-heading-04 {
    font-size: 2.2rem;
    font-weight: bold;
    line-height: 1.3;
    color: $darkGreen;
    position: relative;
    margin-top: 60px;


    @include mq-max-sp {
      font-size: 1.7rem;
      text-align: left;
    }
  }

  /* text
  ---------------------------------------------------------- */
  .c-text-01 {
    font-size: 1.6rem;
    margin-top: 30px;
    line-height: 1.87;
    font-weight: 300;

    @include mq-max-sp {
      font-size: 1.4rem;
      margin-top: 25px;
    }

    &.mark {
      padding-left: 16px;
      text-indent: -1em;
    }
  }

  .c-text-02 {
    font-size: 1.4rem;
    margin-top: 30px;
    line-height: 1.78;
    font-weight: 300;

    @include mq-max-sp {
      font-size: 1.3rem;
      margin-top: 25px;
    }
  }

  .c-text-03 {
    font-size: 1.2rem;
    margin-top: 30px;
    line-height: 1.66;
    font-weight: 300;

    @include mq-max-sp {
      font-size: 1.2rem;
      margin-top: 25px;
    }
  }

  /* list
  ---------------------------------------------------------- */
  .c-list-01 {
    margin-top: 30px;
    counter-reset: list-counter;

    &__item {
      position: relative;
      padding-left: 15px;

      @include mq-max-sp {
        // padding-left: 15px;
      }

      &:not(:first-of-type) {
        margin-top: 10px;
      }

      .c-text-01 {
        margin-top: 0;
        color: #333333;

      }

      *+* {
        @include mq-max-sp {
          margin-top: 8px !important;
        }
      }

      &::before {
        counter-increment: list-counter;
        content: counter(list-counter)". ";
        position: absolute;
        left: 0;
        top: 0;
        color: $darkGreen;
        font-size: 1.6rem;
      }

      .c-list-01 {
        margin-top: 10px;

        @include mq-max-sp {
          margin-top: 15px !important;
        }

        &__item {
          @include mq-max-sp {
            padding-left: 22px;
          }

          &::before {
            color: #333 !important;
            font-size: 1.6rem;
            // font-weight: 400;
          }
        }
      }
    }
  }

  .c-list-02 {
    margin-top: 30px;

    &__item {
      position: relative;
      padding-left: 18px;

      @include mq-max-sp {
        padding-left: 15px;
      }

      &:not(:first-of-type) {
        margin-top: 5px;
      }

      &::before {
        content: "";
        position: absolute;
        border-radius: 50%;
        width: 6px;
        height: 6px;
        left: 3px;
        top: 11px;
        background: $darkGreen;
        font-size: 1.6rem;

        @include mq-max-sp {
          left: 0;
        }
      }

      .c-text-01 {
        margin-top: 0;
        color: #333333;
      }
    }
  }

  /* button
  ---------------------------------------------------------- */
  .c-box-button {
    &-cmn {
      &-01 {
        max-width: 200px;

        @include mq-max-sp {
          margin-top: 30px;
        }
      }
    }

    &__row {
      display: flex;
      align-items: center;

      @include mq-max-sp {
        display: block;
      }
    }

    .c-button-small {
      min-width: 200px;

      @include mq-max-sp {
        max-width: 180px;
        min-width: unset;
      }
    }

    .c-button-middle {
      min-width: 200px;
    }
  }


  /* table
  ---------------------------------------------------------- */
  .c-box-table-responsive-01 {
    margin-top: 50px;

    @include mq-max-sp {
      overflow-x: scroll;
    }
  }

  .c-box-table-responsive-02 {
    margin-top: 50px;
  }

  .c-box-table-responsive-03 {
    margin-top: 50px;
  }

  .c-table-responsive-01 {
    width: 100%;
    border-top: 1px solid #D8D8D8;
    border-left: 1px solid #D8D8D8;

    th,
    td {
      border-bottom: 1px solid #D8D8D8;
      border-right: 1px solid #D8D8D8;
      padding: 12px 20px;
      font-size: 1.6rem;

      @include mq-max-sp {
        font-size: 1.4rem;
      }
    }

    th {
      font-weight: bold;
      background: #F5F7F8;
      width: 80%;

      @include mq-max-sp {
        width: 70%;
      }

      &:first-of-type {
        width: 20%;

        @include mq-max-sp {
          width: 30%;
        }
      }
    }
  }

  .c-table-responsive-02 {
    width: 100%;
    border-top: 1px solid #D8D8D8;

    th,
    td {
      border-bottom: 1px solid #D8D8D8;
      padding: 23px 10px;
      font-size: 1.6rem;

      @include mq-max-sp {
        font-size: 1.4rem;
        display: block;
      }
    }

    th {
      font-weight: bold;
      width: 77%;

      @include mq-max-sp {
        width: 100%;
        border-bottom: 0 solid #D8D8D8;
        padding: 24px 0 5px;
      }

      &:first-of-type {
        width: 23%;

        @include mq-max-sp {
          width: 100%;
        }
      }
    }

    td {
      @include mq-max-sp {
        padding: 5px 0 24px;
      }
    }

    &__no-border {
      margin: 0;

      .c-table-responsive-02 {
        border-top: 0;
      }

      th,
      td {
        border-bottom: 0;
        padding: 23px 10px;
        font-size: 1.6rem;

        @include mq-max-sp {
          font-size: 1.4rem;
          display: block;
        }
      }
    }
  }

  .c-table-responsive-03 {
    width: 100%;

    @include mq-max-sp {
      border-top: 1px solid #D8D8D8;
    }

    tr {
      display: flex;
      justify-content: space-between;

      @include mq-max-sp {
        display: block;
      }

      &:first-of-type {

        th,
        td {
          @include mq-min-tb {
            border-top: 1px solid #D8D8D8;
          }
        }
      }
    }

    th,
    td {
      display: inline-flex;
      border-bottom: 1px solid #D8D8D8;
      padding: 23px 10px;
      width: 48.27%;
      font-size: 1.6rem;

      @include mq-max-sp {
        font-size: 1.4rem;
        width: 100%;
      }


    }

    th {
      font-weight: bold;
    }
  }

  /* box-border
  ---------------------------------------------------------- */
  .c-box-border {
    border: 1px solid #F0F0F0;
    padding: 50px;
  }
}
