@import '_variables';

.c-box-certificate {
  margin-top: 80px;

  @include mq-max-sp {
    margin-top: 60px;
    padding: 0 30px;
  }

  &__inner {
    max-width: 940px;
    margin: 70px auto;

    @include mq-max-sp {
      margin: 0 auto;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    @include mq-max-sp {
      margin: 0 -15px;
    }
  }

  &__item {
    margin: 0 10px;

    @include mq-max-sp {
      padding-left: 15px;
      padding-right: 15px;
      margin: 0;
    }

    &:nth-child(n+4) {
      @include mq-max-sp {
        margin-top: 20px;
      }
    }

    @include mq-max-sp {
      width: 25%;
      display: inline-flex;
      justify-content: center;
    }

    @include mq-custom-max(425px) {
      width: 50%;
      display: inline-flex;
      justify-content: center;
    }
  }

  &__image{
    @include mq-max-sp {
      width: auto;
    }
  }
}