@import '_variables';

.c-box-video {
  background: url(/assets/img/common/bg_box_video.svg) no-repeat center center;
  background-size: cover;;
  &__inner {
    max-width: 1440px;
    min-height: 1090px;
    margin: auto;

    @include mq-min-max-tb {
      max-width: get-vw(1440px);
      min-height: get-vw(1090px);
    }
  }
}