@import '_variables';

.c-box-card-list {
  &-01 {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 80px -15px 0;
  }
}

.c-box-card-01 {
  width: 33.33%;
  padding: 0 15px;

  &.-full {
    width: 100%;
    padding: 0;
  }

  .box-content {
    background: #333;
    color: #fff;
    padding: 20px;

    .c-heading-cmn-01 {
      color: #fff;
      font-weight: 500;
    }
  }
}