@import '../_mixin';

.c-box-our-farm {
  margin-top: 150px;

  @include mq-min-max-tb {
    padding: 0 20px;
  }

  @include mq-max-sp {
    margin-top: 20px;
  }

  &__inner {
    max-width: 1130px;
    margin: auto;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 60px 0 0;
  }

  &__item {
    width: 520px;
    margin-top: 60px;

    @include mq-min-max-tb{
      width: 48%;
    }

    @include mq-max-sp {
      width: 100%;
    }

    &:nth-child(1),
    &:nth-child(2) {
      margin-top: 0;
    }
  }

  &__card {
    &-image {
      overflow: hidden;
      transform: scale(1.01);
      transition: all .3s ease-out;
      border-radius: 30px;
      box-shadow: 10px 15px 35px 0 rgba(0,0,0,0.20);
      
      > img {
        width: 100%;
      }
    }

    &-heading {
      margin-top: 20px;
      font-size: 3.2rem;
      color: $baseColor;
    }

    &-content {
      margin-top: 10px;
      font-size: 1.6rem;
      color: #777;
    }
  }

  &:hover {
    &-image {
      transform: scale(1.2);
    }
  }
}