.c-button-cmn {
  &-01 {
    padding: 10px 20px;
    cursor: pointer;
    position: relative;
    display: inline-flex;
    align-items: center;
    border-radius: 30px;
    overflow: hidden;
    backface-visibility: hidden;
    transition: all 0.3s ease;
    border: 1px solid #fff;
    transition: all .5s;

    &:hover {
      padding-right: 40px;
      border: 0;
      box-shadow: 3px 5px 15px 0px rgba(0,0,0,0.16);

      .arrow {
        opacity: 1;
      }

      &::before {
        width: 100%;
        background: radial-gradient(#FCE279, #FFC416);
      }

      &::after {

      }

      .text {
        opacity: 1;
        font-size: 1.4rem;
        padding: 0 10px 0 15px;
      }
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      transition: all 0.25s ease;
      border-radius: 30px;
    }

    &::before {
      width: 0;
    }

    &.--border-base {
      border-color: $baseColor;
    }

    .arrow {
      transition: all .3s ease 0s;
    }

    >.text {
      font-weight: 500;
      font-size: 1.4rem;
      color: $baseColor;
      position: relative;
      font-size: 0;
      opacity: 0;
      transition: all .3s ease-out;
    }

    &.--green {
      .arrow,
      .text {
        color: $white;
      }

      &:hover {
        padding-right: 40px;
        border: 0;
        box-shadow: 3px 5px 15px 0px rgba(0,0,0,0.16);

        .arrow {
          opacity: 1;
        }

        &::before {
          width: 100%;
          background: radial-gradient(#43AB3F, #245D38);
        }

        .text {
          display: inline-block;
        }
      }
    }
  }
}

.c-button {
  $this: #{&};
  display: inline-flex;
  position: relative;
  width: 100%;
  padding: 15px;
  padding: 10px;
  // line-height: 1.2;
  justify-content: center;
  align-items: center;
  text-align: left;
  border: none;
  background-image: linear-gradient(to right, #06d496, #00bd7b);
  border-radius: 30px;
  font-size: 1.4rem;
  color: #fff;
  letter-spacing: normal;
  color: #fff;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);

  &::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    transition: opacity 0.3s;
    z-index: 2;
    opacity: 0;
    background-image: linear-gradient(to right, #fff, #fff);
  }

  &:hover::after {
    opacity: 1;
  }

  &__text {
    display: inline-flex;
    position: relative;
    z-index: 3;

    @media all and (-ms-high-contrast: none),
    (-ms-high-contrast: active) {
      transform: translateY(-1px);
    }
  }

  &__icon::before,
  &__icon::after {
    position: absolute;
    top: 50%;
    right: 12px;
    z-index: 3;
    transform: translateY(-50%);
  }

  //margin
  &-margin {
    margin-left: 5px;
    margin-right: 5px;

    @include mq-min-tb {
      margin-left: 10px;
      margin-right: 10px;
      max-width: 200px;
    }
  }

  // size
  &-auto {
    @extend #{$this};
    width: auto;
  }

  &-small {
    @extend #{$this};
    // max-width: 100px;
    min-width: 140px;
    font-size: 1.2rem;
    line-height: 1.5;
    padding: 10px;
    height: 40px;
  }

  &-middle {
    @extend #{$this};
    // min-width: 200px;
    min-width: 150px;
    padding: 15px;
    font-size: 1.4rem;
    line-height: 1.45;
    height: 50px;
  }

  &-large {
    @extend #{$this};
    // max-width: 300px;
    min-width: 160px;
    padding: 20px;
    font-size: 1.6rem;
    line-height: 1.25;
    height: 60px;
  }

  // colors
  &--green {
    background-image: linear-gradient(to right, #06d496, #00bd7b);
  }

  &--green::after {
    background-image: linear-gradient(to right, #50e1b5, #4dd1a3);
  }

  &--orange {
    background-image: linear-gradient(to right, #f8b500, #f8b500);
  }

  &--orange::after {
    background-image: linear-gradient(to right, #f8b900, #f8b900);
  }
}

$primary-color: #00489F;
$dark-nuetral: #2f2f2f;
$primary-color-hover: tint($primary-color, 50%);
$timing: 0.6s;
$easing: cubic-bezier(.6, .15, .51, 1);
$reverse-easing: cubic-bezier(1, .51, .15, .6);

.-button {
  $spacing: 13px;
  line-height: 1.2;
  font-weight: 300;
  $timing: 600ms;
  $easing: cubic-bezier(.6, .15, .51, 1.25);
  padding: 0 17px 0 03px;
  $icon-width: 18px;
  overflow: hidden;
  position: relative;
  transition:
    background-color $timing $easing,
    border-color $timing $easing,
    color $timing $easing;

  &:focus {
    outline: none;
  }

  &:active {
    background-color: shade($primary-color-hover, 20%);
    border-color: shade($primary-color-hover, 20%);
  }

  .fa {
    position: absolute;
    top: 50%;
    right: 0;
    opacity: 1;
    color: #fff;
    transition:
      transform $timing * .718 $easing,
      opacity $timing $easing;
      transform: translateY(-50%);
  }

  .fa--bottom {
    transform: translateY(-25px);
    color: #211E1F;
  }
}

.-btn-where-to-buy {
  background-image: radial-gradient(#FCE279, #FFC416);

  &:hover {
    background-color: $primary-color-hover;
    border-color: $primary-color-hover;
    color: $dark-nuetral;

    .fa {
      transform: translateY(50px);
      opacity: 0;
    }

    .fa--bottom {
      transform: translateY(-7px);
      opacity: 1;
    }
  }
}