@import '_variables';

.c-fix-panel {
  position: fixed;
  bottom: 120px;
  right: 15px;
  z-index: 40;

  @include mq-max-sp {
    display: none;
  }

  .inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .c-call {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 85px;
    height: 60px;
    background: rgba(33, 30, 31, 0.65);
    border-top-left-radius: 31px;
    border-bottom-left-radius: 31px;
    padding: 5px;
    transition: all .3s;

    &:hover {
      background: rgba(33, 30, 31, 0.95);

      .icon {
        transform: scale(1.02);
      }
    }

    .icon {
      width: 22px;
      height: 22px;
      background: url(/assets/img/common/icon_fix_call.png) no-repeat;
      background-size: 100%;
      margin: auto;
      transition: all .3s;
    }
  }

  .c-message {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 85px;
    height: 60px;
    background: rgba(33, 30, 31, 0.65);
    border-top-right-radius: 31px;
    border-bottom-right-radius: 31px;
    padding: 5px;
    margin-left: 1px;
    transition: all .3s;

    &:hover {
      background: rgba(33, 30, 31, 0.95);

      .icon {
        transform: scale(1.02);
      }
    }

    .icon {
      width: 31px;
      height: 30px;
      background: url(/assets/img/common/icon_fix_line.png) no-repeat center center;
      background-size: 100%;
      margin: auto;
      transition: all .3s;
    }
  }

  .text {
    color: #fff;
    text-align: center;
    font-size: 1rem;
    display: block;
  }
}