@import '_variables';

/* footer-list-sns
---------------------------------------------------------- */
.c-footer-list-sns {
  display: flex;

  @include mq-max-sp {
    justify-content: center;
  }

  &__item {
    margin-right: 20px;

    @include mq-max-sp {
      margin-right: 15px;
    }

    .fab {
      font-size: 1.8rem;
      color: #333;
      transition: all .3s;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }

  &__link {
    &:hover {
      .fab {
        transform: translateY(-10px);
      }
    }
  }
}