
.c-scroll-down-button {
  $this: &;

  position: relative;

  &::before {
    content: '';
    width: 62px;
    height: 65px;
    top: -680px;
    left: -245px;
    background: url(/assets/img/common/scroll_down.svg) no-repeat;
    background-size: cover;
    z-index: 1;
    backface-visibility: hidden;
    position: absolute;
    transition: all .3s ease-in-out;
    opacity: 1;
    animation: vertical 1.5s ease-in-out infinite alternate;

    @include mq-max-sp {
      display: none;
    }

    @include mq-min-max-tb {
      width: get-vw(62px);
      height: get-vw(65px);
      top: get-vw(-680px);
      left: get-vw(-245px);
    }

    @media (max-width: 1024px) {
      left: get-vw(-230px);
    }
  }

  &::after {
    content: '';
    width: 66px;
    height: 81px;
    top: -680px;
    left: -245px;
    background: url(/assets/img/common/scroll_down_hover.svg) no-repeat;
    background-size: cover;
    z-index: 1;
    backface-visibility: hidden;
    position: absolute;
    transition: all .3s ease-in-out;
    opacity: 0;

    @include mq-min-max-tb {
      width: get-vw(66px);
      height: get-vw(81px);
      top: get-vw(-680px);
      left: get-vw(-245px);
    }

    @media (max-width: 1024px) {
      left: get-vw(-230px);
    }
  }

  &:hover {
    &::before {
      opacity: 0;
    }

    &::after {
      opacity: 1;
      transform: translateY(10px);
    }
  }
}


.c-scroll-down-button__static-page {
  $this: &;

  position: absolute;
  display: block;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 62px;
  height: 65px;

  &::before {
    content: '';
    width: 62px;
    height: 65px;
    display: block;
    position: absolute;
    top: 5px;
    background: url(/assets/img/common/scroll_down.svg) no-repeat;
    background-size: cover;
    z-index: 1;
    backface-visibility: hidden;
    transition: all .3s ease-in-out;
    opacity: 1;
    animation: vertical 1.5s ease-in-out infinite alternate;

    @include mq-max-sp {
      display: none;
    }

    @include mq-min-max-tb {
      width: get-vw(62px);
      height: get-vw(65px);
    }
  }

  &::after {
    content: '';
    width: 66px;
    height: 81px;
    display: block;
    background: url(/assets/img/common/scroll_down_hover.svg) no-repeat;
    background-size: cover;
    z-index: 1;
    backface-visibility: hidden;
    transition: all .3s ease-in-out;
    opacity: 0;
    position: absolute;
    top: 0;

    @include mq-min-max-tb {
      width: get-vw(66px);
      height: get-vw(81px);
    }
  }

  &:hover {
    &::before {
      opacity: 0;
    }

    &::after {
      opacity: 1;
      transform: translateY(10px);
    }
  }
}