.c-bg-wave-mainvisual {
  width: 100%;
  min-height: 800px;
  background: #FCFBF2;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;

  .c-bg-wave-mainvisual-solid {
    width: 100%;
    overflow: hidden;
    position: absolute;
    transform: translateY(-50%);
    bottom: -300px;
    transform: rotate(180deg);
    z-index: 1;

    canvas {
      display: block;
    }
  }
}

.c-bg-wave-mainvisual-sub {
  width: 100%;
  min-height: 700px;
  background: #FCFBF2;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;

  @include mq-max-sp {
    min-height: 530px;
  }

  .c-bg-wave-mainvisual-solid {
    width: 100%;
    overflow: hidden;
    position: absolute;
    transform: translateY(-50%);
    bottom: -200px;
    transform: rotate(180deg);
    z-index: 1;

    @include mq-max-sp {
      bottom: -100px;
    }

    canvas {
      display: block;
    }
  }
}

.c-wave-yellow {
  width: 100%;
  overflow: hidden;
  position: absolute !important;
  transform: translateY(-50%) !important;
  top: -55px;
  left: 0;

  canvas {
    display: block;
  }
}

.c-wave-yellow-bottom{
  width: 100%;
  overflow: hidden;
  position: absolute !important;
  transform: translateY(-50%) !important;
  bottom: -110px;
  left: 0;
  transform: rotate(180deg) !important;
  z-index: 1;

  canvas {
    display: block;
  }
}

.c-wave-cream {
  width: 100%;
  overflow: hidden;
  position: absolute;
  transform: translateY(-50%);
  top: -55px;

  canvas {
    display: block;
  }
}

.c-wave-cream-bottom{
  width: 100%;
  overflow: hidden;
  position: absolute;
  transform: translateY(-50%);
  bottom: -110px;
  transform: rotate(180deg);
  z-index: 1;

  canvas {
    display: block;
  }
}

.c-wave-green {
  width: 100%;
  overflow: hidden;
  position: absolute;
  transform: translateY(-50%);
  top: -55px;
  left: 0;

  canvas {
    display: block;
  }
}

.c-wave-green-bottom{
  width: 100%;
  overflow: hidden;
  position: absolute;
  transform: translateY(-50%);
  bottom: -110px;
  transform: rotate(180deg);
  z-index: 1;

  canvas {
    display: block;
  }
}

.c-wave-orange {
  width: 100%;
  overflow: hidden;
  position: absolute;
  transform: translateY(-50%);
  top: -55px;

  canvas {
    display: block;
  }
}

.c-wave-orange-bottom{
  width: 100%;
  overflow: hidden;
  position: absolute;
  transform: translateY(-50%);
  bottom: -110px;
  transform: rotate(180deg);
  z-index: 1;
  left: 0;

  canvas {
    display: block;
  }
}

.c-bg-wave-white-solid{
  width: 100%;
  overflow: hidden;
  position: absolute;
  top: -117px;
  transform: translateY(-50%);
}


.c-wave-white {
  width: 100%;
  overflow: hidden;
  position: absolute;
  transform: translateY(-50%);
  top: -55px;

  canvas {
    display: block;
  }
}

.c-wave-white-bottom{
  width: 100%;
  overflow: hidden;
  position: absolute;
  transform: translateY(-50%);
  bottom: -110px;
  transform: rotate(180deg);
  z-index: 1;

  canvas {
    display: block;
  }
}