.p-address {
  
  &__title {
    @include mq-min-tb {

    }
  }
  &__title-01 {
    display: inline-block;
  }
  &__content {
    width: 100%;
    display: table;
    table-layout: auto;
    font-size: 1.4rem;
    @include mq-min-tb {
      font-size: 1.6rem;
    }
    // 余白
    * + & {
      margin-top: 15px;
      @include mq-min-tb {
        margin-top: 20px;
      }
    }
  }
  &__content-item {
    display: table-row;
    @include mq-min-tb {
    }
  }
  &__content-title {
    display: table-cell;
    width: 50px;
    padding-right: 6px;
    padding-bottom: 3px;
    font-weight: bold;
    white-space: nowrap;
    @include mq-min-tb {
    }
  }
  &__body {
    display: table-cell;
    padding-bottom: 5px;
    padding-left: 20px;
    @include mq-min-tb {
    }
  }
  &__trigger {
    width: 180px;
    margin-top: 10px;
    @include mq-min-tb {
      margin-top: 8px;
    }
  }

  //marging
  * + & {
    @include component;
  }
}
