.p-breadcrumb {
  display: none;
  @include mq-min-tb {
    display: block;
    position: relative;
    z-index: 50;
    margin-top: -51px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #fff;
    font-size: 1.2rem;
  }
  &__sub-page{
    @include mq-min-tb{
      margin-top: -65px;
    }
  }
  &__group {
    display: flex;
    flex-wrap: wrap;
  }
  &__item + &__item::before {
    content: '|';
    margin: 0 15px;
  }
  &__link {
    color: #fff;
    @include hoverOpacity;
  }
  &__md{
    @include mq-min-tb{
      max-width: 870px;
      margin-left: auto;
      margin-right: auto;
      padding-left: 0;
      padding-right: 0;
    }
  }
}
