/* p-company
---------------------------------------------------------- */
.p-company {
  $this: #{&};
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #fff;
  @include mq-min-tb {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  //grey
  &--grey {
    @extend #{$this};
    background-color: #F5F7F8;
  }
  &__in {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.03);
    @include mq-min-tb {
      flex-direction: row;    
    }
  }
  &__reverse {
    @include mq-min-tb {
      flex-direction: row-reverse;
    }
  }
  &__figure {
    height: 181px;
    @include mq-min-tb {
      width: 50%;
      height: auto;
    }
  }
  &__image {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
  }
  &__content {
    $content: #{&};
    background-color: #F5F7F8;
    @include mq-min-tb {
      display: flex;
	    align-items: center;
      width: 50%;
    }
    //white
    &--white {
      @extend #{$content};
      background-color: #fff;
    }
  }
  &__content-in {
    padding: 20px;
    @include mq-min-tb {
      padding: 20px 60px;
    }
  }
  &__title {
    font-size: 2rem;
    font-weight: bold;
    color: #1EAA69;
    @include mq-min-tb {
      font-size: 2.2rem;
    }
  }
  &__text {
    margin-top: 10px;
    @include mq-min-tb {
      margin-top: 20px;
    }
  }
  &__trigger {
    margin-top: 20px;
    @include mq-min-tb {
      margin-top: 30px;
    }
  }
}
