.p-contact {
  text-align: center;
  &__in {
    background-color: #F5F7F8;
    padding: 32px 15px 40px;
    @include mq-min-tb {
      padding: 40px 15px 50px;
      max-width: 570px;
      margin: 0 auto;
    }
  }
  &__title {
    font-size: 2rem;
    font-weight: bold;
    @include mq-min-tb {
      font-size: 2.2rem;
    }
  }
  &__content {
    margin-top: 10px;
    @include mq-min-tb {
      margin-top: 20px;
    }
  }
  &__trigger {
    width: 244px;
    margin: 15px auto 0;
    @include mq-min-tb {
      margin-top: 25px;
    }
  }

  //marging
  * + & {
    @include component;
  }
}
