/* p-history
---------------------------------------------------------- */
.p-history {
  @include mq-min-tb {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid #DFDFDF;
  }
  &__date {
    padding: 23px 20px;
    background-color: #00A562;
    border-bottom: 1px solid #DFDFDF;
    font-weight: bold;
    color: #fff;
    @include mq-min-tb {
      width: 150px;
      padding: 25px 0;
      text-align: center;
    }
  }
  &__text{
    padding: 28px 0;
    border-bottom: 1px solid #DFDFDF;
    @include mq-min-tb {
      width: calc(100% - 150px);
      padding: 25px 0 25px 58px;
    }
  }
}
