/* mainvisual
---------------------------------------------------------- */
.p-mainvisual {
  position: relative;
  z-index: 1;

  // @include mq-min-tb{
  //   height: calc(100vh - 100px);
  // }

  &.slick-initialized {
    overflow-y: hidden;
  }

  &::before {
    content: '';
    position: absolute;
    z-index: 1;
    right: 0;
    bottom: -40px;
    width: 740px;
    height: 740px;
    // background: url('/assets/img/common/svg/img_rectangle.svg') no-repeat;
    background-size: cover;

    @include mq-max-sp {
      right: -16px;
      bottom: -21px;
      width: 446px;
      height: 446px;
      // background: url('/assets/img/common/svg/img_rectangle.svg') no-repeat;
      background-size: cover;
    }
  }
}

.p-main-slider {
  &__bg {
    height: 100vh;
    // background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    transition: transform 9.5s;
    transform: scale(1.05) translateZ(0) rotate(0.1deg);
    // z-index: 20;
    max-width: 100%;
    display: block;
    position: relative;
    width: 100%;

    @include mq-max-sp {
      height: 522px;
      background-position: center top;
    }
  }

  .on &__bg {
    position: relative;
    overflow: hidden;
    transform: scale(1) translateZ(0);
  }
}