.box-swiper-01 {
  position: relative;

  .swiper-nav-custom {
    text-align: center;
  }

  .slick-slide {
    .swiper-slide {
      padding: 0 15px;
    }
  }

  .article-content {
    padding: 0;
    transition: all 0.3s ease;
    font-size: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: left;
    padding: 0 0 50px;
    transition: all .3s ease .3;
    position: relative;

    .c-shadow {
      top: 0;
      left: 0;
      right: 0;
      bottom: 50px;
      position: absolute;
      z-index: 1;
      box-shadow: 20px 20px 35px 0px rgba(0,0,0,0.1);
      border-radius: 30px;
    }

    .c-box-card-01.-full {
      padding-top: 138.33%;
      position: relative;
      overflow: hidden;
      border-radius: 30px;

      .c-overlay {
        top: auto;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
        background: rgba(0, 0, 0, 0.3);
        z-index: 5;
        opacity: 0;
        transition: all .3s;
      }

      &:hover {
        .box-content {
          bottom: 0;
        }

        .c-overlay {
          top: 0;
          opacity: 1;
        }

        .box-image {
          .image {
            transform: scale(1.1);
          }
        }

        .c-text-cmn-01 {
          opacity: 1;
        }

        .c-heading-cmn-01 {
          bottom: 100px;
        }
      }
    }

    .box-image {
      // padding-top: 72.28%;
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;

      .image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all .3s;
      }
    }

    .box-content {
      position: absolute;
      background: transparent;
      bottom: -40px;
      left: 0;
      z-index: 6;
      padding: 0 20px;
      transition: all .3s;

      @media (min-width: 1600px) {
        bottom: -35px;
      }

      .c-heading-cmn-01 {
        transition: all .3s;
        font-size: 3rem;
        line-height: 1.1;
      }

      .c-text-cmn-01 {
        padding-bottom: 20px;
        opacity: 0;
        transition: all .3s;
        font-weight: 300;
        line-height: 1.6;
        margin-top: 10px;
      }
    }
  }
}

.box-swiper-js {
  width: 100%;
  height: 100%;

  .swiper-pagination {
    position: relative;
    margin-top: 40px;
  }
}

.swiper-wrapper {
  /*margin-left: -100px;*/
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  margin: 0px;
  transition: all 0.5s ease;
}

.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #000;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
}

.swiper-pagination-bullet-active {
  color: #fff;
  background: #333;
}

.swiper-nav-custom {
  position: relative;
}

.swiper-slide-active {
  /*  margin: 0px 100px;*/
}

.article-content.active {
}

.swiper-button-prev,
.swiper-button-next {
  z-index: 10;
  cursor: pointer;
  background-size: 27px 44px;
  background-position: center;
  background-repeat: no-repeat;
}