
.swiper-slide {
  text-align: center;
  font-size: 18px;
  margin: 0px;
  transition: all 0.5s ease;
}

.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #000;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
}

.swiper-pagination-bullet-active {
  color: #fff;
  background: #333;
}

.swiper-nav-custom {
  position: relative;
}

.swiper-slide-active {
  /*  margin: 0px 100px;*/
}

.article-content.active {
}

.swiper-button-prev,
.swiper-button-next {
  z-index: 10;
  cursor: pointer;
  background-size: 27px 44px;
  background-position: center;
  background-repeat: no-repeat;
}