/* p-talk-hero
---------------------------------------------------------- */
.p-talk-hero {
  position: relative;
  &__in {
  }
  &__figure {
    // height: 304px;
    @include mq-min-tb {
      height: 676px;
      margin-bottom: -92px;
    }
  }
  &__image {
    width: 100%;
    height: 100%;
    object-position: top;
    object-fit: cover;
  }
  &__heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 170px;
    margin: 0 -15px;
    padding: 0 40px;
    background-image: linear-gradient(to right, #0EE99C , #00D394);
    @include mq-min-tb {
      position: relative;
      margin-top: -95px;
      height: 188px;
      margin: 0;
    }
  }
  &__num {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    width: 185px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 2rem;
    line-height: 1;
    color: #00A564;
    text-align: center;
    @include mq-min-tb {
      left: auto;
      top: -50px;
      right: 0;
      transform: translateX(0);
      font-size: 2.2rem;
    }
  }
  &__text {
    font-weight: bold;
    color: #fff;
    text-align: center;
    font-size: 1.8rem;
    @include mq-min-tb {
      font-size: 2.6rem;
    }
  }
  &__title {
    font-weight: bold;
    color: #fff;
    text-align: center;
    font-size: 2.6rem;
    line-height: 1.5;
    @include mq-min-tb {
      font-size: 3.6rem;
    }
  }
  &__body {
    padding: 40px 0;
    border-bottom: 1px solid #DFDFDF;
    @include mq-min-tb {
      padding: 60px 0;
      max-width: 870px;
      margin: 0 auto;
    }
  }
}

/* p-chat-hero
---------------------------------------------------------- */
.p-chat-hero {
  &__item {
    display: flex;
    align-items: center;
    &.row {
      @include mq-min-tb {
        flex-direction: column;
      }
    }
  }
  &__figure {
  }
  &__image {
    width: 100px;
    @include mq-min-tb {
      width: 150px;
    }
  }
  &__content {
    padding-left: 16px;
    @include mq-min-tb {
      padding-left: 20px;
    }
    &.row {
      @include mq-min-tb {
        padding-left: 0;
        padding-top: 10px;
        text-align: center;
      }
    }
  }
}

/* p-talk
---------------------------------------------------------- */
.p-talk {
  margin-top: 70px;
  @include mq-min-tb {
    margin-top: 90px;
  }
  &__title {
    position: relative;
    margin-bottom: 40px;
    padding-bottom: 20px;
    font-size: 2.2rem;
    text-align: center;
    font-weight: bold;
    line-height: 1.5;
    @include mq-min-tb {
      margin-bottom: 40px;
      padding-bottom: 20px;
      font-size: 2.8rem;
    }
    &::after {
      content: '';
      position: absolute;
      left: 50%;
      bottom: 0;
      width: 50px;
      height: 2px;
      background-color: #1EAA69;
      transform: translateX(-50%);
    }
  }
  &__body {
    @include mq-min-tb {
      max-width: 870px;
      margin: 0 auto;
    }
  }
  &__figure {
    @include mq-min-tb {
    }
  }
  &__image {
    @include mq-min-tb {
    }
  }
}

/* p-chat
---------------------------------------------------------- */
.p-chat {
  @include mq-min-tb {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__thumb {
    margin-bottom: 15px;
    @include mq-min-tb {
      margin-bottom: 50px;
    }
  }
  &__figure {
    display: flex;
    align-items: center;
    @include mq-min-tb {
      display: block;
      text-align: center;
    }
  }
  &__image {
    width: 50px;
    @include mq-min-tb {
      width: 90px;
    }
  }
  &__caption {
    margin: 0 0 0 10px;
    @include mq-min-tb {
      margin: 10px 0 0;
    }
  }
  &__content {
    margin-bottom: 25px;
    @include mq-min-tb {
      width: calc(100% - 120px);
      margin-bottom: 50px;
    }
  }
  &__text {
    line-height: 1.8;
    @include mq-min-tb {
      margin-top: -10px;
      line-height: 1.9;
    }
  }
}
