@import '../_mixin';

.p-about-us {
  .c-mv-sub-page__inner {
    @include mq-max-sp {
      min-height: 700px;
    }
  }

  .c-box-time-line__line {
    width: 689px;
    height: 1693px;
    background: url(/assets/img/our-story/bg_line_connect.png) no-repeat center center;
    background-size: cover;
    position: absolute;
  }

  .c-box-certificate {
    margin-top: 200px;

    @include mq-max-sp {
      margin-top: 150px;
      margin-bottom: 60px;
    }

    .c-heading-egg__text {
      padding-left: 0;
    }

    &__list {
      margin-top: 80px;
    }
  }

  .-box-subscribe {
    .inner {
      padding-top: 100px;
      background: none;
    }
  }

  .c-box-time-line {
    $this: #{&};

    @include mq-max-sp {
      margin-top: 150px;
    }

    &__inner {
      max-width: 1140px;
      margin: auto;
      position: relative;

      @include mq-min-max-tb {
        padding: 0 20px;
        max-width: get-vw(1140px);
      }

      @include mq-max-sp {
        padding: 0 30px;
      }
    }

    &__line {
      width: 868px;
      height: 1444px;
      background: url(/assets/img/about-us/bg_line_connect.png) no-repeat center center;
      background-size: cover;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      z-index: 1;
      top: -100px;

      @include mq-min-max-tb {
        width: get-vw(868px);
        height: get-vw(1444px);
        top: get-vw(-100px);
      }
    }

    &__list {
      margin-top: -100px;
      position: relative;
      z-index: 2;

      @include mq-min-max-tb {
        margin-top: get-vw(100px);
      }
    }

    &__item {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 120px;
      align-items: center;

      @include mq-min-max-tb {
        margin-top: get-vw(120px);
      }

      &:first-of-type {
        margin-top: 0;
      }

      &:nth-child(even) {
        align-items: center;

        .c-box-time-line__image {
          order: 2;
        }

        .c-box-time-line__content {
          order: 1;
        }
      }

      &:nth-child(odd) {
        .c-box-time-line__content {
          padding-top: 0;
        }
      }
    }

    &__image {
      width: 500px;

      @include mq-max-sp {
        width: 50%;
      }

      @include mq-min-max-tb {
        width: get-vw(500px);
      }
    }

    &__content {
      width: 520px;

      @include mq-max-sp {
        width: 50%;
        flex: 1;
      }

      @include mq-min-max-tb {
        width: get-vw(520px);
      }

      &-heading {
        font-size: 4.8rem;
        line-height: 1.3;
        color: $baseColor;
      }

      &-text {
        margin-top: 20px;
        font-size: 1.6rem;
        color: #777;

        @include mq-max-sp {
          font-size: 1.4rem;
        }

        &:first-of-type {
          margin-top: 0;
        }
      }
    }
  }

  .c-box-our-egg {
    margin-top: 200px;
  }

  .c-our-brand {
    margin-top: 200px;

    @include mq-max-sp {
      margin-top: 150px;
    }

    &__inner {
      padding: 0 30px;
    }
  }

  .c-voice-box {
    background: linear-gradient(0deg, #ffc416 0%, #fce279 50%, #ffc416 100%);
    position: relative;
    margin-top: 200px;

    @include mq-max-sp {
      padding: 20px 30px 0px;
    }

    &__inner {
      padding: 40px 0 100px;

      @include mq-max-sp {
        padding: 0;
      }
    }

    &__slider-box {
      border-radius: 20px;
    }

    &__fix-box-heading {
      @include mq-min-max-tb {
        font-size: 2.8rem;
      }
    }

    &__fix-box-heading-icon {
      @include mq-min-max-tb {
        top: 0;
      }
    }
  }

  .c-box-time-line {
    @include mq-min-max-tb {
      margin-top: get-vw(-200px);
    }
  }
}