@import '../_mixin';

.p-career {
  .c-box-time-line {
    @include mq-custom-min (1440px) {
      margin-top: -100px;
    }

    @include mq-max-sp {
      padding: 0 30px;
    }

    @include mq-min-max-tb {
    
    }

    .c-heading-egg {
      @include mq-max-sp {
        width: 100%;
      }
    }

    &__item {
      @include mq-max-sp {
        margin-top: 0;
        width: 100%;
      }

      &:nth-child(odd){
        .c-box-time-line__content {
          padding-top: 0;

          .c-box-contact {
            padding: 25px 40px;
            border: 1px solid $yellow;
            border-radius: 15px;
            margin-top: 20px;
            background: $white;

            &__heading {
              font-size: 2.2rem;
            }

            &__list {
              display: flex;
              flex-wrap: wrap;
              justify-content: space-between;

              &-item {
                width: 48%;
                margin-top: 10px;

                > .heading {
                  font-weight: 500;
                }

                > .text {
                  color: #777;
                }
              }
            }
          }
        }

        .c-box-time-line__content {
          padding-top: 0;

          @include mq-max-sp {
            width: 100%;
          }

          .c-box-contact {
            padding: 25px 40px;
            border: 1px solid $yellow;
            border-radius: 15px;
          }
        }

        .c-box-time-line__image {
          @include mq-max-sp {
            margin-bottom: 30px;
            width: 100%;
            text-align: center;
          }
        }
      }

      &:nth-child(even){
        align-items: center;
        justify-content: flex-end;

        .c-box-time-line__content {
          padding-top: 0;

          @include mq-max-sp {
            width: 100%;
          }
        }

        .c-box-time-line__image {
          @include mq-max-sp {
            order: 1;
            width: 100%;
            margin-top: 80px;
            margin-bottom: 30px;
            text-align: center;
          }
        }
      }
    }

    &__line {
      width: 868px;
      height: 1289px;
      background: url(/assets/img/career/bg_line_connect.png) no-repeat center center;
      background-size: cover;
      position: absolute;
      left: 51%;
      transform: translateX(-50%);
      z-index: 1;
      top: -250px;

      @include mq-min-max-tb {
        width: get-vw(868px);
        height: get-vw(1289px);
        top: get-vw(-250px);
      }
    }

    &__content {
      .c-heading-egg__icon {
        display: inline-flex;
        align-items: center;
        justify-content: center;

        .c-clipboard-icon {
          width: 23px;
          height: 30px;
          background: url(/assets/img/svg/clipboard-list-solid.svg) no-repeat center center;
          background-size: cover;
        }
      }

      &-list {
        margin-top: 3location0px;

        @include mq-max-sp {
          margin-top: 20px;
        }

        &-item {
          padding-left: 20px;
          color: #777;
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          position: relative;
          line-height: 2;

          @include mq-max-sp {
            padding-left: 0;
          }

          .fas, i {
            padding-right: 20px;
            color: #777;
          }

          .text {
            color: #777;
          }
        }
      }
    }

    &__link {
      margin-top: 10px;
      padding-left: 15px;
      display: flex;
      flex-wrap: wrap;

      @include mq-max-sp {
        padding-left: 0;
      }

      .c-hand-icon {
        width: 22px;
        height: 25px;
        background: url(/assets/img/svg/hand-point-up-regular.svg) no-repeat center center;
        background-size: cover;
        display: inline-block;
        margin-right: 10px;
      }

      &-text {
        color: #777;
      }

    }

    &__list {
      @include mq-max-sp {
        margin-top: 0;
      }
    }
  }

  .c-voice-box {
    max-width: 100%;
    padding: 80px 0 150px;
    background: #FCFBF2;
    position: relative;
    margin: 150px 0 100px;

    @include mq-max-sp {
      padding: 30px 0 0;
    }

    &__inner {
      max-width: 1300px;
      margin: auto;

      @include mq-max-sp {
        padding: 0 30px;
      }
    }
  }

  .-box-subscribe .inner {
    background: none;
  }
}

.c-box-jobs {
  display: none;

  &__heading {
    padding: 0 0 20px;
    border-bottom: 3px dotted #DCDCDC;

    > .location {
      color: #777;
      padding-left: 30px;
      background: url(/assets/img/svg/icon-mapmarker.svg) no-repeat left center;
      background-size: 16px;

      @include mq-max-sp() {
        font-size: 1.6rem;
      }
    }
  }

  &__content {
    color: #777;
    padding: 0 0 20px;
    border-bottom: 3px dotted #DCDCDC;

    > .sub-title {
      margin-top: 20px;

      @include mq-max-sp {
        font-size: 1.6rem !important;
      }
    }

    > .text {
      margin-top: 10px;
    }

  }

  &__apply {
    .c-box-cmn-button {
      margin-top: 20px;

      .c-button-cmn-01 {
        background-image: radial-gradient(to right, #FCE279, #FFC416);
        box-shadow: 3px 5px 15px 0px rgba(0,0,0,0.16);

        &:hover {
          padding-right: 30px;

          .arrow {
            color: $yellow;
          }
        }

        .text {
          font-size: 1.5rem;
          font-weight: 500;
          opacity: 1;
          padding: 0 10px 0 15px;
          text-transform: uppercase;
        }

        .arrow {
          color: $baseColor;
        }
      }
    }

    .c-box-contact-form__inner {
      @include mq-max-sp {
        width: 100%;
        margin: 0;
      }
    }

    .c-box-contact-form__form {
      padding: 40px 0;
    }

    .c-box-contact-form__form-row > .c-input-button {
      height: auto;
      padding: 12px 0;
      line-height: 1.5;
      text-transform: uppercase;
      font-size: 1.5rem;
      font-weight: 500;
    }
  }
}
