@import '../_mixin';

.p-media {
  .c-hero-media {
    &__inner {
      min-height: 566px;
      margin: auto;
      background: url(/assets/img/media/img_mv_media.png) no-repeat center bottom;
      background-size: cover;
      position: relative;

      @include mq-min-max-tb {
        min-height: get-vw(566px);
      }

      &.-news {
        background: url(/assets/img/news/img_news_activites_mv.png) no-repeat center bottom;
        background-size: cover;
      }
    }

    &__text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      @include mq-max-sp {
        width: 100%;
      }
    }

    &__heading {
      font-size: 4.8rem;
      line-height: 1.3;
      text-align: center;
      color: $white;

      @include mq-max-sp {
        font-size: 4rem;
        width: 100%;
        padding: 0 30px;
      }
    }

    &__sub-text {
      font-size: 2.2rem;
      line-height: 1.3;
      text-align: center;
      margin-top: 20px;
      color: $white;
      width: 100%;
      padding: 0 30px;
    }
  }

  .-box-subscribe .inner {
    background: none;
  }

  &-detail {
    .c-mv-sub-page__box-content {
      padding-bottom: 100px;

      .c-scroll-down-line {
        .line {
          width: 179px;
          height: 292px;
          background: url(/assets/img/media/img_line_media.png) no-repeat center center;
          background-size: 100%;
          position: absolute;
          left: 30px;
          top: 90px;

          @include mq-min-max-tb {
            width: get-vw(179px);
            height: get-vw(292px);
            left: get-vw(30px);
            top: get-vw(90px);
          }

          @include mq-max-sp {
            display: none;
          }
        }
      }
    }

    .c-mv-sub-page__author {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      font-size: 1.4rem;
      color: #777777;

      @include mq-max-sp {
        display: block;
        margin-top: 10px;
      }

      .separate {
        padding: 0 10px;

        @include mq-max-sp {
          padding: 0;
          display: inline-block;
        }
      }

      .author {
        @include mq-max-sp {
          display: inline-block;
        }
      }
    }

    .c-mv-sub-page__inner {
      @include mq-max-sp {
        min-height: 600px;
      }
    }

    .c-media-detail {
      &__content {
        @include mq-max-sp {
          padding: 0 30px;
        }

        &-inner {
          color: #777777;
          max-width: 1070px;
          margin: 0 auto;
          padding-top: 20px;

          :not(img),
          :not(.is-img) {
            max-width: 850px;
            margin: 40px auto;

            @include mq-max-sp {
              margin: 30px auto;
            }

            &:first-of-type {
              margin-top: 0;
            }
          }

          .is-img {
            max-width: 1070px !important;
            text-align: center;
          }

          h2 {
            font-size: 3rem;
            font-weight: bold;
          }

          * + h2 {
            margin-top: 80px !important;

            @include mq-max-sp {
              margin-top: 40px !important;
            }
          }

          h3 {
            font-size: 2.4rem;
            font-weight: bold;
          }

          * + img {
            margin-top: 50px;

            @include mq-max-sp {
              margin-top: 30px;
            }
          }

          ul {
            margin-top: 50px !important;
            margin-bottom: 0 !important;
            list-style: disc;
            padding-left: 1.5em;

            @include mq-max-sp {
              margin-top: 30px !important;
            }

            li {
              margin-top: 10px !important;
              margin-bottom: 0 !important;
            }
          }

          img{
            &:not(:first-of-type) {
              margin-top: 50px;
            }
          }

          a {
            color: #FFC416;
            @include hoverOpacity;
          }

          .is-img {
            max-width: 100%;

            img {
              max-width: 100%;
            }
          }
        }
      }
    }

    .c-share-this {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 100px;

      @include mq-max-sp {
        margin-top: 50px;
      }

      &__heading {
        margin-right: 15px;
      }
    }

    .c-relate-post {
      margin-top: 100px;

      @include mq-min-max-tb {
        padding: 0 20px;
      }

      @include mq-max-sp {
        margin-top: 50px;
        padding: 0 30px;
      }

      &__inner {
        max-width: 1290px;
        margin: 0 auto;
        border-top: 5px dotted #DCDCDC;
        padding-top: 100px;

        @include mq-max-sp {
          padding-top: 50px;
          border-top: 2px dotted #DCDCDC;
        }

        .c-media-list {
          display: flex;
          flex-wrap: wrap;
          margin-top: 50px;

          @include mq-max-sp {
            margin-top: 30px;
            margin-bottom: 100px;
          }

          &__item {
            width: 24%;

            @include mq-max-sp {
              width: 100%;
            }

            &:not(:first-of-type) {
              margin-left: calc( ((100% - (24% * 4)) / 3));

              @include mq-max-sp {
                margin-top: 40px;
              }
            }

            &:nth-of-type(n+4) {
              margin-top: 0;

              @include mq-max-sp {
                margin-top: 50px;
              }
            }

            &:nth-of-type(4n+1) {
              margin-left: 0 !important;
            }

            &:nth-of-type(3n+1) {
              margin-left: calc( ((100% - (24% * 4)) / 3));
            }

            &:hover {
              cursor: pointer;

              .c-media-list__image {
                transform: scale(1.1);
              }

              .c-media-list__frame {
                &::after {
                  opacity: 1;
                }
              }

              .c-media-list__heading {
                color: $yellow;
              }
            }
          }

          &__link {
            display: block;
          }

          &__card {
            display: flex;
            flex-wrap: wrap;
            overflow: hidden;
          }

          &__frame {
            overflow: hidden;
            width: 100%;
            padding-top: 100%;
            position: relative;
            border-radius: 30px;

            &::after {
              content: '';
              position: absolute;
              width: 100%;
              height: 100%;
              background: rgba(0, 0, 0, 0.7);
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              z-index: 1;
              opacity: 0;
              transition: all 0.3s ease-out;
            }
          }

          &__image {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            border-radius: 30px;
            transition: all 0.3s ease-in;
            object-fit: cover;
          }

          &__category {
            width: 100%;
            min-height: 40px;
            position: absolute;
            left: 15px;
            bottom: 15px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            z-index: 4;

            > .icon {
              width: 40px;
              height: 40px;
              border-radius: 100%;
              background: $yellow;
              display: inline-flex;
              justify-content: center;
              align-items: center;
            }

            > .text {
              display: inline-block;
              color: $white;
              font-size: 1.2rem;
              padding-left: 10px;
            }
          }

          &__heading {
            margin-top: 20px;
            font-size: 3.2rem;
            line-height: 1.3;
            transition: color 0.3s ease-out;
            width: 100%;

            @include mq-max-sp {
              font-size: 2.2rem;
              margin: 20px auto 0;
              text-align: center;
            }
          }

          &__text {
            margin-top: 10px;
            color: #777777;

            @include mq-max-sp {
              width: 100%;
              text-align: center;
              font-size: 1.4rem;
            }
          }
        }
      }

      &__heading {
        font-size: 3.2rem;
        text-align: center;
        line-height: 1.3;
        padding: 0 20px;

        @include mq-max-sp {
          font-size: 2.4rem;
        }
      }
    }

    .js-relate-post-sp {
      position: relative;

      .slick-list {
        @include mq-max-sp {
          width: 100%;
        }
      }

      .slick-track {
        @include mq-max-sp {

        }
      }

      .slick-arrow {
        @include mq-max-sp {
          position: absolute;
          bottom: -50px;
          z-index: 10;
          outline: none;
          width: 34px;
          height: 34px;
          background: #fff;
          border-radius: 100%;
          box-shadow: 0px 3px 20px 0px rgba(0,0,0,0.16);
          display: inline-flex;
          align-items: center;
          justify-content: center;
          transition: all .3s;

          .fas {
            color: #DCDCDC;
            transition: all .3s;
          }

          &:hover {
            background: $baseColor;

            .fas {
              color: $yellow;
            }
          }
        }
      }

      .slick-prev {
        @include mq-max-sp {
          left: 50%;
          transform: translateX(-110%);
        }
      }

      .slick-next {
        @include mq-max-sp {
          right: 50%;
          transform: translateX(110%);
        }
      }

      .slick-disabled {
        @include mq-max-sp {
          // opacity: 0;
        }
      }
    }

    .c-list-sns {
      display: inline-flex;
      justify-content: center;
      align-items: center;

      &__item {
        &:not(:first-of-type) {
          margin-left: 20px;

          @include mq-max-sp {
            margin-left: 10px;
          }
        }
      }

      &__link {
        > .fab {
          font-size: 3.4rem;
          color: $baseColor;

          @include mq-max-sp {
            font-size: 2rem;
          }
        }

        svg {
          @include mq-max-sp {
            width: auto;
            height: 18px;
          }
        }
      }
    }

    .-box-subscribe .inner {
      background: none;
    }
  }
}

.c-media {
  position: relative;

  .c-bg-wave-white-solid {
    top: -70px;

    @include mq-max-sp {
      top: -140px;
    }
  }

  .c-box-cmn-button {
    margin: 100px auto 50px;
    text-align: center;

    .c-button-cmn-01 {
      &.--border-base{
        border: 1px solid #211E1F;
      }

      &:hover {
        @include mq-max-sp {
          padding-right: 30px;
        }
  
        &::before {
          @include mq-max-sp {
            width: 100%;
            background: #211E1F;
            color: #FFC416;
          }
        }
  
        .text {
          @include mq-max-sp {
            opacity: 1;
            font-size: 1.4rem;
            padding: 0 10px 0 15px;
            color: #FFC416;
          }
        }
  
        .arrow {
          @include mq-max-sp {
            opacity: 1;
            color: #FFC416;
          }
        }
      }
    }
  }
}

.c-media-list {
  $this: #{&};

  max-width: 1290px;
  margin: 100px auto 0;
  display: flex;
  flex-wrap: wrap;

  @include mq-min-max-tb {
    padding: 0 20px;
  }

  @include mq-max-sp {
    margin-top: 50px;
    padding: 0 30px;
  }

  &__item {
    width: 31.78%;
    margin-left: calc((100% - (31.78% * 3)) / 3);

    @include mq-max-sp {
      width: 100%;
      text-align: center;
    }

    &:first-of-type {
      margin-left: 0;
    }

    &:not(:first-of-type) {
      margin-left: calc( ((100% - (31.78% * 3)) / 3) );
      @include mq-max-sp {
        margin-top: 40px;
      }
    }

    &:first-of-type {
      margin-left: 0;
    }

    &:nth-of-type(3n+1) {
      margin-left: 0;
    }

    &:nth-of-type(n+4) {
      @include mq-min-tb {
        margin-top: 50px;
      }
    }

    &:nth-of-type(3n+4) {
      @include mq-min-tb {
        margin-left: 0;
      }
    }

    &:hover {
      cursor: pointer;

      .c-media-list__image {
        transform: scale(1.1);
      }

      .c-media-list__frame {
        &::after {
          opacity: 1;
        }
      }

      .c-media-list__heading {
        color: $yellow;
      }
    }

    .c-media-list__category > .icon text{
      fill: #fff;
    }
  }

  &__link {
    display: block;
    color: $baseColor;
  }

  &__card {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;

    .icon {
      text {
        fill: #fff;
      }
    }
  }

  &__frame {
    overflow: hidden;
    width: 100%;
    padding-top: 100%;
    position: relative;
    border-radius: 30px;

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.7);
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      opacity: 0;
      transition: all 0.3s ease-out;
    }
  }

  &__image {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border-radius: 30px;
    transition: all 0.3s ease-in;
    object-fit: cover;
  }

  &__category {
    width: 100%;
    min-height: 40px;
    position: absolute;
    left: 15px;
    bottom: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    z-index: 4;

    > .icon {
      width: 40px;
      height: 40px;
      border-radius: 100%;
      background: $yellow;
      display: inline-flex;
      justify-content: center;
      align-items: center;
    }

    > .text {
      display: inline-block;
      color: $white;
      font-size: 1.2rem;
      padding-left: 10px;
    }
  }

  &__heading {
    margin-top: 20px;
    font-size: 3.2rem;
    line-height: 1.3;
    transition: color 0.3s ease-out;

    @include mq-max-sp {
      margin: 20px auto 0;
      font-size: 2.2rem;
      width: 100%;
    }
  }

  &__text {
    margin-top: 10px;
    color: #777777;

    @include mq-max-sp {
      font-size: 1.4rem;
      width: 100%;
      text-align: center;
    }
  }
}

.c-media-category {
  max-width: 1290px;
  margin: auto;
  display: flex;
  justify-content: center;
  padding-top: 50px;

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__item {
    margin: 0 10px;

    &.is-active,
    &:hover {
      .c-media-category__link {
        border: 2px solid $baseColor;
        border-radius: 36px;

        > .text {
          font-size: 1.6rem;
          color: $baseColor;
        }

        > .icon {
          svg text{
            fill: $baseColor;
          }
        }
      }
    }
  }

  &__link {
    color: #777777;
    padding: 10px 40px;
    display: block;
    border: 2px solid $white;
    border-radius: 36px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    transition: border 0.3s ease-in;

    @include mq-min-max-tb {
      padding: 10px get-vw(40px);
    }

    > .icon {
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      &.-press {

      }

      &.-print {

      }

      &.-tv {

      }

      &.-article {

      }
    }

    > .text {
      font-size: 1.6rem;
      color: #777777;
      margin-left: 10px;
    }
  }
}

.c-media-category-dropdown {
  @include mq-max-sp {
    width: calc(100% - 60px);
    margin: 80px auto 0;
    position: relative;
  }

  svg {
    @include mq-max-sp {
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.c-media-category-select {
  @include mq-max-sp {
    padding: 0 30px;
    width: 100%;
    min-height: 45px;
    padding: 10px 30px;
    line-height: 1.3;
    border: 2px solid $baseColor;
    border-radius: 36px;
    font-size: 1.6rem;
    font-weight: 600;
  }
}