@import '../_mixin';

.p-our-story {
  // c-faq
  .c-faq {
    .c-box-cmn-button {
      text-align: center;
      margin-top: 80px;
    }

    &__list {
      margin-top: 50px;
    }
  }

  .-box-subscribe {
    > .inner {
      background: none;
    }
  }

  .c-box-video {
    &__inner {
      padding: 150px 0;
    }

    &__box-text {
      max-width: 850px;
      margin: auto;

      .c-heading-egg-content {
        color: #777;
        margin-top: 20px;
      }
    }

    &__box-iframe {
      max-width: 1131px;
      margin: 45px auto 0;

      &-inner {
        padding-top: 56.145%;
        position: relative;

        > iframe {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  .c-heading-egg__icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    > .c-play-solid {
      width: 22px;
      height: 25px;
      background: url(/assets/img/svg/play-solid.svg) no-repeat center center;
      background-size: cover;
    }
  }

  .c-box-our-egg__card-content {
    color: #777;
  }
}