@import '../_mixin';

.p-our-story {
  // c-faq
  .c-faq {
    margin-top: 150px;

    @include mq-max-sp {
      margin-bottom: 30px;
    }

    .c-box-cmn-button {
      text-align: center;
      margin-top: 80px;

      @include mq-max-sp {
        margin-top: 40px;
      }
    }

    &__list {
      margin-top: 50px;
    }
  }

  .-box-subscribe {
    > .inner {
      background: none;
    }
  }

  .c-box-video {
    margin-top: 200px;
    &__inner {
      padding: 50px 0;

      @include mq-max-sp {
        padding: 25px 30px 80px;
      }
    }

    &__box-text {
      max-width: 850px;
      margin: auto;

      .c-heading-egg-content {
        color: #777;
        margin-top: 20px;
      }
    }

    &__box-iframe {
      max-width: 1131px;
      margin: 45px auto 0;

      &-inner {
        padding-top: 56.145%;
        position: relative;
        background: #000;

        @include mq-max-sp {
          padding-top: 100%;
        }

        > iframe,
        > video {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          width: 100% !important;
          height: 100% !important;
        }
      }
    }
  }

  .c-heading-egg__icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    > .c-play-solid {
      width: 22px;
      height: 25px;
      background: url(/assets/img/svg/play-solid.svg) no-repeat center center;
      background-size: cover;
    }
  }

  .c-box-our-egg__card-content {
    color: #777;
  }

  .c-box-time-line {
    @include mq-max-sp {
      padding: 0 30px;
    }

    &__item {
      &:not(:first-of-type) {
        margin-top: 50px;

        @include mq-max-sp {
          margin-top: 0;
        }

        .c-box-time-line {
          &__image-frame{
            @include mq-max-sp {
              padding-top: 40px;
            }
          }

          &__content{
            @include mq-max-sp {
              padding-top: 40px;
            }
          }
        }
      }

      &:last-of-type {
        &::before {
          @include mq-max-sp {
            display: none;
          }
        }
      }

      &:nth-child(even) {
        .c-box-time-line__image {
          @include mq-max-sp {
            order: 1;
          }
        }

        .c-box-time-line__content {
          @include mq-max-sp {
            order: 2;
          }
        }
      }

      &::before {
        @include mq-max-sp {
          content: '';
          width: 5px;
          height: 100%;
          position: absolute;
          border-left: 5px dotted #DCDCDC;
          left: 58px;
          top: 60px;
        }
      }
    }

    &__content {
      @include mq-max-sp {
        width: auto;
        flex: 1;
        padding-left: 20px;
      }
    }

    &__image {
      @include mq-max-sp {
        width: 120px;
        height: 120px;
      }
      .c-deco-story {
        width: 941px;
        height: 778px;
        position: absolute;
        right: 0;
        top: -80px;
        background: url(/assets/img/our-story/ico_deco_our_story_01.svg) no-repeat center center;
        background-size: cover;
        opacity: 0.3;

        @include mq-min-max-tb {
          width: get-vw(941px);
          height: get-vw(778px);
          top: get-vw(-80px);
        }

        @include mq-max-sp {
          display: none;
        }
      }
    }
  }

  .c-button-cmn-01.--border-base {
    @include mq-max-sp {
      border-color: $baseColor;
    }
  }
}