@import '../_mixin';

.p-product {
  .c-recipes-box {
    background: url(/assets/img/recipes/bg_recipes_product_yellow.svg) no-repeat center center;
    background-size: cover;
    padding: 100px 0 150px;

    .-recipes-top-heading {
      margin-top: 0;

      > .inner {
        background: none;

        .box-heading {
          .title {
            span {
              font-size: 4rem;
              color: $baseColor;

              &.text-yellow {
                color: $baseColor;
              }
            }
          }
        }

        .box-text {
          .text {
            color: #777;
          }
        }
      }
    }
  }

  .-box-subscribe {
    > .inner {
      background: none;
    }
  }
}

.product-swiper-container {
  margin-left: -20px;

  &.js-recipes-swiper-normal {
    .article-content {

    }
  }

  .swiper-slide {
    width: 300px;
    height: 415px;
  }

  .article-content {
    padding: 0;
    transition: all 0.3s ease;
    font-size: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: left;
    padding: 0 0 50px;
    transition: all .3s ease .3;
    position: relative;
    background: transparent;

    .c-shadow {
      top: 0;
      left: 0;
      right: 0;
      bottom: 50px;
      position: absolute;
      z-index: 1;
      box-shadow: 20px 20px 35px 0px rgba(0,0,0,0.1);
      border-radius: 30px;
    }

    .c-box-card-01.-full {
      padding-top: 138.33%;
      position: relative;
      overflow: hidden;
      border-radius: 30px;

      @include mq-max-sp {
        padding-top: 138.33%;
      }

      .c-overlay {
        top: auto;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
        background: rgba(0, 0, 0, 0.3);
        z-index: 5;
        opacity: 0;
        transition: all .3s;
      }

      &:hover {
        .box-content {
          bottom: 0;
        }

        .c-overlay {
          top: 0;
          opacity: 1;
        }

        .box-image {
          .image {
            transform: scale(1.1);
          }
        }

        .c-text-cmn-01 {
          opacity: 1;
          font-size: 1.6rem;

          @include mq-max-sp {
            font-size: 1.4rem;
          }
        }

        .c-heading-cmn-01 {
          bottom: 100px;
        }
      }
    }

    .box-image {
      // padding-top: 72.28%;
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;

      .image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all .3s;
      }
    }

    .box-content {
      position: absolute;
      background: transparent;
      bottom: 0;
      left: 0;
      z-index: 6;
      padding: 0 20px;
      transition: all .3s cubic-bezier(0, 0, 0, 1.1);

      @media (min-width: 1600px) {
        bottom: -35px;
      }

      .c-heading-cmn-01 {
        transition: all .3s;
        font-size: 3rem;
        line-height: 1.1;

        @include mq-max-sp {
          font-size: 2.2rem;
        }
      }

      .c-text-cmn-01 {
        padding-bottom: 20px;
        font-size: 0;
        transition: all .3s cubic-bezier(0, 0, 0, 1.1);
        font-weight: 300;
        line-height: 1.6;
        margin-top: 10px;
      }
    }
  }
}

.js-swiper-voice {
  .swiper-button-prev, .swiper-button-next {
    opacity: 0;
  }
}
