@import '../_mixin';

.p-product {
  &.-yellow {
    .c-product-mv {
      // max-width: 1440px;
      margin: auto;
      background: url(/assets/img/recipes/bg_product_yellow.svg) no-repeat center bottom;
      background-size: cover;
    }
  }

  .c-product-mv {
    width: 100%;
    max-width: 1440px;
    min-height: 970px;
    position: relative;
    z-index: 5;

    @include mq-min-max-tb {
      min-height: get-vw(970px);
    }
  }

  .c-product-heading {
    padding-top: 160px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: calc((100% - 1310px) / 2);
    padding-right: calc((100% - 1310px) / 2);

    .c-product-category {
      width: 500px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      &__name {
        font-size: 4rem;
        color: $baseColor;
        line-height: 1.3;
      }

      &__icon {

      }
    }

    .c-product-local-nav {
      flex: 1;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      margin-right: -40px;

      &__item {
        width: 183px;
        height: 175px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        background: url(/assets/img/recipes/bg_egg_local_nav.svg) no-repeat center center;
        background-size: cover;
        margin-left: -50px;
      }

      &__link {
        width: 108px;
        height: 110px;
        color: $baseColor;
        font-size: 1.4rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;

        &-icon {
          margin-top: 10px;
          text-align: center;
        }

        &-text {
          margin-top: 5px;
          line-height: 1.2;
          text-align: center;
        }
      }
    }
  }

  .c-product-image {
    margin-top: 50px;
    max-width: 1440px;
    padding: 0 20px;
    margin: auto;
    position: relative;
    z-index: 5;

    &__frame {
      text-align: center;
    }

    &__heading {
      font-size: 4.8rem;
      line-height: 1.3;
      text-align: center;
      margin-top: -20px;
    }

    &__text {
      font-size: 2.2rem;
      color: $baseColor;
      text-align: center;
      margin-top: 10px;
    }
  }

  .c-product-content {
    position: relative;
    z-index: 4;
    background: url(/assets/img/recipes/bg_product_gray.svg) no-repeat center bottom;
    background-size: cover;
    padding: 400px 0 100px;
    margin-top: -270px;

    .box-content {
      padding-left: 50px;
    }

    .c-heading-cmn-01 {
      font-size: 4rem;
      line-height: 1.3;
    }

    .c-text-cmn-01 {
      font-size: 1.6rem;
      color: #777;
    }
  }

  .c-recipes-box {
    background: url(/assets/img/recipes/bg_recipes_product_yellow.svg) no-repeat center center;
    background-size: cover;
    padding: 100px 0 150px;

    .-recipes-top-heading {
      margin-top: 0;

      > .inner {
        background: none;

        .box-heading {
          .title {
            span {
              font-size: 4rem;
              color: $baseColor;

              &.text-yellow {
                color: $baseColor;
              }
            }
          }
        }

        .box-text {
          .text {
            color: #777;
          }
        }
      }
    }
  }

  .-box-subscribe {
    > .inner {
      background: none;
    }
  }

  .l-swiper-recipes {
    overflow: hidden;
  }
}

.product-swiper-container {
  margin-left: -20px;

  &.js-recipes-swiper-normal {
    .article-content {

    }
  }

  .swiper-slide {
    width: 300px;
    height: 415px;
  }

  .article-content {
    padding: 0;
    transition: all 0.3s ease;
    font-size: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: left;
    padding: 0 0 50px;
    transition: all .3s ease .3;
    position: relative;
    background: transparent;

    .c-shadow {
      top: 0;
      left: 0;
      right: 0;
      bottom: 50px;
      position: absolute;
      z-index: 1;
      box-shadow: 20px 20px 35px 0px rgba(0,0,0,0.1);
      border-radius: 30px;
    }

    .c-box-card-01.-full {
      padding-top: 138.33%;
      position: relative;
      overflow: hidden;
      border-radius: 30px;

      @include mq-max-sp {
        padding-top: 138.33%;
      }

      .c-overlay {
        top: auto;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
        background: rgba(0, 0, 0, 0.3);
        z-index: 5;
        opacity: 0;
        transition: all .3s;
      }

      &:hover {
        .box-content {
          bottom: 40px;
        }

        .c-overlay {
          top: 0;
          opacity: 1;
        }

        .box-image {
          .image {
            transform: scale(1.1);
          }
        }

        .c-text-cmn-01 {
          opacity: 1;
          font-size: 1.6rem;

          @include mq-max-sp {
            font-size: 1.4rem;
          }
        }

        .c-heading-cmn-01 {

        }
      }
    }

    .box-image {
      // padding-top: 72.28%;
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;

      .image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all .3s;
      }
    }

    .box-content {
      position: absolute;
      background: transparent;
      bottom: 20px;
      left: 0;
      z-index: 6;
      padding: 0 30px;
      transition: all .3s cubic-bezier(0, 0, 0, 1.1);

      @include mq-custom-min (1600px) {
        padding: 0 20px;
      }

      .c-heading-cmn-01 {
        transition: all .3s;
        font-size: 3rem;
        line-height: 1.1;

        @include mq-max-sp {
          font-size: 2.2rem;
        }
      }

      .c-text-cmn-01 {
        font-size: 0;
        transition: all .3s cubic-bezier(0, 0, 0, 1.1);
        font-weight: 300;
        line-height: 1.6;
        margin-top: 10px;
      }
    }
  }
}

.js-swiper-voice {
  .swiper-button-prev, .swiper-button-next {
    opacity: 0;
  }
}
