@import '../_mixin';

.p-recipes {
  .-box-subscribe {
    margin-top: 0;
  }

  .-box-subscribe .inner {
    background: none;
  }

  .c-badge {
    &__list {
      position: absolute;
      bottom: 20px;
      right: 20px;
      z-index: 6;
      display: flex;
      justify-content: space-between;
      transition: all .3s ease-in;
      opacity: 1;
    }
  
    &__item {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      width: 60px;
      text-align: center;
  
      &.-level > .icon {
        background: url(/assets/img/svg/icon-chef-hat.svg) no-repeat center center $yellow;
        background-size: 20px;
  
        .fa-cook {
  
        }
      }
  
      &.-time,
      &.-serve {
        display: flex;
      }
  
      &.-time > .icon {
        background: url(/assets/img/svg/icon-clock.svg) no-repeat center center #43AB3F;
        background-size: 20px;
      }
  
      &.-serve > .icon {
        background: url(/assets/img/recipes/detail/ico_dish.svg) no-repeat center center #FCFBF2;
        background-size: 20px;
      }
  
      &:first-of-type {
        margin-right: 5px;
      }
  
      > .icon {
        width: 40px;
        height: 40px;
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        position: relative;
      }
  
      > .text {
        font-size: 1.2rem;
        line-height: 1.3;
        color: $white;
        text-align: center;
        margin-top: 5px;
      }
    }
  }

  .c-button-cmn-01 .text {
    @include mq-max-sp {
      position: relative !important;
    }
  }

  .c-scroll-down-line {
    background: url(/assets/img/recipes/img_recipes_line.png) no-repeat;
    width: 270px;
    height: 263px;
    position: absolute;
    top: 88px;
    left: 35px;
    background-size: cover;

    @include mq-max-sp {
      display: none;
    }

    @include mq-min-max-tb {
      width: get-vw(270px);
      height: get-vw(263px);
      top: get-vw(88px);
      left: get-vw(35px);
    }
  }
}

.c-box-recipes {
  .c-heading-egg {
    display: flex;
    flex-direction: column;

    .c-heading-egg__icon {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;
      margin-right: 0;
    }

    &-content {
      margin-top: 10px;
    }
  }
}
