@import '../_mixin';

/* l-sitemap
---------------------------------------------------------- */
.l-sitemap {
  margin: 30px 0 45px;
  @include mq-min-tb {
    margin: 55px 0 60px;
  }
}
/* p-sitemap
---------------------------------------------------------- */
.p-sitemap {
  $this: #{&};
  padding-top: 45px;
  padding-bottom: 45px;
  @include mq-min-tb {
    padding-top: 35px;
    padding-bottom: 35px;
  }
  &--fill {
    @extend #{$this};
    background-color: #f0f0f0;
  }
  &__content {
    margin-bottom: -30px;
    margin-top: 25px;
    @include mq-min-tb {
      margin-bottom: -10px;
      margin-top: 15px;
    }

    &--sub {
      margin-top: 30px;
      @include mq-min-tb {
        margin-top: 10px;
      }
    }

    > [class] {
      padding-bottom: 30px;
      @include mq-min-tb {
        padding-bottom: 10px;
      }
    }
  }
  &__item {
    font-size: 1.4rem;
    @include mq-min-tb {
      font-size: 1.6rem;
    }
  }

  &__ttl {
    font-size: 1.6rem;
    @include mq-min-tb {
      font-size: 1.8rem;
    }
  }
  &__link {
    color: #333;
    @include mq-min-tb {
      @include hoverOpacity;
    }

    &--sub {
      font-size: 1.3rem;
      color: #666;
      @include mq-min-tb {
        font-size: 1.4rem;
        @include hoverOpacity;
      }
    }
  }
}
