@import '../_mixin';

.c-box-card-row-01 {
  &.-yellow-egg {
    position: relative;
    padding: 0 !important;

    .box-image {
      position: relative;
      z-index: 3;
      display: inline-flex;
      align-items: flex-end;
    }

    .box-content {
      position: relative;
      z-index: 2;
      text-align: center;
      // padding: 0 120px 0 100px;
      width: 486px;
      margin: auto;
      left: -75px;

      .c-egg {
        content: '';
        width: 824px;
        height: 740px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background: url(/assets/img/top/bg_yellow_egg.png) no-repeat;
        background-size: cover;
        z-index: 1;
        backface-visibility: hidden;

        @include mq-min-max-tb {
          width: get-vw(824px);
          height: get-vw(740px);
          background-size: get-vw(824px) get-vw(740px);
        }
      }

      &::after {
        content: '';
        width: 403px;
        height: 379px;
        position: absolute;
        left: 40%;
        bottom: -50%;
        transform: translateY(50%);
        background: url(/assets/img/top/img_product_01-2.png) no-repeat;
        background-size: cover;
        z-index: 1;
        backface-visibility: hidden;

        @include mq-min-max-tb {
          width: get-vw(403px);
          height: get-vw(379px);
          background-size: get-vw(403px) get-vw(379px);
        }
      }

      .box-image-heading {
        text-align: center;

        &::after {
          content: '';
          display: block;
          width: 100%;
          height: 5px;
          margin-top: 20px;
          background: url(/assets/img/top/img_line.png) no-repeat center top;
          backface-visibility: hidden;
        }
      }

      * {
        position: relative;
        z-index: 2;
      }
    }
  }

  &.-green-egg {
    position: relative;
    padding-right: 180px;
    margin-top: 400px;

    @include mq-min-max-tb {
      margin-top: get-vw(400px);
    }

    .box-image {
      position: relative;
      z-index: 3;
      display: inline-flex;
      align-items: flex-end;
    }

    .box-content {
      position: relative;
      z-index: 2;
      text-align: center;
      padding-left: 0;
      width: 486px;
      margin: auto;

      .c-egg {
        content: '';
        width: 779px;
        height: 732px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background: url(/assets/img/top/bg_green_egg.png) no-repeat;
        background-size: cover;
        z-index: 1;
        backface-visibility: hidden;

        @include mq-min-max-tb {
          width: get-vw(779px);
          height: get-vw(732px);
          background-size: get-vw(779px) get-vw(732px);
        }
      }

      .c-egg-deco-top {
        content: '';
        width: 68px;
        height: 77px;
        top: -250px;
        left: 150px;
        background: url(/assets/img/top/img_eggology_top_deco.png) no-repeat;
        background-size: cover;
        z-index: 1;
        backface-visibility: hidden;
        position: absolute;
      }

      .c-egg-deco-bottom {
        content: '';
        width: 100px;
        height: 126px;
        bottom: -80px;
        left: 100px;
        background: url(/assets/img/top/img_eggology_egg_deco.png) no-repeat;
        background-size: cover;
        z-index: 1;
        backface-visibility: hidden;
        position: absolute;
      }

      &::after {
        content: '';
        width: 403px;
        height: 379px;
        position: absolute;
        right: -20%;
        bottom: -30%;
        transform: translateY(50%);
        background: url(/assets/img/top/img_product_02-2.png) no-repeat;
        background-size: cover;
        z-index: 1;
        backface-visibility: hidden;

        @include mq-min-max-tb {
          width: get-vw(403px);
          height: get-vw(379px);
          background-size: get-vw(403px) get-vw(379px);
        }
      }

      .box-image-heading {
        text-align: center;

        &::after {
          content: '';
          display: block;
          width: 100%;
          height: 5px;
          margin-top: 20px;
          background: url(/assets/img/top/img_line.png) no-repeat center top;
          backface-visibility: hidden;
        }
      }

      * {
        position: relative;
        z-index: 2;
      }
    }
  }

  &.-orange-egg {
    position: relative;
    margin-top: 200px;

    @include mq-min-max-tb {
      margin-top: get-vw(200px);
    }

    .box-image {
      position: relative;
      z-index: 3;
      display: inline-flex;
      align-items: flex-end;

      .c-hen-deco-orange {
        width: 146px;
        height: 151px;
        position: absolute;
        left: 50%;
        bottom: -152px;
        transform: translateX(-50%);
        background: url(/assets/img/top/img_mori_tama_hen.png) no-repeat;
        background-size: cover;
        z-index: 1;
        backface-visibility: hidden;

        @include mq-min-max-tb {
          width: get-vw(146px);
          height: get-vw(151px);
          background-size: get-vw(146px) get-vw(151px);
        }
      }

      .c-egg-deco-orange {
        width: 68px;
        height: 78px;
        position: absolute;
        background: url(/assets/img/top/img_mori_tama_egg_product_img.png) no-repeat;
        background-size: cover;
        z-index: 1;
        backface-visibility: hidden;
        top: 20px;
        right: 25px;
      }

      .c-line-deco-orange {
        width: 138px;
        height: 182px;
        position: absolute;
        background: url(/assets/img/top/img_mori_line_product.png) no-repeat;
        background-size: cover;
        z-index: 1;
        backface-visibility: hidden;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    .box-content {
      position: relative;
      z-index: 2;
      text-align: center;
      left: -120px;
      // padding: 0 100px 0 50px;
      width: 486px;
      margin: auto;

      .c-egg {
        content: '';
        width: 820px;
        height: 735px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background: url(/assets/img/top/bg_orange_egg.png) no-repeat;
        background-size: cover;
        z-index: 1;
        backface-visibility: hidden;

        @include mq-min-max-tb {
          width: get-vw(820px);
          height: get-vw(735px);
          background-size: get-vw(820px) get-vw(735px);
        }
      }

      .c-mori-tama-egg {
        content: '';
        width: 622px;
        height: 544px;
        position: absolute;
        background: url(/assets/img/top/img_mori_tama_egg.png) no-repeat;
        background-size: cover;
        z-index: 1;
        backface-visibility: hidden;
        left: 110px;
        top: -30px;

        @include mq-min-max-tb {
          width: get-vw(622px);
          height: get-vw(544px);
          background-size: get-vw(622px) get-vw(544px);
        }
      }

      &::after {
        content: '';
        width: 403px;
        height: 379px;
        position: absolute;
        right: -350px;
        bottom: -10%;
        transform: translateY(50%);
        background: url(/assets/img/top/img_product_03-01.png) no-repeat;
        background-size: cover;
        z-index: 1;

        @include mq-min-max-tb {
          width: get-vw(403px);
          height: get-vw(379px);
          background-size: get-vw(403px) get-vw(379px);
        }
      }

      .box-image-heading {
        text-align: center;

        &::after {
          content: '';
          display: block;
          width: 100%;
          height: 5px;
          margin-top: 20px;
          background: url(/assets/img/top/img_line.png) no-repeat center top;
        }
      }

      * {
        position: relative;
        z-index: 2;
      }
    }
  }
}

// -story-about-top
.-story-about-top {
  background: url(/assets/img/top/bg_story_about_yellow.svg) no-repeat center top;
  margin-top: 300px !important;
  padding: 100px 0 60px;
  backface-visibility: hidden;

  @include mq-min-max-tb {
    background-size: 100%;
    padding: 50px 0;
    background-position: center center;
    margin-top: get-vw(300px) !important;
  }

  .c-heading-cmn-01 {
    font-size: 8.5rem;
    font-weight: 500;

    @include mq-min-max-tb {
      font-size: 6rem;
    }

    .text-white {
      color: #fff;
    }
  }

  .c-box-card-row-01 {
    &:not(:first-of-type) {
      padding-top: 0;
    }

    &.-reverse {
      margin-top: 0;

      .box-content {
        padding-top: 120px;
        padding-left: 0;
        padding-right: 20px;
      }
    }

    .box-content {
      position: relative;
      padding-top: 100px;
      padding-left: 20px;

      .c-orange-egg {
        width: 422px;
        height: 468px;
        background: url(/assets/img/top/img_orange_egg.png) no-repeat;
        position: absolute;
        top: -400px;
        right: 0;

        @include mq-min-max-tb {
          width: get-vw(422px);
          height: get-vw(468px);
          background-size: get-vw(422px) get-vw(468px);
          top: get-vw(-400px);
        }
      }

      .c-about-akara-egg {
        width: 636px;
        height: 555px;
        background: url(/assets/img/top/img_about_akara_egg.png) no-repeat;
        position: absolute;
        bottom: -320px;
        right: -180px;

        @include mq-min-max-tb {
          width: get-vw(636px);
          height: get-vw(555px);
          background-size: get-vw(636px) get-vw(555px);
          bottom: get-vw(-320px);
          right: get-vw(-180px);
        }
      }

      .c-line-dotted-about-akara {
        width: 184px;
        height: 198px;
        background: url(/assets/img/top/img_line_dotted_about_akara.png) no-repeat;
        position: absolute;
        top: -120px;
        left: 0;
      }

      .c-text-cmn-01 {
        font-size: 1.8rem;
      }
    }
  }
}

// -recipes-top-heading
.-recipes-top-heading {
  margin-top: 0 !important;

  .inner {
    background: url(/assets/img/common/recipes-icon-pattern.jpg) no-repeat center center;
    background-size: contain;
    padding: 100px 0 80px;
  }

  .c-box-heading-center-text {
    .inner {
      display: block;

      .box-heading {
        text-align: center;
        border-left: 0;
        position: relative;

        .c-line-deco {
          width: 104px;
          height: 116px;
          background: url(/assets/img/common/ico_dotline_recipes.jpg) no-repeat center center;
          background-size: contain;
          position: absolute;
          top: -116px;
          left: 50%;
          transform: translateX(-50%);
        }

        .title {
          font-size: 8.5rem;
          font-weight: 500;
          line-height: 1.2;

          .text-yellow {
            color: #FFC416;
          }
        }
      }

      .box-text {
        width: 100%;
        text-align: center;

        .text {
          font-size: 1.6rem;
        }
      }
    }
  }
}

.l-sec-box-swiper-voice {
  margin-top: 0 !important;

  .inner {}
}

.c-box-swiper-mv {
  padding-top: 72.43%;
  position: relative;

  @media (min-width: 1600px) {
    padding-top: 52.43%;
  }

  .mv-swiper-pagination {
    display: none;
  }

  .box-swiper-content {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;

    svg {
      width: 100%;
    }

    .text--line {
      font-size: 10rem;
      font-weight: 600;
    }

    #outline {
      fill: none;
      stroke: #FFC416;
      stroke-dasharray: 100%;
      stroke-dashoffset: 0;
      animation-name: outline;
      animation-duration: 2.5s;
      animation-timing-function: ease-in;
      animation-fill-mode: forwards;
    }

    #fill {
      fill-opacity: 0;
      fill: none;
      animation-name: fill;
      animation-duration: 0.5s;
      animation-timing-function: ease-in;
      animation-fill-mode: forwards;
      animation-delay: 1s;
    }


    @keyframes outline {
      from {
        stroke-dashoffset: 100%;
      }

      to {
        stroke-dashoffset: 0;
      }
    }

    @keyframes fill {
      from {
        fill-opacity: 0;
      }

      to {
        fill-opacity: 1;
      }
    }

    .heading {
      .text-black {
        font-size: 10rem;
        font-weight: 500;
        color: #211E1F;
        line-height: 1.1;
      }

      .text-yellow {
        font-size: 10rem;
        font-weight: 500;
        color: #FFC416;
        line-height: 1.1;
      }
    }

    .text {
      width: 55%;
      color: #777;
      font-size: 2rem;
      padding: 20px 0 0 10px;
      font-weight: 400;
    }

    .mv-swiper-nav-custom {
      display: flex;
      margin-top: 40px;
      margin-left: 10px;

      .mv-swiper-button-next,
      .mv-swiper-button-prev {
        outline: none;
        width: 34px;
        height: 34px;
        background: #fff;
        border-radius: 100%;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
        display: inline-flex;
        align-items: center;
        justify-content: center;

        .fas {
          color: #777;
        }
      }

      .mv-swiper-button-prev {
        margin-right: 20px;
      }
    }

  }

  .box-swiper-mv-js {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;

    .swiper-slide {
      background: transparent;
    }

    .mainvisual-content {
      position: absolute;
      width: 100%;
      left: 0;
      top: 0;
      bottom: 0;
      overflow: hidden;

      .box-image-wrapper {
        width: 63.19%;
        top: 0;
        right: 0;
        position: absolute;
      }

      .box-image {
        padding-top: 114.74%;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        left: 0;

        @media (min-width: 1600px) {
          padding-top: 75.43%;
        }

        img {
          position: absolute;
          left: 0;
          bottom: 0;
          max-width: fit-content;
          width: auto;
          height: auto;
          object-fit: none;
        }
      }
    }

  }
}