@import '../_mixin';

.c-box-card-row-01 {
  &.-yellow-egg {
    position: relative;
    padding: 0 !important;

    .box-image {
      position: relative;
      z-index: 3;
      display: inline-flex;
      align-items: flex-end;
      max-width: 610px;

      @include mq-min-max-tb {
        max-width: get-vw(610px);
      }

      .c-deco-yellow-egg {
        width: 75px;
        height: 88px;
        bottom: -200px;
        right: 80px;
        background: url(/assets/img/top/ico_deco_egg_yellow.svg) no-repeat;
        background-size: cover;
        z-index: 1;
        backface-visibility: hidden;
        position: absolute;

        @include mq-min-max-tb {
          width: get-vw(75px);
          height: get-vw(88px);
          bottom: get-vw(-200px);
          right: get-vw(80px);
        }
      }

      .image {
        position: relative;
        right: 150px;

        @include mq-min-max-tb {
          right: get-vw(150px);
        }
      }
    }

    .box-content {
      position: relative;
      z-index: 2;
      text-align: center;
      // padding: 0 120px 0 100px;
      width: 486px;
      margin: auto;
      left: -75px;

      @include mq-min-max-tb {
        width: get-vw(486px);
        left: get-vw(-75px);
      }

      @include mq-max-sp {
        width: 100%;
        left: auto;
        padding: 0 20px;
      }

      .c-scroll-down-button {
        $this: &;

        position: relative;

        &::before {
          content: '';
          width: 62px;
          height: 65px;
          top: -680px;
          left: -245px;
          background: url(/assets/img/top/scroll_down.svg) no-repeat;
          background-size: cover;
          z-index: 1;
          backface-visibility: hidden;
          position: absolute;
          transition: all .3s ease-in-out;
          opacity: 1;
          animation: vertical 1.5s ease-in-out infinite alternate;

          @include mq-max-sp {
            display: none;
          }

          @include mq-min-max-tb {
            width: get-vw(62px);
            height: get-vw(65px);
            top: get-vw(-680px);
            left: get-vw(-245px);
          }

          @media (max-width: 1024px) {
            left: get-vw(-230px);
          }
        }

        &::after {
          content: '';
          width: 66px;
          height: 81px;
          top: -680px;
          left: -245px;
          background: url(/assets/img/top/scroll_down_hover.svg) no-repeat;
          background-size: cover;
          z-index: 1;
          backface-visibility: hidden;
          position: absolute;
          transition: all .3s ease-in-out;
          opacity: 0;
          transform: translateY(10px);

          @include mq-min-max-tb {
            width: get-vw(66px);
            height: get-vw(81px);
            top: get-vw(-680px);
            left: get-vw(-245px);
          }

          @media (max-width: 1024px) {
            left: get-vw(-230px);
          }
        }

        &:hover {
          &::before {
            opacity: 0;
          }

          &::after {
            opacity: 1;
          }
        }
      }

      .c-scroll-down-line {
        width: 230px;
        height: 350px;
        top: -580px;
        left: -24px;
        background: url(/assets/img/top/ico_line_scroll_down.svg) no-repeat;
        background-size: cover;
        z-index: 1;
        backface-visibility: hidden;
        position: absolute;

        @include mq-min-max-tb {
          width: get-vw(230px);
          height: get-vw(350px);
          top: get-vw(-580px);
          left: get-vw(-24px);
        }

        @include mq-max-sp {
          display: none;
        }
      }

      .c-deco-yellow-egg-bg {
        width: 274px;
        height: 566px;
        bottom: -130px;
        left: -25px;
        background: url(/assets/img/top/ico_deco_two_egg_yellow.svg) no-repeat;
        background-size: cover;
        z-index: 1;
        backface-visibility: hidden;
        position: absolute;

        @include mq-max-sp {
          display: none;
        }

        @include mq-min-max-tb {
          width: get-vw(274px);
          height: get-vw(566px);
          bottom: get-vw(-130px);
          left: get-vw(-25px);
        }
      }

      .c-egg {
        content: '';
        width: 824px;
        height: 740px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background: url(/assets/img/top/bg_yellow_egg.png) no-repeat;
        background-size: cover;
        z-index: 1;
        backface-visibility: hidden;

        @include mq-min-max-tb {
          width: get-vw(824px);
          height: get-vw(740px);
          background-size: get-vw(824px) get-vw(740px);
        }
      }

      &::after {
        content: '';
        width: 403px;
        height: 379px;
        position: absolute;
        left: 220px;
        bottom: -130px;
        transform: translateY(50%);
        background: url(/assets/img/top/img_product_01-2.png) no-repeat;
        background-size: cover;
        z-index: 1;
        backface-visibility: hidden;

        @include mq-min-max-tb {
          width: get-vw(403px);
          height: get-vw(379px);
          background-size: get-vw(403px) get-vw(379px);
          left: get-vw(220px);
          bottom: get-vw(-130px);
        }
      }

      .box-image-heading {
        text-align: center;

        &::after {
          content: '';
          display: block;
          width: 100%;
          height: 5px;
          margin-top: 20px;
          background: url(/assets/img/top/img_line.png) no-repeat center top;
          backface-visibility: hidden;
        }
      }

      > * {
        position: relative;
        z-index: 2;
      }
    }
  }

  &.-green-egg {
    position: relative;
    padding-right: 180px;
    margin-top: 350px;

    @include mq-min-max-tb {
      padding-right: get-vw(180px);
      margin-top: get-vw(350px);
    }

    @include mq-max-sp {
      width: 100%;
      left: auto;
      padding: 0 20px;
    }

    .box-image {
      position: relative;
      z-index: 3;
      display: inline-flex;
      align-items: flex-end;
      max-width: 635px;
      margin-top: 50px;

      @include mq-min-max-tb {
        max-width: get-vw(635px);
        margin-top: get-vw(50px);
      }

      .c-deco-green-hen {
        width: 404px;
        height: 238px;
        top: -160px;
        left: 40px;
        background: url(/assets/img/top/ico_hen_green_line.svg) no-repeat;
        background-size: cover;
        z-index: 1;
        backface-visibility: hidden;
        position: absolute;

        @include mq-max-sp {
          display: none;
        }

        @include mq-min-max-tb {
          width: get-vw(404px);
          height: get-vw(238px);
          top: get-vw(-160px);
          left: get-vw(40px);
        }
      }
    }

    .box-content {
      position: relative;
      z-index: 2;
      text-align: center;
      padding-left: 0;
      max-width: 486px;
      margin: auto;

      @include mq-min-max-tb {
        width: get-vw(486px);
      }

      @include mq-max-sp {
        width: 100%;
        left: auto;
        padding: 0 20px;
      }

      .c-egg {
        content: '';
        width: 779px;
        height: 732px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background: url(/assets/img/top/bg_green_egg.png) no-repeat;
        background-size: cover;
        z-index: 1;
        backface-visibility: hidden;

        @include mq-min-max-tb {
          width: get-vw(779px);
          height: get-vw(732px);
          background-size: get-vw(779px) get-vw(732px);
        }
      }

      .c-egg-deco-top {
        width: 68px;
        height: 77px;
        top: -280px;
        left: 150px;
        background: url(/assets/img/top/img_eggology_top_deco.png) no-repeat;
        background-size: cover;
        z-index: 1;
        backface-visibility: hidden;
        position: absolute;

        @include mq-max-sp {
          display: none;
        }

        @include mq-min-max-tb {
          width: get-vw(68px);
          height: get-vw(77px);
          top: get-vw(-280px);
          left: get-vw(150px);
        }
      }

      .c-egg-deco-bottom {
        content: '';
        width: 100px;
        height: 126px;
        bottom: -100px;
        left: 20px;
        background: url(/assets/img/top/img_eggology_egg_deco.png) no-repeat;
        background-size: cover;
        z-index: 1;
        backface-visibility: hidden;
        position: absolute;

        @include mq-max-sp {
          display: none;
        }

        @include mq-min-max-tb {
          width: get-vw(100px);
          height: get-vw(126px);
          bottom: get-vw(-100px);
          left: get-vw(20px);
        }
      }

      &::after {
        content: '';
        width: 403px;
        height: 379px;
        position: absolute;
        right: -200px;
        bottom: -90px;
        transform: translateY(50%);
        background: url(/assets/img/top/img_product_02-2.png) no-repeat;
        background-size: cover;
        z-index: 1;
        backface-visibility: hidden;

        @include mq-min-max-tb {
          width: get-vw(403px);
          height: get-vw(379px);
          background-size: get-vw(403px) get-vw(379px);
          right: get-vw(-200px);
          bottom: get-vw(-90px);
        }
      }

      .box-image-heading {
        text-align: center;

        &::after {
          content: '';
          display: block;
          width: 100%;
          height: 5px;
          margin-top: 30px;
          background: url(/assets/img/top/img_line.png) no-repeat center top;
          backface-visibility: hidden;

          @include mq-min-max-tb {
            margin-top: get-vw(30px);
          }
        }
      }

      * {
        position: relative;
        z-index: 2;
      }
    }
  }

  &.-orange-egg {
    position: relative;
    margin-top: 200px;

    @include mq-min-max-tb {
      margin-top: get-vw(100px);
    }

    @include mq-max-sp {
      padding: 0 20px;
    }

    .box-image {
      position: relative;
      z-index: 3;
      display: inline-flex;
      align-items: flex-end;
      max-width: 600px;

      @include mq-min-max-tb {
        max-width: get-vw(600px);
      }

      .c-hen-deco-orange {
        width: 146px;
        height: 151px;
        position: absolute;
        left: 50%;
        bottom: -152px;
        transform: translateX(-50%);
        background: url(/assets/img/top/img_mori_tama_hen.png) no-repeat;
        background-size: cover;
        z-index: 1;
        backface-visibility: hidden;

        @include mq-min-max-tb {
          width: get-vw(146px);
          height: get-vw(151px);
          background-size: get-vw(146px) get-vw(151px);
          bottom: get-vw(-152px);
        }
      }

      .c-egg-deco-orange {
        width: 68px;
        height: 78px;
        position: absolute;
        background: url(/assets/img/top/img_mori_tama_egg_product_img.png) no-repeat;
        background-size: cover;
        z-index: 1;
        backface-visibility: hidden;
        top: 90px;
        right: 25px;

        @include mq-min-max-tb {
          top: get-vw(90px);
          right: get-vw(25px);
        }
      }

      .c-line-deco-orange {
        width: 138px;
        height: 182px;
        position: absolute;
        background: url(/assets/img/top/img_mori_line_product.png) no-repeat;
        background-size: cover;
        z-index: 1;
        backface-visibility: hidden;
        top: 0;
        left: 50%;
        transform: translateX(-50%);

        @include mq-max-sp {
          display: none;
        }

        @include mq-min-max-tb {
          width: get-vw(138px);
          height: get-vw(182px);
        }
      }
    }

    .box-content {
      position: relative;
      z-index: 2;
      text-align: center;
      left: -120px;
      // padding: 0 100px 0 50px;
      width: 486px;
      margin: auto;

      @include mq-min-max-tb {
        width: get-vw(486px);
        left: get-vw(-120px);
      }

      @include mq-max-sp {
        width: 100%;
        left: auto;
        padding: 0 20px;
      }

      .c-egg {
        content: '';
        width: 820px;
        height: 735px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background: url(/assets/img/top/bg_orange_egg.png) no-repeat;
        background-size: cover;
        z-index: 1;
        backface-visibility: hidden;

        @include mq-min-max-tb {
          width: get-vw(820px);
          height: get-vw(735px);
          background-size: get-vw(820px) get-vw(735px);
        }
      }

      .c-mori-tama-egg {
        content: '';
        width: 622px;
        height: 544px;
        position: absolute;
        background: url(/assets/img/top/img_mori_tama_egg.png) no-repeat;
        background-size: cover;
        z-index: 1;
        backface-visibility: hidden;
        left: 10px;
        top: -30px;

        @include mq-max-sp {
          display: none;
        }

        @include mq-min-max-tb {
          width: get-vw(622px);
          height: get-vw(544px);
          background-size: get-vw(622px) get-vw(544px);
          left: get-vw(10px);
          top: get-vw(-30px);
        }
      }

      &::after {
        content: '';
        width: 403px;
        height: 379px;
        position: absolute;
        right: -350px;
        bottom: -10%;
        transform: translateY(50%);
        background: url(/assets/img/top/img_product_03-01.png) no-repeat;
        background-size: cover;
        z-index: 1;

        @include mq-min-max-tb {
          width: get-vw(403px);
          height: get-vw(379px);
          background-size: get-vw(403px) get-vw(379px);
          right: get-vw(-350px);
        }
      }

      .box-image-heading {
        text-align: center;

        &::after {
          content: '';
          display: block;
          width: 100%;
          height: 5px;
          margin-top: 20px;
          background: url(/assets/img/top/img_line.png) no-repeat center top;
        }
      }

      * {
        position: relative;
        z-index: 2;
      }
    }
  }
}

// -story-about-top
.-story-about-top {
  background: url(/assets/img/top/bg_story_about_yellow.svg) no-repeat center top;
  margin-top: 300px !important;
  padding: 100px 0 0;
  backface-visibility: hidden;
  background-size: 1440px 1533px;

  @include mq-min-max-tb {
    background-size: 100%;
    padding: 50px 0;
    background-position: center center;
    margin-top: get-vw(300px) !important;
    background-size: get-vw(1440px) get-vw(1533px);
  }

  .c-heading-cmn-01 {
    font-size: 8.5rem;
    font-weight: 500;

    @include mq-max-sp {
      font-size: 5.6rem;
      line-height: 1.3;
    }

    @include mq-min-max-tb {
      font-size: 6rem;
    }

    span {
      @include mq-max-sp {
        display: block;
        text-align: center;
      }
    }

    .text-white {
      color: #fff;
    }
  }

  .c-box-card-row-01 {
    margin-top: -50px;

    @include mq-min-max-tb {
      margin-top: get-vw(-50px);
    }

    &:not(:first-of-type) {
      padding-top: 0;
    }

    @include mq-max-sp {
      padding: 0 20px;
    }

    &.-reverse {
      margin-top: -30px;
      padding-bottom: 30px;
      margin-top: -150px;

      @include mq-max-sp {
        margin-top: 0;
      }

      @include mq-min-max-tb {
        margin-top: get-vw(-30px);
        padding-bottom: get-vw(30px);
        margin-top: get-vw(-50px);
      }

      .box-image {
        width: 60%;

        @include mq-max-sp {
          width: 100%;
        }
      }

      .box-content {
        padding-top: 150px;
        padding-left: 0;
        padding-right: 20px;
        width: 40%;

        @include mq-max-sp {
          width: 100%;
          padding-top: 0;
        }

        @include mq-min-max-tb {
          padding-top: get-vw(150px);
          padding-left: 0;
          padding-right: get-vw(20px);
        }
      }
    }

    .box-image {
      width: 60%;

      @include mq-max-sp {
        width: 100%;
      }
    }

    .box-content {
      position: relative;
      padding-top: 150px;
      padding-left: 20px;
      width: 40%;

      @include mq-max-sp {
        width: 100%;
        padding: 0;
      }

      @include mq-min-max-tb {
        padding-top: get-vw(150px);
        padding-left: get-vw(20px);
      }

      .c-orange-egg {
        width: 422px;
        height: 468px;
        background: url(/assets/img/top/img_orange_egg.png) no-repeat;
        position: absolute;
        top: -300px;
        right: 100px;

        @include mq-min-max-tb {
          width: get-vw(422px);
          height: get-vw(468px);
          background-size: get-vw(422px) get-vw(468px);
          top: get-vw(-300px);
          right: get-vw(100px);
        }

        @include mq-max-sp {
          width: get-vw(422px);
          height: get-vw(468px);
          background-size: get-vw(422px) get-vw(468px);
          top: get-vw(-400px);
        }
      }

      .c-about-akara-egg {
        width: 636px;
        height: 555px;
        background: url(/assets/img/top/img_about_akara_egg.png) no-repeat;
        position: absolute;
        bottom: -280px;
        right: -200px;

        @include mq-min-max-tb {
          width: get-vw(636px);
          height: get-vw(555px);
          background-size: get-vw(636px) get-vw(555px);
          bottom: get-vw(-280px);
          right: get-vw(-200px);
        }
      }

      .c-line-dotted-about-akara {
        width: 184px;
        height: 198px;
        background: url(/assets/img/top/img_line_dotted_about_akara.png) no-repeat;
        position: absolute;
        top: -80px;
        left: 0;

        @include mq-max-sp {
          display: none;
        }

        @include mq-min-max-tb {
          width: get-vw(184px);
          height: get-vw(198px);
          top: get-vw(-80px);
        }
      }

      .c-text-cmn-01 {
        font-size: 1.8rem;
      }
    }
  }
}

// -recipes-top-heading
.l-sec-cmn-01 {
  &.-recipes-top-heading {
    margin-top: 80px;

    @include mq-min-max-tb {
      margin-top: get-vw(80px);
    }

    > .inner {
      background: url(/assets/img/common/recipes-icon-pattern.jpg) no-repeat center center;
      background-size: contain;
      padding: 100px 0 80px;

      @include mq-min-max-tb {
        padding: get-vw(100px) 0 get-vw(80px);
      }
    }

    .c-box-heading-center-text {
      .inner {
        display: block;

        .box-heading {
          text-align: center;
          border-left: 0;
          position: relative;

          .c-line-deco {
            width: 104px;
            height: 116px;
            background: url(/assets/img/common/ico_dotline_recipes.png) no-repeat center center;
            background-size: contain;
            position: absolute;
            top: -110px;
            left: 50%;
            transform: translateX(-105%);

            @include mq-max-sp {
              display: none;
            }

            @include mq-min-max-tb {
              width: get-vw(104px);
              height: get-vw(116px);
              top: get-vw(-110px);
            }
          }

          .title {
            font-size: 8.5rem;
            font-weight: 500;
            line-height: 1.2;

            @include mq-max-sp {
              font-size: 5.6rem;
            }

            .text-yellow {
              color: #FFC416;
            }
          }
        }

        .box-text {
          width: 100%;
          text-align: center;

          .text {
            font-size: 1.6rem;
          }
        }
      }
    }

    .c-box-cmn-button {
      margin-top: 60px;
      text-align: center;

      @include mq-min-max-tb {
        margin-top: get-vw(60px);
      }

      .c-button-cmn-01 {
        .arrow {
          position: relative;
        }
      }
    }
  }
}

.l-sec-box-swiper-voice {
  margin-top: 0 !important;

  .inner {}
}

.c-box-swiper-mv {
  padding-top: 72.43%;
  position: relative;

  @media (min-width: 1600px) {
    padding-top: 42.43%;
    // max-width: 1600px;
    // margin: auto;
  }

  @include mq-max-sp {
    padding-top: 180%;
  }

  .mv-swiper-pagination {
    display: none;
  }

  .box-swiper-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;

    @include mq-max-sp {
      padding: 0 35px 30px;
    }

    @include mq-min-tb {
      left: 190px;
    }

    @include mq-min-max-tb {
      left: get-vw(190px);
    }

    @media (min-width: 1600px) {
      left: calc((100% - 1440px) / 2);
      margin-left: 200px;
    }

    svg {
      width: 100%;
    }

    .text--line {
      font-size: 10rem;
      font-weight: 600;

      @include mq-min-max-tb {
        font-size: get-vw(100px);
      }
    }

    #outline {
      fill: none;
      stroke: #FFC416;
      stroke-dasharray: 100%;
      stroke-dashoffset: 0;
      animation-name: outline;
      animation-duration: 2.5s;
      animation-timing-function: ease-in;
      animation-fill-mode: forwards;
    }

    #fill {
      fill-opacity: 0;
      fill: none;
      animation-name: fill;
      animation-duration: 0.5s;
      animation-timing-function: ease-in;
      animation-fill-mode: forwards;
      animation-delay: 1s;
    }


    @keyframes outline {
      from {
        stroke-dashoffset: 100%;
      }

      to {
        stroke-dashoffset: 0;
      }
    }

    @keyframes fill {
      from {
        fill-opacity: 0;
      }

      to {
        fill-opacity: 1;
      }
    }

    .heading {
      .text-black {
        font-size: 10rem;
        font-weight: 500;
        color: #211E1F;
        line-height: 1.1;

        @include mq-max-sp {
          font-size: 6rem;
        }

        @include mq-min-max-tb {
          font-size: get-vw(100px);
        }
      }

      .text-yellow {
        font-size: 10rem;
        font-weight: 500;
        color: #FFC416;
        line-height: 1.1;

        @include mq-max-sp {
          font-size: 5.6rem;
        }

        @include mq-min-max-tb {
          font-size: get-vw(100px);
        }
      }
    }

    .text {
      width: 55%;
      color: #777;
      font-size: 2rem;
      padding: 20px 0 0 10px;
      font-weight: 400;

      @include mq-max-sp {
        font-size: 1.4rem;
        line-height: 1.5;
        padding: 40px 0 0 0;
      }

      @include mq-min-max-tb {
        padding: get-vw(20px) 0 0 get-vw(10px);
      }
    }

    .mv-swiper-nav-custom {
      display: flex;
      margin-top: 40px;
      margin-left: 10px;

      @include mq-max-sp {
        margin-left: 0;
      }

      @include mq-min-max-tb {
        margin-top: get-vw(40px);
        margin-left: ge-vw(10px);
      }

      .mv-swiper-button-next,
      .mv-swiper-button-prev {
        outline: none;
        width: 34px;
        height: 34px;
        background: #fff;
        border-radius: 100%;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
        display: inline-flex;
        align-items: center;
        justify-content: center;

        .fas {
          color: #777;
        }
      }

      .mv-swiper-button-prev {
        margin-right: 20px;

        @include mq-max-sp {
          margin-right: 10px;
        }
      }
    }

  }

  .box-swiper-mv-js {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;

    .swiper-slide {
      background: transparent;
    }

    .mainvisual-content {
      position: absolute;
      width: 100%;
      left: 0;
      top: 0;
      bottom: 0;
      overflow: hidden;

      .box-image-wrapper {
        width: 63.19%;
        top: 0;
        right: 0;
        position: absolute;

        @include mq-max-sp {
          width: 340px;
          bottom: 0;
          right: 0;
          position: absolute;
        }
      }

      .box-image {
        padding-top: 114.74%;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        left: 0;

        @include mq-max-sp {
          padding-top: 0;
        }

        @media (min-width: 1600px) {
          padding-top: 66.43%;
        }

        img {
          position: absolute;
          width: auto;
          height: auto;
          bottom: 50px;
          right: -130px;

          @include mq-min-tb {
            left: 0;
            bottom: 0;
            max-width: fit-content;
            object-fit: none;
          }
        }
      }
    }

  }
}
