@import '../_mixin';

.p-where-to-buy {
  .c-hero-where-to-buy {
    &__inner {
      min-height: 566px;
      margin: auto;
      background: url(/assets/img/where-to-buy/img_mv_where_to_buy.png) no-repeat center bottom;
      background-size: cover;
      position: relative;

      @include mq-min-max-tb {
        min-height: get-vw(566px);
      }
    }

    &__text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      @include mq-max-sp {
        width: 100%;
      }
    }

    &__heading {
      font-size: 4.8rem;
      line-height: 1.3;
      text-align: center;
      color: $white;

      @include mq-max-sp {
        font-size: 4rem;
        width: 100%;
        padding: 0 30px;
      }
    }

    &__sub-text {
      font-size: 2.2rem;
      line-height: 1.3;
      text-align: center;
      margin-top: 20px;
      color: $white;
      width: 100%;
      padding: 0 30px;
    }
  }

  .c-where-to-buy {
    position: relative;

    .c-bg-wave-white-solid {
      top: -70px;
    }

    &__box-list-tab {
      @include mq-max-sp {
        overflow-x: scroll;
        overflow-y: hidden;
        padding-left: 100px;
      }
    }

    &__list-tab {
      display: flex;
      flex-wrap: wrap;
      max-width: 900px;
      justify-content: center;
      margin: auto;

      @include mq-max-sp {
        width: 900px;
        max-width: 900px;
        flex-wrap: nowrap;
        justify-content: flex-start;
      }

      &-item {
        width: 250px;
        height: 237px;
        background: url(/assets/img/where-to-buy/ico_big_white_egg.svg) no-repeat center center;
        background-size: cover;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        transition:  all .3s ease-in;
        cursor: pointer;

        @include mq-max-sp {

        }

        &:hover {
          opacity: 0.7;
        }

        &:not(.is-active) {
          margin: 0 -18px;
        }

        &:nth-child(3) {
          > .icon {
            margin-top: 24px;
          }
        }

        &.is-active {
          .icon {
            .c-icon-building {
              background: url(/assets/img/svg/icon-modern-trade-active.svg) no-repeat center center;
              background-size: cover;
            }

            .c-icon-online-store {
              background: url(/assets/img/svg/icon-online-store-active.svg) no-repeat center center;
              background-size: cover;
            }

            .c-icon-our-store {
              background: url(/assets/img/svg/icon-store-active.svg) no-repeat center center;
              background-size: cover;
            }

            .c-icon-point {
              background: url(/assets/img/svg/icon-point-of-purchase-active.svg) no-repeat center center;
              background-size: cover;
            }
          }
        }

        > .icon {
          .c-icon-building {
            width: 36px;
            height: 41px;
            background: url(/assets/img/svg/icon-modern-trade.svg) no-repeat center center;
            background-size: cover;
          }

          .c-icon-online-store {
            width: 36px;
            height: 41px;
            background: url(/assets/img/svg/icon-online-store.svg) no-repeat center center;
            background-size: cover;
          }

          .c-icon-our-store {
            width: 43px;
            height: 41px;
            background: url(/assets/img/svg/icon-store.svg) no-repeat center center;
            background-size: cover;
          }

          .c-icon-point {
            width: 43px;
            height: 41px;
            background: url(/assets/img/svg/icon-point-of-purchase.svg) no-repeat center center;
            background-size: cover;
          }
        }

        > .text {
          font-size: 2rem;
          line-height: 1.2;
          color: #777;
          margin-top: 10px;
          padding: 0 10px;
        }

        & + .c-where-to-buy__list-tab-item.is-active{

        }

        &.is-active {
          background: url(/assets/img/where-to-buy/ico_big_yellow_egg.svg) no-repeat center center;
          margin: 0 -18px;

          > .text {
            color: $baseColor;
          }
        }
      }

      &-content{
        margin-top: 40px;
        position: relative;

        @include mq-max-sp {
          padding: 0 30px;
          margin-top: 0;
        }

        &-box {
          max-width: 1074px;
          margin: auto;
          border-radius: 30px;
          background: #FCFBF2;
          opacity: 0;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          transition: all .4s ease-in;
          padding: 110px 50px 80px;
          width: 100%;

          @include mq-min-max-tb {
            max-width: get-vw(1074px);
            padding: get-vw(110px) get-vw(50px) get-vw(80px);
          }

          @include mq-max-sp {
            padding: 60px 30px 30px;
            margin-bottom: 60px;
          }

          &.is-active {
            opacity: 1;
            position: relative;
          }

          .c-triangle {
            display: inline-block;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 14px 15px 14px;
            border-color: transparent transparent #FCFBF2 transparent;
            position: absolute;
            top: -15px;

            &.-tab-01 {
              left: 200px;

              @include mq-min-max-tb {
                left: get-vw(200px);
              }

              @include mq-max-sp {
                left: 50%;
                transform: translateX(-50%);
              }
            }

            &.-tab-02 {
              left: 410px;

              @include mq-min-max-tb {
                left: get-vw(410px);
              }

              @include mq-max-sp {
                left: 50%;
                transform: translateX(-50%);
              }
            }

            &.-tab-03 {
              left: 630px;

              @include mq-min-max-tb {
                left: get-vw(630px);
              }

              @include mq-max-sp {
                left: 50%;
                transform: translateX(-50%);
              }
            }

            &.-tab-04 {
              left: 830px;

              @include mq-min-max-tb {
                left: get-vw(830px);
              }

              @include mq-max-sp {
                left: 50%;
                transform: translateX(-50%);
              }
            }
          }

          &-list {

          }
        }
      }
    }



    &__list-shop {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      @include mq-min-max-tb {

      }

      @include mq-max-sp {

      }

      .slick-list {
        @include mq-max-sp {
          width: 100%;
        }
      }

      .slick-track {
        @include mq-max-sp {

        }
      }

      .slick-arrow {
        @include mq-max-sp {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          z-index: 10;

          outline: none;
          width: 34px;
          height: 34px;
          background: #fff;
          border-radius: 100%;
          box-shadow: 0px 3px 20px 0px rgba(0,0,0,0.16);
          display: inline-flex;
          align-items: center;
          justify-content: center;
          transition: all .3s;

          .fas {
            color: #DCDCDC;
            transition: all .3s;
          }

          &:hover {
            background: $baseColor;

            .fas {
              color: $yellow;
            }
          }
        }
      }

      .slick-prev {
        @include mq-max-sp {
          left: -45px;
        }
      }

      .slick-next {
        @include mq-max-sp {
          right: -45px;
        }
      }

      .slick-disabled {
        @include mq-max-sp {
          // opacity: 0;
        }
      }

      &-item {
        width: calc(25% - 40px);
        margin: 0 20px 30px;

        @include mq-min-max-tb {

        }

        @include mq-max-sp {
          margin: 0 0 30px;
          padding: 0 15px;
        }

        img {
          @include mq-max-sp {
            margin: auto;
          }
        }
      }

      &-link {
        transition: all .3s ease-in;

        &:hover {
          opacity: 0.7;
        }
      }
    }

  }

  .-box-subscribe .inner {
    background: none;
  }

  .js-swiper-shop {
    .swiper-button-prev,
    .swiper-button-next {
      display: none;

      @include mq-max-sp {
        display: block;
      }
    }
    .swiper-wrapper.disabled {
      transform: translate3d(0px, 0, 0) !important;
    }
    .swiper-pagination.disabled {
        display: none;
    }
  }
}