nav.p-breadcrumb.l-block-md
  ol.p-breadcrumb__group
    li.p-breadcrumb__item
      a.p-breadcrumb__link(href="/") TOP
    li.p-breadcrumb__item
      a.p-breadcrumb__link(href="#dummy") 第二回層テキスト
    li.p-breadcrumb__item 第三階層テキスト
