.p-pagetop.js-pagetop
  a.p-pagetop__trigger.js-scroll(href='#')
    span.fas.fa-chevron-up
.c-fix-panel
  .inner
    .c-call
      .icon.-tel
      .text โทรหาเรา
    .c-message
      .icon.-line
      .text ส่งข้อความ
footer.l-footer
  .c-wave-footer
    canvas#canvas-footer
  .inner
    .l-footer__in.l-block
      nav.l-footer__menu
        ul.l-footer__menu-list
          li.l-footer__menu-item.-logo-footer
            a.l-footer__menu-link(href='#')
              img(src="/assets/img/common/img_logo_footer.png", alt="")

          li.l-footer__menu-item.-contact-detail
            .l-footer__menu-link CONTACT INFO
            .l-footer__content
              .heading บริษัท อัครากรุ๊ป จำกัด
              .txt 88 หมู่ 2 ต.ป่าขะ อ.บ้านนา จ.นครนายก 26110
            .l-footer__content
              .heading วันและเวลาทำการ
              .txt วันจันทร์ – วันเสาร์ 08.00 – 17.00
          li.l-footer__menu-item.u-pl-40.u-pl-sp-0
            .l-footer__menu-link.c-hide-sp
            .l-footer__content
              .txt
                div 092-3807771-3
              .txt
                div 037-349-886
                .email
                  img(src="/assets/img/common/fax-solid.svg", alt="")
              .txt
                div webadmin@akaragroup.co.th
                .fax
                  img(src="/assets/img/common/envelope-solid.svg", alt="")
          li.l-footer__menu-item
            .l-footer__menu-link CUSTOMER SERVICE
            .l-footer__content.-tel
              .text 037-349-885
              .icon-tel
                i.fas.fa-headset
            .l-footer__menu-link.-sns-heading FOLLOW US
            .l-footer__content.-sns
              .c-footer-list-sns
                .c-footer-list-sns__item
                  a.c-footer-list-sns__link(href="#")
                    i.fab.fa-facebook
                .c-footer-list-sns__item
                  a.c-footer-list-sns__link(href="#")
                    i.fab.fa-twitter
                .c-footer-list-sns__item
                  a.c-footer-list-sns__link(href="#")
                    i.fab.fa-instagram
    .l-footer__copyright
      .item
        div Copyright 2020 Akaragroup | All Rights Reserved
