.c-box-nav-local.l-block
  .c-nav-local-lvl2.u-no-pc.u-no-tb.js-cmn-accordion
    a.c-nav-local-lvl2__link(href="#dummy") 
      span 第二回層タイトル
  .c-nav-local
    .c-nav-local__list
      .c-nav-local__item
        a.c-nav-local__link.is-active
          span カレントタイトル
      .c-nav-local__item
        a.c-nav-local__link(href="#dummy")
          span 第三階層タイトル
      .c-nav-local__item
        a.c-nav-local__link(href="#dummy")
          span 第三階層タイトル
      .c-nav-local__item
        a.c-nav-local__link(href="#dummy")
          span 第三階層タイトル
      .c-nav-local__item
        a.c-nav-local__link(href="#dummy")
          span 第三階層タイトル
    .c-nav-local-lvl2__close.u-no-pc.u-no-tb.js-cmn-accordion-close.is-active 
        a.c-nav-local-lvl2__close-link(href="#dummy") 
          span.c-icon--plus CLOSE