extends ../../layouts/master.pug

block variables
  -
    const index = true
    const meta = {
      title: 'FAQ | Akara Group',
      keyword: 'Akara Group',
      description: '',
      goTitle: 'Akara Group',
      goDescription: '',
      goImage: '/assets/img/ogp.png',
      goUrl: '',
      twitterTitle: 'Akara Group',
      twitterDescription: '',
      twitterImage: '/assets/img/ogp.png',
      twitterUrl: ''
    }

    const topPage = false
    const whiteTheme = true

block prepend css
  link(rel='stylesheet', href='/assets/css/libs/slick.css')
block append scripts
  script(src='/assets/js/libs/slick.min.js')
  script(src='/assets/js/libs/jquery.matchHeight.js')
  script(src='/assets/js/libs/jquery.waypoints.js')

block outside
  //- // loader
  //- .c-loader
  //-   .c-loader__icon
  //-     p.c-loader__text
  //-       img(src="/assets/img/common/logo@2x.png", alt="")
  //-     .loader.simple-circle
  //- // /loader

block content
  .p-faq
    .c-hero-faq
      .c-hero-faq__inner
        .c-hero-faq__text
          .c-hero-faq__heading FAQ
          .c-hero-faq__sub-text เพราะทุกคำคือธรรมชาติ

    .sec-cmn-01.c-faq
      .c-faq__inner
        .c-faq__list.js-faq-accordian
          .c-faq__item
            .c-faq__box-heading
              .c-faq__heading Lorem ipsum dolor sit amet, consetetur sadipscing elitr, diam nonumy tempor invidunt ut labore et dolore?
              .c-faq__icon
                i.fas.fa-chevron-right
                i.fas.fa-chevron-down
            .c-faq__box-text
              .c-faq__text Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est.
          .c-faq__item
            .c-faq__box-heading
              .c-faq__heading Lorem ipsum dolor sit amet, consetetur sadipscing elitr, diam nonumy tempor invidunt ut labore et dolore?
              .c-faq__icon
                i.fas.fa-chevron-right
                i.fas.fa-chevron-down
            .c-faq__box-text
              .c-faq__text Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est.
          .c-faq__item
            .c-faq__box-heading
              .c-faq__heading Lorem ipsum dolor sit amet, consetetur sadipscing elitr, diam nonumy tempor invidunt ut labore et dolore?
              .c-faq__icon
                i.fas.fa-chevron-right
                i.fas.fa-chevron-down
            .c-faq__box-text
              .c-faq__text Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est.
          .c-faq__item
            .c-faq__box-heading
              .c-faq__heading Lorem ipsum dolor sit amet, consetetur sadipscing elitr, diam nonumy tempor invidunt ut labore et dolore?
              .c-faq__icon
                i.fas.fa-chevron-right
                i.fas.fa-chevron-down
            .c-faq__box-text
              .c-faq__text Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est.
          .c-faq__item
            .c-faq__box-heading
              .c-faq__heading Lorem ipsum dolor sit amet, consetetur sadipscing elitr, diam nonumy tempor invidunt ut labore et dolore?
              .c-faq__icon
                i.fas.fa-chevron-right
                i.fas.fa-chevron-down
            .c-faq__box-text
              .c-faq__text Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est.
          .c-faq__item
            .c-faq__box-heading
              .c-faq__heading Lorem ipsum dolor sit amet, consetetur sadipscing elitr, diam nonumy tempor invidunt ut labore et dolore?
              .c-faq__icon
                i.fas.fa-chevron-right
                i.fas.fa-chevron-down
            .c-faq__box-text
              .c-faq__text Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est.

    .l-sec-cmn-01.-box-subscribe
      .inner
        .c-box-subscribe.animation-element.slide-top
          .item.-signup-text
            .box-sign-up
              .icon_envelope
                img(src="/assets/img/common/envelope-regular.svg", alt="")
              span SIGN
              span UP
          .item
            .box-heading
              .heading FOR RECIPES, COUPONS AND OTHER NEWS
            .box-form
              .c-input-row
                input.c-input.-text(type="email", name="email", placeholder="Your E-Mail Address")
                //- button.c-input.-submit(type="submit", value="")
                //-   | SUBSCRIBE
                //-   i.fas.fa-paper-plane

                .c-box-cmn-button
                  button.c-button-cmn-01(type="submit", value="")
                    span.text SUBSCRIBE
                    span.arrow
                      i.fa.fa-arrow-right