extends ../layouts/master.pug

block variables
  -
    const index = true
    const meta = {
      title: 'Akara Group',
      keyword: 'Akara Group',
      description: '',
      goTitle: 'Akara Group',
      goDescription: '',
      goImage: '/assets/img/ogp.png',
      goUrl: '',
      twitterTitle: 'Akara Group',
      twitterDescription: '',
      twitterImage: '/assets/img/ogp.png',
      twitterUrl: ''
    }

    const topPage = true

block prepend css
  link(rel='stylesheet', href='/assets/css/libs/slick.css')
block append scripts
  script(src='/assets/js/libs/slick.min.js')
  script(src='/assets/js/libs/jquery.matchHeight.js')
  script(src='/assets/js/libs/jquery.waypoints.js')

block outside
  // loader
  .c-loader
    .c-loader__icon
      p.c-loader__text
        img(src="/assets/img/common/logo@2x.png", alt="")
      .loader.simple-circle
  // /loader

block content
  .p-top
    .l-sec-cmn-02
      .inner
        .c-box-swiper-mv
          .slider-inner
            .box-swiper-content
              .heading
                .text-black EVERYDAY
                .text-yellow with akara
                  //- svg
                  //-   symbol#text-copy
                  //-     text.text--line(text-anchor='center', x='0', y='50%') with akara
                  //-   g.g-ants
                  //-     use#outline.text-copy(xlink:href='#text-copy')
                  //-     use#fill.text-copy(xlink:href='#text-copy')

              .text These tasty certified USDA Organic eggs come from farms that have been pesticide-free for at least three years
              .mv-swiper-nav-custom
                // Add Arrows
                .mv-swiper-button-prev
                  i.fas.fa-chevron-left
                .mv-swiper-button-next
                  i.fas.fa-chevron-right

            .box-swiper-mv-js
              .swiper-wrapper
                .swiper-slide
                  .mainvisual-content
                    .box-image-wrapper
                      figure.box-image
                        img.image(src="/assets/img/top/banner-cooking.jpg", alt="Akara Group", data-object-fit="cover")
                        //- img.image.-lg(src="/assets/img/top/img_mainvisual_01@2x.png", alt="Akara Group", data-object-fit="cover")
                .swiper-slide
                  .mainvisual-content
                    .box-image-wrapper
                      figure.box-image
                        img.image(src="/assets/img/top/banner-fresh-egg.jpg", alt="Akara Group", data-object-fit="cover")
                        //- img.image.-lg(src="/assets/img/top/img_mainvisual_02@2x.png", alt="Akara Group", data-object-fit="cover")

              // Add Pagination
              .mv-swiper-pagination

    .l-sec-cmn-01
      .inner
        .c-box-card-row-01.-reverse.-yellow-egg
          figure.box-image
            .c-deco-yellow-egg.animation-element.slide-top
            img.image.animation-element.slide-right(src="/assets/img/top/img_product_01.png", alt="Akara")
            .c-open-package.--yellow
          .box-content
            a.js-scroll.c-scroll-down-button(href="#scroll_yellow_egg")
              .c-scroll-down-line
            .c-egg.animation-element.slide-top
            .c-deco-yellow-egg-bg
            .c-heading-cmn-01.animation-element.slide-left
              figure.box-image-heading
                img.image(src="/assets/img/top/img_logo_01.png", alt="Akara")
            .c-text-cmn-01.animation-element.slide-left These tasty certified USDA Organic eggs come from farms that have been pesticide-free for at least three years and from free range flocks that receive no antibiotics.
            .c-box-cmn-button.animation-element.slide-left
              a.c-button-cmn-01
                span.text READ MORE
                span.arrow
                  i.fa.fa-arrow-right
        .c-box-card-row-01.-green-egg
          figure.box-image
            .c-deco-green-hen.animation-element.slide-top
            img.image.animation-element.slide-left(src="/assets/img/top/img_product_02.png", alt="Akara Group")
            .c-open-package.--green.animation-element.slide-top
          .box-content
            .c-egg.animation-element.slide-top#scroll_yellow_egg
            .c-egg-deco-top.animation-element.slide-top
            .c-egg-deco-bottom.animation-element.slide-top
            .c-heading-cmn-01.animation-element.slide-right
              figure.box-image-heading
                img.image(src="/assets/img/top/img_logo_02.png", alt="Akara")
            .c-text-cmn-01.-white.animation-element.slide-right These tasty certified USDA Organic eggs come from farms that have been pesticide-free for at least three years and from free range flocks that receive no antibiotics.
            .c-box-cmn-button.animation-element.slide-right
              a.c-button-cmn-01.animation-element.slide-top
                span.text READ MORE
                span.arrow
                  i.fa.fa-arrow-right
        .c-box-card-row-01.-reverse.-orange-egg
          figure.box-image
            .c-hen-deco-orange.animation-element.slide-top
            .c-egg-deco-orange.animation-element.slide-top
            .c-line-deco-orange.animation-element.slide-top
            img.image.animation-element.slide-right(src="/assets/img/top/img_product_03.png", alt="Akaragroup")
            .c-open-package.--orange.animation-element.slide-top
          .box-content
            .c-egg.animation-element.slide-top
            .c-mori-tama-egg.animation-element.slide-top
            figure.box-image-heading.animation-element.slide-left
              img.image(src="/assets/img/top/img_logo_03.png", alt="Akara")
            .c-text-cmn-01.-white.animation-element.slide-left These tasty certified USDA Organic eggs come from farms that have been pesticide-free for at least three years and from free range flocks that receive no antibiotics.
            .c-box-cmn-button.animation-element.slide-left
              a.c-button-cmn-01
                span.text READ MORE
                span.arrow
                  i.fa.fa-arrow-right

    .l-sec-cmn-01.-story-about-top
      .inner
        .c-box-card-row-01
          figure.box-image.animation-element.slide-top
            img.image.u-no-sp(src="/assets/img/top/img_akara_story.png", alt="akara Story")
            img.image.u-no-tb.u-no-pc(src="/assets/img/top/BlackOak.svg", alt="akara Story")
          .box-content
            .c-orange-egg.animation-element.slide-top
            .c-heading-cmn-01.animation-element.slide-top
              span.text-white akara
              span  Story
            .c-text-cmn-01.animation-element.slide-top These tasty certified USDA Organic eggs come from farms that have been pesticide-free for at least three years and from free range flocks that receive no antibiotics. No hormones are used in egg production either! Best of all, they come from happy hens who are free to roam and play.
            .c-box-cmn-button.animation-element.slide-top
              a.c-button-cmn-01
                span.text READ MORE
                span.arrow
                  i.fa.fa-arrow-right
        .c-box-card-row-01.-reverse
          figure.box-image.animation-element.slide-top
            img.image.u-no-sp(src="/assets/img/top/img_about_akara.png", alt="About akara")
            img.image.u-no-tb.u-no-pc(src="/assets/img/top/everyday-with-akara2.svg", alt="About akara")
          .box-content
            .c-about-akara-egg.animation-element.slide-top
            .c-line-dotted-about-akara.animation-element.slide-top
            .c-heading-cmn-01.animation-element.slide-top
              span About
              span.text-white  akara
            .c-text-cmn-01.animation-element.slide-top These tasty certified USDA Organic eggs come from farms that have been pesticide-free for at least three years and from free range flocks that receive no antibiotics. No hormones are used in egg production either! Best of all, they come from happy hens who are free to roam and play.
            .c-box-cmn-button.animation-element.slide-top
              a.c-button-cmn-01
                span.text READ MORE
                span.arrow
                  i.fa.fa-arrow-right

    .l-sec-cmn-01.-recipes-top-heading
      .inner
        .c-box-heading-center-text
          .inner
            .box-heading.animation-element.slide-top
              .c-line-deco
              .title
                span RECIPIE
                span.text-yellow S
            .box-text.animation-element.slide-top
              .text These tasty certified USDA Organic eggs come from farms that have been pesticide-free for at least three years and from free range flocks that receive no antibiotics. No hormones are used in egg production either!
            .c-box-cmn-button.animation-element.slide-top
              a.c-button-cmn-01.--border-base
                span.text READ MORE
                span.arrow
                  i.fa.fa-arrow-right
    .l-sec-cmn-01.l-sec-box-swiper-voice
      .inner
        .l-swiper-recipes
          // Slider main container
          .product-swiper-container.js-recipes-swiper
            // Additional required wrapper
            .swiper-wrapper
              // Slides
              .swiper-slide
                .article-content
                  .c-shadow
                  .c-box-card-01.-full
                    .c-overlay
                    figure.box-image
                      img.image(src="/assets/img/top/img_recipes_top_02.jpg", alt="Cheesy Breaks")
                    .box-content
                      .c-heading-cmn-01 Cheesy Breaks
                      .c-text-cmn-01 Lorem ipsum dolor sit amet, consec tetur adipiscing elit, sed do eiusmod tempor incididunt
              .swiper-slide
                .article-content
                  .c-shadow
                  .c-box-card-01.-full
                    .c-overlay
                    figure.box-image
                      img.image(src="/assets/img/top/img_recipes_top_03.jpg", alt="Italian Fried Egg")
                    .box-content
                      .c-heading-cmn-01 Italian Fried Egg
                      .c-text-cmn-01 Lorem ipsum dolor sit amet, consec tetur adipiscing elit, sed do eiusmod tempor incididunt
              .swiper-slide
                .article-content
                  .c-shadow
                  .c-box-card-01.-full
                    .c-overlay
                    figure.box-image
                      img.image(src="/assets/img/top/img_recipes_top_04.jpg", alt="Rocky Egg Sunrise")
                    .box-content
                      .c-heading-cmn-01 Rocky Egg Sunrise
                      .c-text-cmn-01 Lorem ipsum dolor sit amet, consec tetur adipiscing elit, sed do eiusmod tempor incididunt
              .swiper-slide
                .article-content
                  .c-shadow
                  .c-box-card-01.-full
                    .c-overlay
                    figure.box-image
                      img.image(src="/assets/img/top/img_recipes_top_01.jpg", alt="Rocky Egg Salad")
                    .box-content
                      .c-heading-cmn-01 Rocky Egg Salad
                      .c-text-cmn-01 Lorem ipsum dolor sit amet, consec tetur adipiscing elit, sed do eiusmod tempor incididunt


            //- // If we need pagination
            //- .swiper-pagination
            //- // If we need navigation buttons
            //- .swiper-button-prev
            //- .swiper-button-next
            //- // If we need scrollbar
            //- .swiper-scrollbar
    .l-sec-cmn-01.-box-subscribe
      .inner
        .c-box-subscribe.animation-element.slide-top
          .item.-signup-text
            .box-sign-up
          .item
            .box-heading
              .heading FOR RECIPES, COUPONS AND OTHER NEWS
            .box-form
              .c-input-row
                input.c-input.-text(type="email", name="email", placeholder="Your E-Mail Address")
                //- button.c-input.-submit(type="submit", value="")
                //-   | SUBSCRIBE
                //-   i.fas.fa-paper-plane

                .c-box-cmn-button
                  button.c-button-cmn-01(type="submit", value="")
                    span.text SUBSCRIBE
                    span.arrow
                      i.fa.fa-arrow-right