extends ../layouts/master.pug

block variables
  -
    const meta = {
      title: 'PARTS LIST',
      keyword: '',
      description: '',
      goTitle: '',
      goDescription: 'P',
      goImage: '/assets/img/ogp.png',
      goUrl: '',
      twitterTitle: '',
      twitterDescription: '',
      twitterImage: '/assets/img/ogp.png',
      twitterUrl: ''
    }

block prepend css

block append scripts
  script(src='/assets/js/libs/jquery.matchHeight.js')
  script(src='/assets/js/libs/jquery.waypoints.js')

block outside

block content
  .c-box-mainvisual-subpage
    //- figure.c-box-mainvisual-subpage__figure
    //-   img.c-box-mainvisual-subpage__image.js-fit.u-no-sp(src="/assets/img/common/hero_01_pc.jpg", alt="第二回層タイトル")
    //-   img.c-box-mainvisual-subpage__image.u-no-tb.u-no-pc(src="/assets/img/common/hero_01_sp.jpg", alt="第二回層タイトル")
    .c-box-mainvisual-subpage__body
      .c-box-mainvisual-subpage__inner
        //- figure.c-box-mainvisual-subpage__title
        //-   img.c-box-mainvisual-subpage__title-image.u-no-sp(src="/assets/img/common/ttl-dummy.png", alt="TEXT")
        //-   img.c-box-mainvisual-subpage__title-image.u-no-tb.u-no-pc(src="/assets/img/common/ttl-dummy-sp.png", alt="TEXT")
        .c-box-mainvisual-subpage__text 第二回層タイトル

  // breadcrumb
  include ../components/breadcrumb.pug

  .l-sec-cmn-01
    .inner
      .c-box-card-row-01
        figure.box-image
          img.image(src="https://via.placeholder.com/500x300.png?text=Akaragroup", alt="Akaragroup")
        .box-content
          .c-heading-cmn-01 Heading 3
          .c-text-cmn-01 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus efficitur fringilla neque at porta. Nam a neque pharetra, tempus enim quis, sollicitudin nunc. Quisque ultrices, dui a lacinia dictum, justo nulla venenatis enim, a tincidunt enim elit sit amet nisl.
          .c-box-cmn-button
            a.c-button-cmn-01
              span.text READ MORE
              span.arrow
                i.fa.fa-arrow-right
      .c-box-card-row-01.-reverse
        figure.box-image
          img.image(src="https://via.placeholder.com/500x300.png?text=Akaragroup", alt="Akaragroup")
        .box-content
          .c-heading-cmn-01 Heading 4
          .c-text-cmn-01 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus efficitur fringilla neque at porta. Nam a neque pharetra, tempus enim quis, sollicitudin nunc. Quisque ultrices, dui a lacinia dictum, justo nulla venenatis enim, a tincidunt enim elit sit amet nisl.
          .c-box-cmn-button
            a.c-button-cmn-01
              span.text READ MORE
              span.arrow
                i.fa.fa-arrow-right

      .c-box-card-list-01
        .c-box-card-01
          figure.box-image
            img.image(src="https://via.placeholder.com/500x300.png?text=Akaragroup", alt="Akaragroup")
          .box-content
            .c-heading-cmn-01 Heading 1
            .c-text-cmn-01 Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        .c-box-card-01
          figure.box-image
            img.image(src="https://via.placeholder.com/500x300.png?text=Akaragroup", alt="Akaragroup")
          .box-content
            .c-heading-cmn-01 Heading 1
            .c-text-cmn-01 Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        .c-box-card-01
          figure.box-image
            img.image(src="https://via.placeholder.com/500x300.png?text=Akaragroup", alt="Akaragroup")
          .box-content
            .c-heading-cmn-01 Heading 1
            .c-text-cmn-01 Lorem ipsum dolor sit amet, consectetur adipiscing elit.

  article.c-box-article.l-center
    .c-box-article__inner
      .c-box-heading-title
        h2.c-title-01 
          |ページタイトル
          span.u-no-sp ページタイトル
        h2.c-heading-01 見出しデザイン見出しデザイン
        h2.c-heading-02 見出しデザイン見出しデザイン
        h2.c-heading-03 見出しデザイン見出しデザイン
        h2.c-heading-04 見出しデザイン見出しデザイン

      .c-box-text.u-mt-100.u-mt-80-sp
        p.c-text-01 デフォルトサイズのテキスト16pxデフォルトサイズのテキスト16pxデフォルトサイズのテキスト16pxデフォルトサイズのテキスト16pxデフォルトサイズのテキスト16pxデフォルトサイズのテキスト16pxデフォルトサイズのテキスト16px
        p.c-text-02 スモールサイズのテキスト14pxスモールサイズのテキスト14pxスモールサイズのテキスト14pxスモールサイズのテキスト14pxスモールサイズのテキスト14pxスモールサイズのテキスト14pxスモールサイズのテキスト14pxスモールサイズのテキスト14pxスモールサイズのテキスト14pxスモールサイズのテキスト14px
        p.c-text-03 注釈サイズのテキスト12px注釈サイズのテキスト12px注釈サイズのテキスト12px注釈サイズのテキスト12px注釈サイズのテキスト12px注釈サイズのテキスト12px注釈サイズのテキスト12px注釈サイズのテキスト12px注釈サイズのテキスト12px注釈サイズのテキスト12px注釈サイズのテキスト12px注釈サイズのテキスト12px

      .c-box-text-link.u-mt-100.u-mt-80-sp
        p.c-text-01.u-fw-bold.u-mt-30.u-mt-25-sp
          a.c-link.c-link-arrow.c-link-arrow__green(href="#dummy") テキストリンクボタン
        p.c-text-01.u-mt-30.u-mt-25-sp
          |テキストテキスト
          a.c-link.c-link-underline(href="#dummy") リンクエリア 
          |キストテキスト
        p.c-text-01.u-fw-bold.u-mt-30.u-mt-25-sp
          a.c-link.c-link-windows(href="#dummy") 外部リンクテキスト
      
      .c-box-list.u-mt-100.u-mt-80-sp
        ol.c-list-01  
          li.c-list-01__item
            p.c-text-01 リストデザイン01リストデザイン01
            p.c-text-01 デフォルトサイズのテキスト16pxデフォルトサイズのテキスト16pxデフォルトサイズのテキスト16pxデフォルトサイズのテキスト16pxデフォルトサイズのテキスト16pxデフォルトサイズのテキスト16pxデフォルトサイズのテキスト16px
            ol.c-list-01
              li.c-list-01__item
                p.c-text-01 デフォルトサイズのテキスト16pxデフォルトサイズのテキスト16pxデフォルトサイズのテキスト16pxデフォルトサイズのテキスト16pxデフォルトサイズのテキスト16pxデフォルトサイズのテキスト16pxデフォルトサイズのテキスト16px
              li.c-list-01__item
                p.c-text-01 デフォルトサイズのテキスト16pxデフォルトサイズのテキスト16pxデフォルトサイズのテキスト16pxデフォルトサイズのテキスト16pxデフォルトサイズのテキスト16pxデフォルトサイズのテキスト16pxデフォルトサイズのテキスト16px

        ul.c-list-02
          li.c-list-02__item
            p.c-text-01 リストデザイン02リストデザイン02 List
          li.c-list-02__item
            p.c-text-01 リストデザイン02リストデザイン02 List

      .c-box-button.u-mt-100.u-mt-80-sp
        .c-box-button__inner
          .c-box-button__row
            .c-box-button-cmn-01
              a.c-button-middle.c-button--green(href='#')
                span.c-button__text デフォルトボタン
                span.c-button__icon.c-icon--arrow
            .c-box-button-cmn-01.u-ml-200.u-ml-0-sp
              a.c-button-small.c-button--green(href='#')
                span.c-button__text デフォルトボタン
                span.c-button__icon.c-icon--arrow
          .c-box-button__row.u-mt-30
            .c-box-button-cmn-01
              a.c-button-middle.c-button--orange(href='#') 
                span.c-button__text CVボタン
                span.c-button__icon.c-icon--arrow

      .c-box-table.u-mt-100.u-mt-80-sp
        .c-box-table-responsive-01
          table.c-table-responsive-01
            tr
              th テーブル
              th テーブルデザイン1
            tr
              td テキストテキスト
              td テキストテキストテキストテキスト
            tr
              td テキストテキスト
              td テキストテキストテキストテキスト
            tr
              td テキストテキスト
              td テキストテキストテキストテキスト

        .c-box-table-responsive-02
          table.c-table-responsive-02
            tr
              th テーブルデザイン2
              td  テキストテキストテキストテキスト
            tr
              th テーブルデザイン2
              td テキストテキストテキストテキスト
            tr
              th テーブルデザイン2
              td テキストテキストテキストテキスト
            tr
              th テーブルデザイン2
              td テキストテキストテキストテキスト

        .c-box-table-responsive-03
          table.c-table-responsive-03
            tr
              td  テキストテキストテキストテキスト
              td  テキストテキストテキストテキスト
            tr
              td  テキストテキストテキストテキスト
              td テキストテキストテキストテキスト
            tr
              td  テキストテキストテキストテキスト
              td テキストテキストテキストテキスト
            tr
              td  テキストテキストテキストテキスト
              td テキストテキストテキストテキスト

