extends ../../layouts/master.pug

block variables
  -
    const index = true
    const meta = {
      title: 'Our Story | Akara Group',
      keyword: 'Akara Group',
      description: '',
      goTitle: 'Akara Group',
      goDescription: '',
      goImage: '/assets/img/ogp.png',
      goUrl: '',
      twitterTitle: 'Akara Group',
      twitterDescription: '',
      twitterImage: '/assets/img/ogp.png',
      twitterUrl: ''
    }

    const topPage = false
    const whiteTheme = false

block prepend css
  link(rel='stylesheet', href='/assets/css/libs/slick.css')
block append scripts
  script(src='/assets/js/libs/slick.min.js')
  script(src='/assets/js/libs/jquery.matchHeight.js')
  script(src='/assets/js/libs/jquery.waypoints.js')

block outside
  //- // loader
  //- .c-loader
  //-   .c-loader__icon
  //-     p.c-loader__text
  //-       img(src="/assets/img/common/logo@2x.png", alt="")
  //-     .loader.simple-circle
  //- // /loader

block content
  .p-our-story
    .c-mv-sub-page
      .c-mv-sub-page__inner
        .c-mv-sub-page__box-content
          .c-mv-sub-page__heading Our Story
          .c-mv-sub-page__sub-heading เพราะทุกคำคือธรรมชาติ
          .c-mv-sub-page__text เป็นผลิตภัณฑ์ ที่มีการควบคุมกระบวนการผลิตตั้งแต่ต้นกระบวนการให้ปลอดภัย ปลอดสารเร่งและปลอดยาปฏิชีวนะ จนได้ผลผลิต “ไข่ไก่ออร์แกนิค ปลอดภัย” ได้การรับรองมาตรฐาน GMP/HACCP และ DLD Certificate 2016 ของกรมปศุสัตว์ รายแรกของประเทศไทย
          a.c-mv-sub-page__anchor-icon.js-scroll.c-scroll-down-button__static-page(href="#scroll_timeline")
            .c-scroll-down-line
        .c-mv-sub-page__box-image
          figure.c-mv-sub-page__image-frame
            img(src="/assets/img/our-story/mv_our_story.png", alt="")

    .c-box-time-line
      .c-box-time-line__inner
        .c-box-time-line__line
        .c-box-time-line__list#scroll_timeline
          .c-box-time-line__item
            .c-box-time-line__image
              .c-box-time-line__image-frame
                img(src="/assets/img/our-story/img_our_story_01.png", alt="")
            .c-box-time-line__content
              .c-box-time-line__content-heading ปี พ.ศ. 2522
              .c-box-time-line__content-text These tasty certified USDA Organic eggs come from farms that have been pesticide-free for at least three years and from free range flocks that receive no antibiotics. No hormones are used in egg production either! Best of all, they come from happy hens who are free to roam and play.
          .c-box-time-line__item
            .c-box-time-line__image
              .c-box-time-line__image-frame
                img(src="/assets/img/our-story/img_our_story_02.png", alt="")
            .c-box-time-line__content
              .c-box-time-line__content-heading ปี พ.ศ. 2538
              .c-box-time-line__content-text These tasty certified USDA Organic eggs come from farms that have been pesticide-free for at least three years and from free range flocks that receive no antibiotics. No hormones are used in egg production either! Best of all, they come from happy hens who are free to roam and play.
          .c-box-time-line__item
            .c-box-time-line__image
              .c-box-time-line__image-frame
                img(src="/assets/img/our-story/img_our_story_03.png", alt="")
            .c-box-time-line__content
              .c-box-time-line__content-heading ปี พ.ศ. 2547
              .c-box-time-line__content-text These tasty certified USDA Organic eggs come from farms that have been pesticide-free for at least three years and from free range flocks that receive no antibiotics. No hormones are used in egg production either! Best of all, they come from happy hens who are free to roam and play.

    .c-box-our-egg
      .c-box-our-egg__inner
        .c-heading-box-egg
          .c-heading-egg
            .c-heading-egg__icon.-white
              .c-egg-solid
            .c-heading-egg__text Our Eggs
          .c-heading-egg-content.-lg Lorem ipsum dolor sit amet, consetetur sadipscing elitr, diam nonumy <br>tempor invidunt ut labore et dolore

        .c-box-our-egg__list
          .c-box-our-egg__item
            .c-box-our-egg_card
              figure.c-box-our-egg__card-image
                img(src="/assets/img/our-story/img_our_egg_01.png", alt="ฟาร์มคอนโด")
              .c-box-our-egg__card-heading ฟาร์มคอนโด
              .c-box-our-egg__card-content These tasty certified USDA Organic eggs come from farms that have been pesticide-free for at least three years and from free range flocks that receive no antibiotics.
          .c-box-our-egg__item
            .c-box-our-egg_card
              figure.c-box-our-egg__card-image
                img(src="/assets/img/our-story/img_our_egg_02.png", alt="Free Range")
              .c-box-our-egg__card-heading Free Range
              .c-box-our-egg__card-content These tasty certified USDA Organic eggs come from farms that have been pesticide-free for at least three years and from free range flocks that receive no antibiotics.
          .c-box-our-egg__item
            .c-box-our-egg_card
              figure.c-box-our-egg__card-image
                img(src="/assets/img/our-story/img_our_egg_03.png", alt="Organic 100%")
              .c-box-our-egg__card-heading Organic 100%
              .c-box-our-egg__card-content These tasty certified USDA Organic eggs come from farms that have been pesticide-free for at least three years and from free range flocks that receive no antibiotics.
          .c-box-our-egg__item
            .c-box-our-egg_card
              figure.c-box-our-egg__card-image
                img(src="/assets/img/our-story/img_our_egg_04.png", alt="พนักงานที่ใส่ใจ")
              .c-box-our-egg__card-heading พนักงานที่ใส่ใจ
              .c-box-our-egg__card-content These tasty certified USDA Organic eggs come from farms that have been pesticide-free for at least three years and from free range flocks that receive no antibiotics.

    .c-box-our-farm
      .c-box-our-farm__inner
        .c-heading-box-egg
          .c-heading-egg
            .c-heading-egg__icon
            .c-heading-egg__text Our Farm
          .c-heading-egg-content.-lg Lorem ipsum dolor sit amet, consetetur sadipscing elitr, diam nonumy <br>tempor invidunt ut labore et dolore

        .c-box-our-farm__list
          .c-box-our-farm__item
            .c-box-our-farm__card
              figure.c-box-our-farm__card-image
                img(src="/assets/img/our-story/img_our_farm_01.jpg", alt="")
              .c-box-our-farm__card-heading Sang thong Farm
              .c-box-our-farm__card-content These tasty certified USDA Organic eggs come from farms that have been pesticide-free for at least three years and from free range flocks that receive no antibiotics. No hormones are used in egg production either! Best of all, they come from happy hens who are free to roam and play.
          .c-box-our-farm__item
            .c-box-our-farm__card
              figure.c-box-our-farm__card-image
                img(src="/assets/img/our-story/img_our_farm_02.jpg", alt="")
              .c-box-our-farm__card-heading ใส่ใจในทุกขั้นตอนการผลิต
              .c-box-our-farm__card-content These tasty certified USDA Organic eggs come from farms that have been pesticide-free for at least three years and from free range flocks that receive no antibiotics. No hormones are used in egg production either! Best of all, they come from happy hens who are free to roam and play.
          .c-box-our-farm__item
            .c-box-our-farm__card
              figure.c-box-our-farm__card-image
                img(src="/assets/img/our-story/img_our_farm_03.jpg", alt="")
              .c-box-our-farm__card-heading มาตรฐานระดับสากล
              .c-box-our-farm__card-content These tasty certified USDA Organic eggs come from farms that have been pesticide-free for at least three years and from free range flocks that receive no antibiotics. No hormones are used in egg production either! Best of all, they come from happy hens who are free to roam and play.
          .c-box-our-farm__item
            .c-box-our-farm__card
              figure.c-box-our-farm__card-image
                img(src="/assets/img/our-story/img_our_farm_04.jpg", alt="")
              .c-box-our-farm__card-heading เพื่อสุขภาพที่ดีของคนไทย
              .c-box-our-farm__card-content These tasty certified USDA Organic eggs come from farms that have been pesticide-free for at least three years and from free range flocks that receive no antibiotics. No hormones are used in egg production either! Best of all, they come from happy hens who are free to roam and play.


    .c-box-certificate
      .c-box-certificate__inner
        .c-box-certificate__list
          .c-box-certificate__item
            figure.c-box-certificate__image
              img(src="/assets/img/common/img_certification_01.svg", alt="")
          .c-box-certificate__item
            figure.c-box-certificate__image
              img(src="/assets/img/common/img_certification_02.svg", alt="")
          .c-box-certificate__item
            figure.c-box-certificate__image
              img(src="/assets/img/common/img_certification_03.svg", alt="")
          .c-box-certificate__item
            figure.c-box-certificate__image
              img(src="/assets/img/common/img_certification_04.svg", alt="")
          .c-box-certificate__item
            figure.c-box-certificate__image
              img(src="/assets/img/common/img_certification_05.svg", alt="")
          .c-box-certificate__item
            figure.c-box-certificate__image
              img(src="/assets/img/common/img_certification_06.svg", alt="")

    .sec-cmn-01.c-box-video
      .c-box-video__inner
        .c-box-video__box-text
          .c-heading-box-egg
            .c-heading-egg
              .c-heading-egg__icon.-white
                .c-play-solid
              .c-heading-egg__text akara video
            .c-heading-egg-content Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.

        .c-box-video__box-iframe
          .c-box-video__box-iframe-inner
            iframe(width='560', height='315', src='https://www.youtube.com/embed/ps3kWOQRQnY', frameborder='0', allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

    .sec-cmn-01.c-faq
      .c-faq__inner
        .c-heading-box-egg
          .c-heading-egg
            .c-heading-egg__icon
              .c-comments-regular
            .c-heading-egg__text FAQ

        .c-faq__list.js-faq-accordian
          .c-faq__item
            .c-faq__box-heading
              .c-faq__heading Lorem ipsum dolor sit amet, consetetur sadipscing elitr, diam nonumy tempor invidunt ut labore et dolore?
              .c-faq__icon
                i.fas.fa-chevron-right
                i.fas.fa-chevron-down
            .c-faq__box-text
              .c-faq__text Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est.

          .c-faq__item
            .c-faq__box-heading
              .c-faq__heading Lorem ipsum dolor sit amet, consetetur sadipscing elitr, diam nonumy tempor invidunt ut labore et dolore?
              .c-faq__icon
                i.fas.fa-chevron-right
                i.fas.fa-chevron-down
            .c-faq__box-text
              .c-faq__text Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est.

          .c-faq__item
            .c-faq__box-heading
              .c-faq__heading Lorem ipsum dolor sit amet, consetetur sadipscing elitr, diam nonumy tempor invidunt ut labore et dolore?
              .c-faq__icon
                i.fas.fa-chevron-right
                i.fas.fa-chevron-down
            .c-faq__box-text
              .c-faq__text Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est.

        .c-box-cmn-button.animation-element.slide-top.--center
          a.c-button-cmn-01.--border-base
            span.text SEE MORE
            span.arrow
              i.fa.fa-arrow-right

    .l-sec-cmn-01.-box-subscribe
      .inner
        .c-box-subscribe.animation-element.slide-top
          .item.-signup-text
            .box-sign-up
          .item
            .box-heading
              .heading FOR RECIPES, COUPONS AND OTHER NEWS
            .box-form
              .c-input-row
                input.c-input.-text(type="email", name="email", placeholder="Your E-Mail Address")
                .c-box-cmn-button
                  button.c-button-cmn-01(type="submit", value="")
                    span.text SUBSCRIBE
                    span.arrow
                      i.fa.fa-arrow-right