extends ../../layouts/master.pug

block variables
  -
    const index = true
    const meta = {
      title: 'News | Akara Group',
      keyword: 'Akara Group',
      description: '',
      goTitle: 'Akara Group',
      goDescription: '',
      goImage: '/assets/img/ogp.png',
      goUrl: '',
      twitterTitle: 'Akara Group',
      twitterDescription: '',
      twitterImage: '/assets/img/ogp.png',
      twitterUrl: ''
    }

    const topPage = false
    const whiteTheme = true

block prepend css
  link(rel='stylesheet', href='/assets/css/libs/slick.css')
block append scripts
  script(src='/assets/js/libs/jquery.matchHeight.js')
  script(src='/assets/js/libs/jquery.waypoints.js')
  script(src='/assets/js/waveWhiteTop.js')

block outside

block content
  .p-media
    .c-hero-media
      .c-hero-media__inner.-news
        .c-hero-media__text
          .c-hero-media__heading News, Activity, and Event
          .c-hero-media__sub-text Follow us for all the latest AKARA news, photos, videos, event coverage, new products, and much more.
    .c-media
      .c-bg-wave-white-solid
        canvas#canvas-white-top
      nav.c-media-category.u-no-sp
        .c-media-category__list
          .c-media-category__item.is-active
            a.c-media-category__link(href="#")
              .text.u-ml-0 All
          .c-media-category__item
            a.c-media-category__link(href="#")
              .icon.-press
               svg(xmlns='http://www.w3.org/2000/svg' width='19' height='16' viewBox='0 0 19 16')
                text#_(data-name='' transform='translate(9 14)' fill='#777' font-size='16' font-family="FontAwesome5Free-Solid, 'Font Awesome 5 Free'")
                  tspan(x='-9' y='0') 
              .text News
          .c-media-category__item
            a.c-media-category__link(href="#")
              .icon.-print
                svg(xmlns='http://www.w3.org/2000/svg' width='14' height='17' viewBox='0 0 14 17')
                  text#_(data-name='' transform='translate(7 14)' fill='#777' font-size='16' font-family="FontAwesome5Free-Solid, 'Font Awesome 5 Free'")
                    tspan(x='-6.5' y='0') 
              .text Activities
          .c-media-category__item
            a.c-media-category__link(href="#")
              .icon.-tv
                svg(xmlns='http://www.w3.org/2000/svg' width='22' height='18' viewBox='0 0 22 18')
                  text#_(data-name='' transform='translate(11 15)' fill='#777' font-size='16' font-family="FontAwesome5Free-Solid, 'Font Awesome 5 Free'")
                    tspan(x='-10' y='0') 
              .text Events

      .c-media-category-dropdown.u-no-tb.u-no-pc
        svg(xmlns='http://www.w3.org/2000/svg' width='12' height='8' viewBox='0 0 12 8')
          path#Polygon_2(data-name='Polygon 2' d='M6,0l6,8H0Z' transform='translate(12 8) rotate(180)' fill='#777')

        select.c-media-category-select(name="category")
          option(value="") All
          option(value="") News
          option(value="") Activities
          option(value="") Events

      .c-media-list
        - for (var i = 0; i < 9; ++i)
          .c-media-list__item.animation-element.slide-top
            a.c-media-list__link(href="/news/detail.html")
              .c-media-list__card
                .c-media-list__frame
                  img.c-media-list__image(src="/assets/img/news/img_news_dummy.png", alt="News")
                  .c-media-list__category
                    .icon.press
                      svg(xmlns='http://www.w3.org/2000/svg' width='19' height='16' viewBox='0 0 19 16')
                        text#_(data-name='' transform='translate(9 14)' fill='#777' font-size='16' font-family="FontAwesome5Free-Solid, 'Font Awesome 5 Free'")
                          tspan(x='-9' y='0') 
                    .text News
                .c-media-list__heading Heading News & Activity
                .c-media-list__text Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod

      .c-box-cmn-button.animation-element.slide-top.--center
        a.c-button-cmn-01.--border-base
          span.text SEE MORE
          span.arrow
            i.fa.fa-arrow-right
    .l-sec-cmn-01.-box-subscribe
      .inner
        .c-box-subscribe.animation-element.slide-top
          .item.-signup-text
            .box-sign-up
          .item
            .box-heading
              .heading FOR RECIPES, COUPONS AND OTHER NEWS
            .box-form
              .c-input-row
                input.c-input.-text(type="email", name="email", placeholder="Your E-Mail Address")
                .c-box-cmn-button
                  button.c-button-cmn-01(type="submit", value="")
                    span.text SUBSCRIBE
                    span.arrow
                      i.fa.fa-arrow-right