extends ../../layouts/contact.pug

block variables
  -
    const meta = {
      title: 'お問い合わせ｜株式会社Akara Group',
      keyword: 'Akara Group、輸送、配送、保管、出荷、流通加工、電線ドラム製造、木製ドラム製造、木製パレット製造、物流機器販売',
      description: 'お問い合わせを紹介するページです。株式会社Akara Groupは、ドラム・パレットなどの物流機器製造や工場管理をはじめ、大口輸送・小口輸送のサービスネットワークを国内外に展開し、製品受入から最終ユーザーへの納入まで一貫したサービスを提供する総合物流会社です。',
      goTitle: 'お問い合わせ｜株式会社Akara Group',
      goDescription: 'お問い合わせを紹介するページです。株式会社Akara Groupは、ドラム・パレットなどの物流機器製造や工場管理をはじめ、大口輸送・小口輸送のサービスネットワークを国内外に展開し、製品受入から最終ユーザーへの納入まで一貫したサービスを提供する総合物流会社です。',
      goImage: '/assets/img/ogp.png',
      goUrl: 'https://www.logis-works.co.jp/contact/',
      twitterTitle: 'お問い合わせ｜株式会社Akara Group',
      twitterDescription: 'お問い合わせを紹介するページです。株式会社Akara Groupは、ドラム・パレットなどの物流機器製造や工場管理をはじめ、大口輸送・小口輸送のサービスネットワークを国内外に展開し、製品受入から最終ユーザーへの納入まで一貫したサービスを提供する総合物流会社です。',
      twitterImage: '/assets/img/ogp.png',
      twitterUrl: 'https://www.logis-works.co.jp/contact/'
    }

block prepend css
  
block append scripts
  script(src='/assets/js/libs/jquery.matchHeight.js')
  script(src='/assets/js/libs/jquery.waypoints.js')
  script(src='/assets/js/libs/jquery.jpostal.js')
  script(src='/assets/js/contact.js')
block outside

block content
  .c-box-mainvisual-subpage.c-box-mainvisual-subpage--noimg
    .c-box-mainvisual-subpage__inner
      figure.c-box-mainvisual-subpage__title
        img.c-box-mainvisual-subpage__title-image(src="/assets/img/svg/ttl-contact.svg", alt="CONTACT お問い合わせ")
      .c-box-mainvisual-subpage__text お問い合わせ

  nav.p-breadcrumb.p-breadcrumb__md.l-block
    ol.p-breadcrumb__group
      li.p-breadcrumb__item
        a.p-breadcrumb__link(href="/") TOP
      li.p-breadcrumb__item お問い合わせ

  article.c-box-article.l-center
    .c-box-article__inner
      h2.c-title-01 内容を入力
    
      .c-box-form
        p.c-text-required.c-text--red ※は入力必須になります。
        form.c-form(action="/contact/confirm.html", method="post")
          .c-box-table-responsive-02.u-mt-15-sp
            table.c-table-responsive-02
              tr
                th.c-heading.c-heading__is-required.u-pb-15-sp
                  span.u-mt-0 お問い合わせ種別
                td 
                  .c-box-input.c-box-input__radio
                    input.c-input-radio#c-input-radio-01(type="radio", checked="checked", name="c-input")
                    label(for="c-input-radio-01")
                      | 
                      span 物流機器・物流サービスに関するお問い合わせ
                    
                  .c-box-input.c-box-input__radio
                    input.c-input-radio#c-input-radio-02(type="radio", name="c-input")
                    label(for="c-input-radio-02")
                      |
                      span 採用に関するお問い合わせ

                  .c-box-input.c-box-input__radio
                    input.c-input-radio#c-input-radio-03(type="radio", name="c-input")
                    label(for="c-input-radio-03")
                      |
                      span その他のお問い合わせ
              tr
                th.c-heading.c-heading__is-required 
                  span お名前
                td 
                  input.c-input-text(type="text", placeholder="お名前を入力してください")
              tr
                th.c-heading.c-heading__is-required 
                  span フリガナ（全角）
                td 
                  input.c-input-text(type="text", placeholder="フリガナを入力してください")
              tr
                th.c-heading.c-heading__is-required 
                  span 会社名 / 学校名
                td 
                  input.c-input-text(type="text", placeholder="会社名/学校名を入力してください")
              tr
                th.c-heading 
                  span 部署名
                td 
                  input.c-input-text(type="text", placeholder="部署名を入力してください")
              tr
                th.c-heading 
                  span 役職
                td 
                  input.c-input-text(type="text", placeholder="役職を入力してください")
              tr
                th.c-heading.c-heading__is-required 
                  span お電話番号（半角）
                td 
                  .c-box-flex.u-d-inline-flex.u-flex-between
                    div.u-width-195-px
                      input.c-input-text(type="text", placeholder="")
                    div.c-box-dash -
                    div.u-width-195-px
                      input.c-input-text(type="text", placeholder="")
                    div.c-box-dash -
                    div.u-width-195-px
                      input.c-input-text(type="text", placeholder="")
              tr
                th.c-heading 
                  span FAX番号（半角）
                td 
                  .c-box-flex.u-d-inline-flex.u-flex-between
                    div.u-width-195-px
                      input.c-input-text(type="text", placeholder="")
                    div.c-box-dash -
                    div.u-width-195-px
                      input.c-input-text(type="text", placeholder="")
                    div.c-box-dash -
                    div.u-width-195-px
                      input.c-input-text(type="text", placeholder="")
              tr
                th.c-heading.c-heading__is-required
                  span メールアドレス（半角）
                td 
                  input.c-input-text(type="text", placeholder="メールアドレスを入力してください")
              tr
                th.c-heading.u-pb-10-sp
                  span 住所
                td.u-pb-0.u-pr-0
                  .c-box-table-responsive-02.c-table-responsive-02__no-border.u-mt-0.u-mb-0
                    table.c-table-responsive-02
                      tr
                        th.c-heading-sub.u-pb-10-sp
                          span 郵便番号（半角）
                        td.u-pb-15-sp
                          .c-box-flex.u-d-inline-flex.u-flex-between
                            div.u-width-120-px
                              input.c-input-text#zipcode-01(type="text", maxlength='3', inputmode="numeric", pattern="[0-9]*")
                            div.c-box-dash -
                            div.u-width-120-px
                              input.c-input-text#zipcode-02(type="text", maxlength='4', inputmode="numeric", pattern="[0-9]*")
                            div.c-box-space
                            div.u-width-120-px
                              a.c-input-submit.c-input-submit__bg-gray.u-ta-center#js-postcode
                                |住所検索
                      tr
                        th.c-heading-sub.c-heading__is-required.u-pb-10-sp
                          span 都道府県
                        td.u-pb-15-sp
                          .c-input-selectbox.u-ma-width-270-px
                            select#prefecture
                              option(value='') 選択してください
                              option(value='北海道') 北海道
                              option(value='青森県') 青森県
                              option(value='岩手県') 岩手県
                              option(value='宮城県') 宮城県
                              option(value='秋田県') 秋田県
                              option(value='山形県') 山形県
                              option(value='福島県') 福島県
                              option(value='茨城県') 茨城県
                              option(value='栃木県') 栃木県
                              option(value='群馬県') 群馬県
                              option(value='埼玉県') 埼玉県
                              option(value='千葉県') 千葉県
                              option(value='東京都') 東京都
                              option(value='神奈川県') 神奈川県
                              option(value='新潟県') 新潟県
                              option(value='富山県') 富山県
                              option(value='石川県') 石川県
                              option(value='福井県') 福井県
                              option(value='山梨県') 山梨県
                              option(value='長野県') 長野県
                              option(value='岐阜県') 岐阜県
                              option(value='静岡県') 静岡県
                              option(value='愛知県') 愛知県
                              option(value='三重県') 三重県
                              option(value='滋賀県') 滋賀県
                              option(value='京都府') 京都府
                              option(value='大阪府') 大阪府
                              option(value='兵庫県') 兵庫県
                              option(value='奈良県') 奈良県
                              option(value='和歌山県') 和歌山県
                              option(value='鳥取県') 鳥取県
                              option(value='島根県') 島根県
                              option(value='岡山県') 岡山県
                              option(value='広島県') 広島県
                              option(value='山口県') 山口県
                              option(value='徳島県') 徳島県
                              option(value='香川県') 香川県
                              option(value='愛媛県') 愛媛県
                              option(value='高知県') 高知県
                              option(value='福岡県') 福岡県
                              option(value='佐賀県') 佐賀県
                              option(value='長崎県') 長崎県
                              option(value='熊本県') 熊本県
                              option(value='大分県') 大分県
                              option(value='宮崎県') 宮崎県
                              option(value='鹿児島県') 鹿児島県
                              option(value='沖縄県') 沖縄県
                      tr
                        th.c-heading-sub.c-heading__is-required.u-pb-10-sp
                          span 住所
                        td.u-pb-15-sp
                          input.c-input-text#city(type="text", placeholder="住所を入力してください")
                      tr
                        th.c-heading-sub.u-pb-10-sp
                          span ビル名・部屋番号等
                        td.u-pb-30-sp
                          input.c-input-text(type="text", placeholder="ビル名・部屋番号等を入力してください")

              tr
                th.c-heading.c-heading__is-required
                  span お問い合わせ内容
                td 
                  textarea.c-input-textarea(name="message", cols="30", rows="10", placeholder="お問い合わせ内容を入力してください")

          .c-box-contact-note
            .c-box-contact-note__inner
              h2.c-heading-03 お問い合わせいただく前の注意

              ul.c-list-02
                li.c-list-02__item
                  p.c-text-01 お客様からいただく個人情報は、お問い合せ・ご質問への回答、情報提供のために使用させていただきます。
                li.c-list-02__item
                  p.c-text-01 利用目的範囲内でお客様の個人情報を弊社が使用することがございます。
                li.c-list-02__item
                  p.c-text-01 お客様は、お客様ご本人の個人情報について、開示、訂正、削除をご請求いただけます。その際はこの入力フォームからご連絡ください。
                li.c-list-02__item
                  p.c-text-01 お問い合せの内容によっては、電子メール以外の方法で回答を差し上げる場合がございますので、個人情報を正しくご記入いただけない場合は、お問い合せ・ご質問に回答できない場合がございます。
                li.c-list-02__item
                  p.c-text-01 
                    |お客様の個人情報の取扱全般に関する弊社の考え方をご覧になりたい方は、弊社の 
                    a.c-text--green.c-link-underline(href="/privacy.html") 個人情報保護方針ページ
                    |をご覧ください。
                li.c-list-02__item
                  p.c-text-01 土曜、日曜、祝日、年末年始他、弊社休業日にいただいたお問い合せについては、翌営業日以降の回答となります。
                li.c-list-02__item
                  p.c-text-01 弊社からお客様へ送信するe-mailは、お客様個人宛にお送りするものです。回答の内容の一部または全部を転載、二次利用することはご遠慮ください。
              
            .c-box-border.c-box-contact-agree.u-mt-45
              p.c-text 【お問い合わせいただく前の注意】に同意いただける場合は、【同意する】にチェックを付け、以下の入力に進んでください。チェックがない（同意していただけない）場合はフォームに入力していただくことができません。
              .c-box-checkbox.u-ta-center.u-mt-20#checker
                input.c-input-checkbox#c-input-checkbox-01(name="c-checkbox", type="checkbox", value='1')
                label.c-input-checkbox-01(for="c-input-checkbox-01")
                  |
                  span.u-fz-16 同意する

            .c-box-contact-button.u-ta-center.u-mt-50
              .c-box-button-cmn-01.u-margin-auto.c-button-middle.c-button--green.is-disabled
                input#c-step-02.u-ta-center(type='submit', name='send', value='確認', disabled)
                span.c-button__icon.c-icon--arrow
