extends ../../layouts/master.pug

block variables
  -
    const index = true
    const meta = {
      title: 'Career | Akara Group',
      keyword: 'Akara Group',
      description: '',
      goTitle: 'Akara Group',
      goDescription: '',
      goImage: '/assets/img/ogp.png',
      goUrl: '',
      twitterTitle: 'Akara Group',
      twitterDescription: '',
      twitterImage: '/assets/img/ogp.png',
      twitterUrl: ''
    }

    const topPage = false
    const whiteTheme = false

block prepend css
  link(rel='stylesheet', href='/assets/css/libs/slick.css')
  link(rel='stylesheet', href='/assets/css/libs/modaal.css')
block append scripts
  script(src='/assets/js/libs/slick.min.js')
  script(src='/assets/js/libs/jquery.matchHeight.js')
  script(src='/assets/js/libs/jquery.waypoints.js')
  script(src='/assets/js/libs/modaal.min.js')
  script(src='/assets/js/waveCreamTop.js')
  script(src='/assets/js/waveCreamBottom.js')
  script(src='/assets/js/waveMainVisualSub.js')

block outside
  //- // loader
  //- .c-loader
  //-   .c-loader__icon
  //-     p.c-loader__text
  //-       img(src="/assets/img/common/logo@2x.png", alt="")
  //-     .loader.simple-circle
  //- // /loader
  .c-bg-wave-mainvisual-sub
    .c-bg-wave-mainvisual-solid
      canvas#canvas-mainvisual
block content
  .p-career
    .c-mv-sub-page
      .c-mv-sub-page__inner
        .c-mv-sub-page__box-content
          .c-mv-sub-page__heading Be part of Our Success
          .c-mv-sub-page__sub-heading Grow with us at Akara
          .c-mv-sub-page__text We encourage all employees to improve their effectiveness that would create true understanding of job responsibility which leads to the achievement of both ind ividual and team success.
          a.c-mv-sub-page__anchor-icon.js-scroll.c-scroll-down-button__static-page(href="#scroll_timeline")
            .c-scroll-down-line
        .c-mv-sub-page__box-image
          figure.c-mv-sub-page__image-frame
            img(src="/assets/img/career/img_mv_career.png", alt="")

    .c-box-time-line
      .c-box-time-line__inner
        .c-box-time-line__line
        .c-box-time-line__list#scroll_timeline
          .c-box-time-line__item.animation-element.slide-top
            .c-box-time-line__image
              .c-box-time-line__image-frame
                img(src="/assets/img/career/img_career_01.png", alt="")
            .c-box-time-line__content
              .c-heading-egg
                .c-heading-egg__icon
                  .c-clipboard-icon
                .c-heading-egg__text.-small Jobs Opening
              ul.c-box-time-line__content-list
                li.c-box-time-line__content-list-item
                  a.modaal(href="#job-01", data-modaal-type="inline",data-modaal-animation="fade")
                    i.fas.fa-chevron-right
                    span.text ช่างซ่อมบำรุง (ประจำฟาร์ม)
                li.c-box-time-line__content-list-item
                  a.modaal(href="#job-02", data-modaal-type="inline",data-modaal-animation="fade")
                    i.fas.fa-chevron-right
                    span.text เจ้าหน้าที่ฝ่ายทรัพยากรบุคคล (ปทุมธานี)
                li.c-box-time-line__content-list-item
                  a.modaal(href="#job-03", data-modaal-type="inline",data-modaal-animation="fade")
                    i.fas.fa-chevron-right
                    span.text เจ้าหน้าที่บัญชี (วุฒิปริญญาตรี 1อัตรา)
                li.c-box-time-line__content-list-item
                  a.modaal(href="#job-04", data-modaal-type="inline",data-modaal-animation="fade")
                    i.fas.fa-chevron-right
                    span.text พนักงานบัญชีรายวัน 2 อัตรา
                li.c-box-time-line__content-list-item
                  a.modaal(href="#job-05", data-modaal-type="inline",data-modaal-animation="fade")
                    i.fas.fa-chevron-right
                    span.text แม่บ้าน หลายอัตรา
                li.c-box-time-line__content-list-item
                  a.modaal(href="#job-06", data-modaal-type="inline",data-modaal-animation="fade")
                    i.fas.fa-chevron-right
                    span.text พนักงาน R&D 1 อัตรา
                li.c-box-time-line__content-list-item
                  a.modaal(href="#job-07", data-modaal-type="inline",data-modaal-animation="fade")
                    i.fas.fa-chevron-right
                    span.text พนักงานบันทึกข้อมูลการผลิต 3 อัตรา

              .c-box-time-line__link
                .c-box-time-line__link-text
                  .c-hand-icon
                  | คลิกที่ตำแหน่งเพื่อกดส่งใบสมัคร หรือติดต่อเราตามข้อมูลด้านล่าง

              .c-box-contact
                .c-box-contact__heading ติดต่อฝ่ายบุคคล:  โทร. 037-349-885
                .c-box-contact__list
                  .c-box-contact__list-item
                    .heading บริษัท อัครากรุ๊ป จำกัด
                    .text 88 หมู่ 2 ต.ป่าขะ อ.บ้านนา จ.นครนายก 26110
                  .c-box-contact__list-item
                    .heading วันและเวลาทำการ
                    .text วันจันทร์ – วันเสาร์ 08.00 – 17.00

          .c-box-time-line__item.animation-element.slide-top
            .c-box-time-line__image
              .c-box-time-line__image-frame
                img(src="/assets/img/career/img_career_02.png", alt="")
            .c-box-time-line__content
              .c-box-time-line__content-heading.-small Work @Akara
              .c-box-time-line__content-sub-heading Lorem ipsum dolor sit amet, consetetur
              .c-box-time-line__content-text.-strong We encourage all employees to improve their effectiveness that would create true understanding of job responsibility which leads to the achievement of both individual and team success.
              .c-box-time-line__content-text Working environment at Akara promote good work relationship in all aspects. We treat each other the way we want to be treated and we believe that people work best when there is a foundation of trust. We encourage two-way communication throughout the organization and provide our employees good opportunity in their career paths.

    .c-box-jobs
      .c-box-jobs__detail#job-01
        .c-box-jobs__inner
          .c-box-jobs__heading
            .title.c-heading-03 ช่างซ่อมบำรุง (ประจำฟาร์ม)
            .location นครนายก
          .c-box-jobs__content
            .sub-title.c-heading-04 รายละเอียดงาน
            .text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec non nisl eget tellus congue fringilla. Nullam mattis, libero facilisis iaculis tincidunt, sem massa faucibus odio, vitae accumsan felis mi vestibulum sem. Etiam elementum leo at nulla molestie suscipit. In vitae feugiat nunc, ut semper tortor. Nunc aliquam urna orci, nec eleifend odio dignissim eget. Donec maximus et orci in egestas. Vivamus nec suscipit est. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis vehicula sem non elit consequat cursus. Quisque laoreet velit aliquet lorem dignissim ultricies. Vestibulum dictum arcu non tortor scelerisque laoreet.
          .c-box-jobs__apply
            .c-box-cmn-button
              a.c-button-cmn-01(href="#form-job-01")
                span.text Apply for this position
                span.arrow
                  i.fa.fa-arrow-right
            //- .c-box-form
            //-   .c-box-contact-form
            //-     .c-box-contact-form__inner
            //-       .c-box-contact-form__form#form-job-01
            //-         .c-box-contact-form__form-row
            //-           input.c-input-text(type="text", name="name", placeholder="Name")
            //-         .c-box-contact-form__form-row
            //-           input.c-input-text(type="email", name="email", placeholder="Email")
            //-         .c-box-contact-form__form-row
            //-           input.c-input-text(type="text", name="subject", placeholder="Subject")
            //-         .c-box-contact-form__form-row
            //-           textarea.c-input-textarea(name="message", cols="30", rows="10", placeholder="write your message here...")
            //-         .c-box-contact-form__form-row
            //-           input.c-input-button(type="button", value="Apply")

      .c-box-jobs__detail#job-02
        .c-box-jobs__inner
          .c-box-jobs__heading
            .title.c-heading-03 เจ้าหน้าที่ฝ่ายทรัพยากรบุคคล (ปทุมธานี)
            .location ปทุมธานี
          .c-box-jobs__content
            .sub-title.c-heading-04 รายละเอียดงาน
            .text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec non nisl eget tellus congue fringilla. Nullam mattis, libero facilisis iaculis tincidunt, sem massa faucibus odio, vitae accumsan felis mi vestibulum sem. Etiam elementum leo at nulla molestie suscipit. In vitae feugiat nunc, ut semper tortor. Nunc aliquam urna orci, nec eleifend odio dignissim eget. Donec maximus et orci in egestas. Vivamus nec suscipit est. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis vehicula sem non elit consequat cursus. Quisque laoreet velit aliquet lorem dignissim ultricies. Vestibulum dictum arcu non tortor scelerisque laoreet.
          .c-box-jobs__apply
            .c-box-cmn-button
              a.c-button-cmn-01(href="#form-job-02")
                span.text Apply for this position
                span.arrow
                  i.fa.fa-arrow-right
            //- .c-box-form
            //-   .c-box-contact-form
            //-     .c-box-contact-form__inner
            //-       .c-box-contact-form__form#form-job-02
            //-         .c-box-contact-form__form-row
            //-           input.c-input-text(type="text", name="name", placeholder="Name")
            //-         .c-box-contact-form__form-row
            //-           input.c-input-text(type="email", name="email", placeholder="Email")
            //-         .c-box-contact-form__form-row
            //-           input.c-input-text(type="text", name="subject", placeholder="Subject")
            //-         .c-box-contact-form__form-row
            //-           textarea.c-input-textarea(name="message", cols="30", rows="10", placeholder="write your message here...")
            //-         .c-box-contact-form__form-row
            //-           input.c-input-button(type="button", value="Apply")

      .c-box-jobs__detail#job-03
        .c-box-jobs__inner
          .c-box-jobs__heading
            .title.c-heading-03 เจ้าหน้าที่บัญชี (วุฒิปริญญาตรี 1อัตรา)
            .location ปทุมธานี
          .c-box-jobs__content
            .sub-title.c-heading-04 รายละเอียดงาน
            .text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec non nisl eget tellus congue fringilla. Nullam mattis, libero facilisis iaculis tincidunt, sem massa faucibus odio, vitae accumsan felis mi vestibulum sem. Etiam elementum leo at nulla molestie suscipit. In vitae feugiat nunc, ut semper tortor. Nunc aliquam urna orci, nec eleifend odio dignissim eget. Donec maximus et orci in egestas. Vivamus nec suscipit est. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis vehicula sem non elit consequat cursus. Quisque laoreet velit aliquet lorem dignissim ultricies. Vestibulum dictum arcu non tortor scelerisque laoreet.
          .c-box-jobs__apply
            .c-box-cmn-button
              a.c-button-cmn-01(href="#form-job-03")
                span.text Apply for this position
                span.arrow
                  i.fa.fa-arrow-right
            //- .c-box-form
            //-   .c-box-contact-form
            //-     .c-box-contact-form__inner
            //-       .c-box-contact-form__form#form-job-03
            //-         .c-box-contact-form__form-row
            //-           input.c-input-text(type="text", name="name", placeholder="Name")
            //-         .c-box-contact-form__form-row
            //-           input.c-input-text(type="email", name="email", placeholder="Email")
            //-         .c-box-contact-form__form-row
            //-           input.c-input-text(type="text", name="subject", placeholder="Subject")
            //-         .c-box-contact-form__form-row
            //-           textarea.c-input-textarea(name="message", cols="30", rows="10", placeholder="write your message here...")
            //-         .c-box-contact-form__form-row
            //-           input.c-input-button(type="button", value="Apply")

      .c-box-jobs__detail#job-04
        .c-box-jobs__inner
          .c-box-jobs__heading
            .title.c-heading-03 พนักงานบัญชีรายวัน 2 อัตรา
            .location ปทุมธานี
          .c-box-jobs__content
            .sub-title.c-heading-04 รายละเอียดงาน
            .text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec non nisl eget tellus congue fringilla. Nullam mattis, libero facilisis iaculis tincidunt, sem massa faucibus odio, vitae accumsan felis mi vestibulum sem. Etiam elementum leo at nulla molestie suscipit. In vitae feugiat nunc, ut semper tortor. Nunc aliquam urna orci, nec eleifend odio dignissim eget. Donec maximus et orci in egestas. Vivamus nec suscipit est. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis vehicula sem non elit consequat cursus. Quisque laoreet velit aliquet lorem dignissim ultricies. Vestibulum dictum arcu non tortor scelerisque laoreet.
          .c-box-jobs__apply
            .c-box-cmn-button
              a.c-button-cmn-01(href="#form-job-04")
                span.text Apply for this position
                span.arrow
                  i.fa.fa-arrow-right
            //- .c-box-form
            //-   .c-box-contact-form
            //-     .c-box-contact-form__inner
            //-       .c-box-contact-form__form#form-job-04
            //-         .c-box-contact-form__form-row
            //-           input.c-input-text(type="text", name="name", placeholder="Name")
            //-         .c-box-contact-form__form-row
            //-           input.c-input-text(type="email", name="email", placeholder="Email")
            //-         .c-box-contact-form__form-row
            //-           input.c-input-text(type="text", name="subject", placeholder="Subject")
            //-         .c-box-contact-form__form-row
            //-           textarea.c-input-textarea(name="message", cols="30", rows="10", placeholder="write your message here...")
            //-         .c-box-contact-form__form-row
            //-           input.c-input-button(type="button", value="Apply")

      .c-box-jobs__detail#job-05
        .c-box-jobs__inner
          .c-box-jobs__heading
            .title.c-heading-03 แม่บ้าน หลายอัตรา
            .location ปทุมธานี
          .c-box-jobs__content
            .sub-title.c-heading-04 รายละเอียดงาน
            .text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec non nisl eget tellus congue fringilla. Nullam mattis, libero facilisis iaculis tincidunt, sem massa faucibus odio, vitae accumsan felis mi vestibulum sem. Etiam elementum leo at nulla molestie suscipit. In vitae feugiat nunc, ut semper tortor. Nunc aliquam urna orci, nec eleifend odio dignissim eget. Donec maximus et orci in egestas. Vivamus nec suscipit est. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis vehicula sem non elit consequat cursus. Quisque laoreet velit aliquet lorem dignissim ultricies. Vestibulum dictum arcu non tortor scelerisque laoreet.
          .c-box-jobs__apply
            .c-box-cmn-button
              a.c-button-cmn-01(href="#form-job-05")
                span.text Apply for this position
                span.arrow
                  i.fa.fa-arrow-right
            //- .c-box-form
            //-   .c-box-contact-form
            //-     .c-box-contact-form__inner
            //-       .c-box-contact-form__form#form-job-05
            //-         .c-box-contact-form__form-row
            //-           input.c-input-text(type="text", name="name", placeholder="Name")
            //-         .c-box-contact-form__form-row
            //-           input.c-input-text(type="email", name="email", placeholder="Email")
            //-         .c-box-contact-form__form-row
            //-           input.c-input-text(type="text", name="subject", placeholder="Subject")
            //-         .c-box-contact-form__form-row
            //-           textarea.c-input-textarea(name="message", cols="30", rows="10", placeholder="write your message here...")
            //-         .c-box-contact-form__form-row
            //-           input.c-input-button(type="button", value="Apply")

      .c-box-jobs__detail#job-06
        .c-box-jobs__inner
          .c-box-jobs__heading
            .title.c-heading-03 พนักงาน R&D 1 อัตรา
            .location ปทุมธานี
          .c-box-jobs__content
            .sub-title.c-heading-04 รายละเอียดงาน
            .text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec non nisl eget tellus congue fringilla. Nullam mattis, libero facilisis iaculis tincidunt, sem massa faucibus odio, vitae accumsan felis mi vestibulum sem. Etiam elementum leo at nulla molestie suscipit. In vitae feugiat nunc, ut semper tortor. Nunc aliquam urna orci, nec eleifend odio dignissim eget. Donec maximus et orci in egestas. Vivamus nec suscipit est. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis vehicula sem non elit consequat cursus. Quisque laoreet velit aliquet lorem dignissim ultricies. Vestibulum dictum arcu non tortor scelerisque laoreet.
          .c-box-jobs__apply
            .c-box-cmn-button
              a.c-button-cmn-01(href="#form-job-06")
                span.text Apply for this position
                span.arrow
                  i.fa.fa-arrow-right
            //- .c-box-form
            //-   .c-box-contact-form
            //-     .c-box-contact-form__inner
            //-       .c-box-contact-form__form#form-job-06
            //-         .c-box-contact-form__form-row
            //-           input.c-input-text(type="text", name="name", placeholder="Name")
            //-         .c-box-contact-form__form-row
            //-           input.c-input-text(type="email", name="email", placeholder="Email")
            //-         .c-box-contact-form__form-row
            //-           input.c-input-text(type="text", name="subject", placeholder="Subject")
            //-         .c-box-contact-form__form-row
            //-           textarea.c-input-textarea(name="message", cols="30", rows="10", placeholder="write your message here...")
            //-         .c-box-contact-form__form-row
            //-           input.c-input-button(type="button", value="Apply")

      .c-box-jobs__detail#job-07
        .c-box-jobs__inner
          .c-box-jobs__heading
            .title.c-heading-03 พนักงานบันทึกข้อมูลการผลิต 3 อัตรา
            .location ปทุมธานี
          .c-box-jobs__content
            .sub-title.c-heading-04 รายละเอียดงาน
            .text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec non nisl eget tellus congue fringilla. Nullam mattis, libero facilisis iaculis tincidunt, sem massa faucibus odio, vitae accumsan felis mi vestibulum sem. Etiam elementum leo at nulla molestie suscipit. In vitae feugiat nunc, ut semper tortor. Nunc aliquam urna orci, nec eleifend odio dignissim eget. Donec maximus et orci in egestas. Vivamus nec suscipit est. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis vehicula sem non elit consequat cursus. Quisque laoreet velit aliquet lorem dignissim ultricies. Vestibulum dictum arcu non tortor scelerisque laoreet.
          .c-box-jobs__apply
            .c-box-cmn-button
              a.c-button-cmn-01(href="#form-job-07")
                span.text Apply for this position
                span.arrow
                  i.fa.fa-arrow-right
            //- .c-box-form
            //-   .c-box-contact-form
            //-     .c-box-contact-form__inner
            //-       .c-box-contact-form__form#form-job-07
            //-         .c-box-contact-form__form-row
            //-           input.c-input-text(type="text", name="name", placeholder="Name")
            //-         .c-box-contact-form__form-row
            //-           input.c-input-text(type="email", name="email", placeholder="Email")
            //-         .c-box-contact-form__form-row
            //-           input.c-input-text(type="text", name="subject", placeholder="Subject")
            //-         .c-box-contact-form__form-row
            //-           textarea.c-input-textarea(name="message", cols="30", rows="10", placeholder="write your message here...")
            //-         .c-box-contact-form__form-row
            //-           input.c-input-button(type="button", value="Apply")

    .c-voice-box
      .c-wave-cream
        canvas#canvas-cream
      .c-voice-box__inner
        .c-voice-box__fix-box.animation-element.slide-top
          .c-voice-box__fix-box-inner
            .c-voice-box__fix-box-heading
              .c-voice-box__fix-box-heading-icon
                .c-comment-icon
              .c-voice-box__fix-box-heading-text เสียงจากคนทานไข่อัครา
            .c-voice-box__fix-box-text These tasty certified USDA Organic eggs come from farms that have been pesticide-free.
        .c-voice-box__slider-box.animation-element.slide-top
          // Slider main container
          .swiper-container.js-swiper-voice
            // Additional required wrapper
            .swiper-wrapper
              // Slides
              .swiper-slide
                .c-card-voice
                  .c-card-voice__heading THE FLAVOR WAS AMAZING!
                  .c-card-voice__text “Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris”
                  .c-card-voice__author
                    .c-card-voice__author-icon
                    .c-card-voice__author-staff
                      .c-card-voice__author-staff-name Ahmed Elsayed
                      .c-card-voice__author-staff-position EMPLOYEE 1
              .swiper-slide
                .c-card-voice
                  .c-card-voice__heading THE FLAVOR WAS AMAZING!
                  .c-card-voice__text “Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris”
                  .c-card-voice__author
                    .c-card-voice__author-icon
                    .c-card-voice__author-staff
                      .c-card-voice__author-staff-name Ahmed Elsayed
                      .c-card-voice__author-staff-position EMPLOYEE 2
              .swiper-slide
                .c-card-voice
                  .c-card-voice__heading THE FLAVOR WAS AMAZING!
                  .c-card-voice__text “Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris”
                  .c-card-voice__author
                    .c-card-voice__author-icon
                    .c-card-voice__author-staff
                      .c-card-voice__author-staff-name Ahmed Elsayed
                      .c-card-voice__author-staff-position EMPLOYEE 3

            // If we need navigation buttons
            .swiper-box-control
              .swiper-button-prev.-voice
              .swiper-button-next.-voice
          .swiper-box-control-trigger
            .swiper-button-prev
              i.fas.fa-chevron-left
            .swiper-button-next
              i.fas.fa-chevron-right
      .c-wave-cream-bottom
        canvas#canvas-cream-bottom

    .l-sec-cmn-01.-box-subscribe
      .inner
        .c-box-subscribe.animation-element.slide-top
          .item.-signup-text
            .box-sign-up
          .item
            .box-heading
              .heading FOR RECIPES, COUPONS AND OTHER NEWS
            .box-form
              .c-input-row
                input.c-input.-text(type="email", name="email", placeholder="Your E-Mail Address")
                .c-box-cmn-button
                  button.c-button-cmn-01(type="submit", value="")
                    span.text SUBSCRIBE
                    span.arrow
                      i.fa.fa-arrow-right