// Breakpoint
$pcBreakpoint: 1440px;
$tbBreakpoint: 897px;
$spBreakpoint: 896px;

// contents-width
$contents-width: 1440px;

// contents-gatter
$contents-gatter-sp: 15px;
$contents-gatter-pc: 15px;

// Fonts
$fontBase: "Kanit", "Arial", sans-serif;
$fontEng:  "Montserrat", "Noto Sans JP", sans-serif;

// Color
$baseColor: #211E1F;
$darkGreen: #f8b500;
$yellow: #FFC416;
$cream: #FCFBF2;
$white: #fff;
$gray: #777777;
$orange: #F16025;
$green: #245D38;
$red: #BD0000;


// Gradian
// Yellow
$yellow01: #FCE279;
$yellow02: #FFC416;

// Green
$green_01: #43AB3F;
$green_02: #245D38;

// Orange
$orange_01: #F19B25;
$orange_02: #F16025;

// transition
$transition: .3s;

// opacity
$opacity: .7;

$fa-font-path: "font-awesome/webfonts";
