// Breakpoint
$pcBreakpoint: 1440px;
$tbBreakpoint: 769px;

// contents-width
$contents-width: 1440px;

// contents-gatter
$contents-gatter-sp: 15px;
$contents-gatter-pc: 15px;

// Fonts
$fontBase: "Kanit", "Arial", sans-serif;
$fontEng:  "Montserrat", "Noto Sans JP", sans-serif;

// Color
$baseColor: #211E1F;
$darkGreen: #f8b500;
$yellow: #FFC416;

// transition
$transition: .3s;

// opacity
$opacity: .7;

$fa-font-path: "font-awesome/webfonts";
