extends ../../layouts/master.pug

block variables
  -
    const meta = {
      title: 'Akara Groupとは｜株式会社Akara Group',
      keyword: 'Akara Group、輸送、配送、保管、出荷、流通加工、電線ドラム製造、木製ドラム製造、木製パレット製造、物流機器販売',
      description: 'Akara Groupとはを紹介するページです。株式会社Akara Groupは、ドラム・パレットなどの物流機器製造や工場管理をはじめ、大口輸送・小口輸送のサービスネットワークを国内外に展開し、製品受入から最終ユーザーへの納入まで一貫したサービスを提供する総合物流会社です。',
      goTitle: 'Akara Groupとは｜株式会社Akara Group',
      goDescription: 'Akara Groupとはを紹介するページです。株式会社Akara Groupは、ドラム・パレットなどの物流機器製造や工場管理をはじめ、大口輸送・小口輸送のサービスネットワークを国内外に展開し、製品受入から最終ユーザーへの納入まで一貫したサービスを提供する総合物流会社です。',
      goImage: '/assets/img/ogp.png',
      goUrl: 'https://www.logis-works.co.jp/about/',
      twitterTitle: 'Akara Groupとは｜株式会社Akara Group',
      twitterDescription: 'Akara Groupとはを紹介するページです。株式会社Akara Groupは、ドラム・パレットなどの物流機器製造や工場管理をはじめ、大口輸送・小口輸送のサービスネットワークを国内外に展開し、製品受入から最終ユーザーへの納入まで一貫したサービスを提供する総合物流会社です。',
      twitterImage: '/assets/img/ogp.png',
      twitterUrl: 'https://www.logis-works.co.jp/about/'
    }

block prepend css

block append scripts
  script(src='/assets/js/libs/jquery.matchHeight.js')
  script(src='/assets/js/libs/jquery.waypoints.js')

block outside

block content
  .p-hero.l-block-md
    .p-hero__flex
      .p-hero__in
        img.p-hero__title(src="/assets/img/svg/txt_about_01.svg", alt="ABOUT Akara Groupとは")
        .p-hero__text Akara Groupとは
    figure.p-hero__figure
      img.p-hero__image.js-fit.u-no-sp(src="/assets/img/about/hero_about_01.jpg", alt="ABOUT Akara Groupとは")
      img.p-hero__image.js-fit.u-no-tb.u-no-pc(src="/assets/img/about/hero_about_01_sp.jpg", alt="ABOUT Akara Groupとは")

  nav.p-breadcrumb.l-block-md
    ol.p-breadcrumb__group
      li.p-breadcrumb__item
        a.p-breadcrumb__link(href="/") TOP
      li.p-breadcrumb__item Akara Groupとは

  article
    .p-hero-about.l-block-md#sec-1
      .p-hero-about__in
        .p-hero-about__illustrate.js-content-animated
          img(src="/assets/img/about/img_truck_01.png", alt="Akara Groupとは")
        .p-hero-about__flex
          .p-hero-about__body
            h1.p-hero-about__title 時流とともに進化を続ける、<br class="u-no-sp">物流のプロフェッショナル。
            .p-hero-about__text 当社は１９２３年に創業し、貨物自動車運送事業を開始しました。<br>以来、時代の流れに即した幾多の変遷を経て１９６５年に昭和電線グループの一員となりました。<br>２００６年には株式会社Akara Groupが誕生し、総合物流会社として新たな一歩を踏み出しました。<br>昭和電線グループ各社の輸配送および物流機器の販売を中心に築き上げた「信頼」のもと、安全・確実・迅速なサービス体制を整え物流のベストパートナーとなるべく、Akara Groupは進化を続けます。
      figure.p-hero-about__figure
        img.p-hero-about__image.u-no-sp.js-fit(src="/assets/img/about/hero_about_02.jpg", alt="Akara Groupとは")
        img.p-hero-about__image.u-no-tb.u-no-pc.js-fit(src="/assets/img/about/hero_about_02_sp.jpg", alt="Akara Groupとは")

    section.p-about-work.l-block-md#sec-2
      .p-about-work__in
        .p-about-work__illustrate.js-content-animated
          img(src="/assets/img/about/img_truck_02.png", alt="Akara Groupとは")
        h2.p-about-work__logo
          img(src="/assets/img/about/logo_about_01.png", alt="Akara Group")
        .p-about-work__body
          .p-about-work__item
            h3.p-about-work__title.p-about-work__title-01
              span.p-about-work__title-jp ロジスティクス
              span.p-about-work__title-en LOGISTICS
            img.p-about-work__image(src="/assets/img/about/img_about_01.jpg", alt="輸送・配送 保管・出荷 流通加工")
          .p-about-work__item
            h3.p-about-work__title.p-about-work__title-02
              span.p-about-work__title-jp ワークス
              span.p-about-work__title-en WORKS
            img.p-about-work__image(src="/assets/img/about/img_about_02.jpg", alt="電線ドラム製造 木製パレット製造 物流機器販売")

    section.p-about-logis#sec-3
      .p-about-logis__map.l-block-md
        .p-about-logis__in
          .p-about-logis__illustrate.js-content-animated
            img(src="/assets/img/about/img_truck_01.png", alt="Akara Groupとは")
          h2.p-about-logis__title サービスネットワーク
          .p-about-logis__text 長年築き上げたネットワークは現在では全国を網羅。<br>地域の物流ルートを熟知し、物流の諸問題を解決します。<br class="u-no-sp">各拠点同士で協力のもと、道路の通行許可やルートの事前調査が必要な大型重量物の輸送など、<br class="u-no-sp">あらゆる「商品」の移動を可能にします。
          figure.p-about-logis__figure
            img.p-about-logis__image(src="/assets/img/about/img_about_03.png", alt="サービスネットワーク")
          .p-about-logis__pin
            ul.p-about-logis__pin-list
              li.p-about-logis__pin-item
                img.p-about-logis__pin-ico(src="/assets/img/about/ico_pin_01.png", alt="事業所")
                span 事業所
              li.p-about-logis__pin-item
                img.p-about-logis__pin-ico(src="/assets/img/about/ico_pin_02.png", alt="流通センター")
                span 流通センター
              li.p-about-logis__pin-item
                img.p-about-logis__pin-ico(src="/assets/img/about/ico_pin_03.png", alt="配送センター")
                span 配送センター
              li.p-about-logis__pin-item
                img.p-about-logis__pin-ico(src="/assets/img/about/ico_pin_04.png", alt="営業所・作業所")
                span 営業所・作業所

    section.p-about-howto.l-block-md
      figure.p-about-howto__figure
        img.p-about-howto__image.js-fit(src="/assets/img/about/img_about_06.jpg", alt="Akara Groupのシゴト")
      .p-about-howto__content
        .p-about-howto__in
          h3.p-about-howto__title Akara Groupの<br class="u-no-tb u-no-pc">シゴト
          .p-about-howto__text Akara Groupにはどのようなシゴトがあるのか。<br class="u-no-sp">それぞれのこだわりポイントを交えて業務内容をご紹介いたします。
          .p-about-howto__trigger
            a.l-header__nav-link.c-button-middle.c-button--green(href='/about/works.html')
              span.c-button__text 詳しく見る
              span.c-button__icon.c-icon--arrow

    section.p-company--grey.l-block-md
      .p-company__in.p-company__reverse
        figure.p-company__figure
          img.p-company__image(src="/assets/img/about/img_about_07.jpg", alt="昭和電線グループ会社")
        .p-company__content--white
          .p-company__content-in
            h3.p-company__title 昭和電線グループ会社
            .p-company__text
              p.c-text 昭和電線グループの国内・海外拠点と関連会社をご紹介いたします。
            .p-company__trigger.u-ta-right
              a.c-link.c-link-arrow.c-link-arrow__green.c-link-windows(href="https://www.swcc.co.jp/hd/company/group.html", target="_blank")
                span 詳しく見る

