@media (max-width: 896px) {
  .p-contact-us .c-box-time-line__inner {
    padding: 0 30px;
  }
}

.p-contact-us .c-box-time-line__list {
  margin-top: -100px;
}

@media (min-width: 897px) and (max-width: 1439px) {
  .p-contact-us .c-box-time-line__list {
    margin-top: -6.94444vw;
  }
}

.p-contact-us .c-box-time-line__line {
  top: -150px;
  width: 878px;
  height: 1211px;
  background: url(/assets/img/contact-us/bg_line_connect.png) no-repeat center center;
  background-size: cover;
  position: absolute;
  left: 48%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 1;
}

@media (min-width: 897px) and (max-width: 1439px) {
  .p-contact-us .c-box-time-line__line {
    top: -10.41667vw;
    width: 60.97222vw;
    height: 84.09722vw;
    left: 47%;
  }
}

@media (max-width: 896px) {
  .p-contact-us .c-box-time-line__item .fa-chevron-right {
    display: none;
  }
}

@media (max-width: 896px) {
  .p-contact-us .c-box-time-line__item .c-box-time-line__image {
    width: 80%;
    margin: auto;
  }
}

.p-contact-us .c-box-time-line__item:first-of-type {
  padding-top: 30px;
}

@media (max-width: 896px) {
  .p-contact-us .c-box-time-line__item:not(:first-of-type) {
    margin-top: 40px;
    padding-top: 40px;
    border-top: 5px dotted #DCDCDC;
  }
}

@media (max-width: 896px) {
  .p-contact-us .c-box-time-line__item:not(:first-of-type) .c-box-time-line__image {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }
}

.p-contact-us .c-box-time-line__content {
  padding-top: 50px !important;
}

@media (max-width: 896px) {
  .p-contact-us .c-box-time-line__content {
    text-align: center;
    width: 100%;
    padding-top: 20px !important;
  }
}

.p-contact-us .c-box-time-line__content-list {
  margin-top: 10px;
}

.p-contact-us .c-box-time-line__content-list-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

@media (max-width: 896px) {
  .p-contact-us .c-box-time-line__content-list-item {
    display: block;
    text-align: center;
  }
}

.p-contact-us .c-box-time-line__content-list-item:not(:first-of-type) {
  margin-top: 5px;
}

.p-contact-us .c-box-time-line__content-list-item > i {
  margin-top: 9px;
  margin-right: 10px;
}

@media (max-width: 896px) {
  .p-contact-us .c-box-time-line__content-list-item > i {
    display: block;
    margin: 0;
  }
}

.p-contact-us .c-box-time-line__content-list-item > i.icon-time {
  width: 15px;
  height: 15px;
  background: url(/assets/img/svg/icon-clock-base.svg) no-repeat center center;
  background-size: 100%;
}

@media (max-width: 896px) {
  .p-contact-us .c-box-time-line__content-list-item > i.icon-time {
    display: block;
    margin: auto;
  }
}

.p-contact-us .c-box-time-line__content-list-item > i.icon-location {
  width: 11px;
  height: 15px;
  background: url(/assets/img/svg/icon-mapmarker-base.svg) no-repeat center center;
  background-size: 100%;
}

@media (max-width: 896px) {
  .p-contact-us .c-box-time-line__content-list-item > i.icon-location {
    display: block;
    margin: auto;
  }
}

.p-contact-us .c-box-time-line__content-list-item > i.icon-email {
  width: 15px;
  height: 15px;
  background: url(/assets/img/svg/icon-envelope.svg) no-repeat center center;
  background-size: 100%;
}

@media (max-width: 896px) {
  .p-contact-us .c-box-time-line__content-list-item > i.icon-email {
    display: block;
    margin: auto;
  }
}

.p-contact-us .c-box-time-line__content-list-item > i.icon-tel {
  width: 15px;
  height: 15px;
  background: url(/assets/img/svg/icon-phone.svg) no-repeat center center;
  background-size: 100%;
}

@media (max-width: 896px) {
  .p-contact-us .c-box-time-line__content-list-item > i.icon-tel {
    display: block;
    margin: auto;
  }
}

.p-contact-us .c-box-time-line__content-list-item > i.icon-fax {
  width: 15px;
  height: 15px;
  background: url(/assets/img/svg/icon-fax.svg) no-repeat center center;
  background-size: 100%;
}

@media (max-width: 896px) {
  .p-contact-us .c-box-time-line__content-list-item > i.icon-fax {
    display: block;
    margin: auto;
  }
}

@media (max-width: 896px) {
  .p-contact-us .c-box-time-line__content-list-item .c-box-detail {
    display: block;
  }
}

.p-contact-us .c-box-time-line__content-list-item .c-box-detail.-full {
  width: 80%;
}

@media (max-width: 896px) {
  .p-contact-us .c-box-time-line__content-list-item .c-box-detail.-full {
    width: 100%;
  }
}

.p-contact-us .c-box-time-line__content-list-item .c-box-detail:not(:first-of-type) {
  margin-left: 20px;
}

.p-contact-us .c-box-time-line__content-list-item .c-box-detail > .heading {
  font-weight: 500;
  line-height: 2;
}

.p-contact-us .c-box-time-line__content-list-item .c-box-detail > .heading .link {
  color: #FFC416;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.p-contact-us .c-box-time-line__content-list-item .c-box-detail > .heading .link:hover {
  opacity: 0.7;
}

.p-contact-us .c-box-time-line__content-list-item .c-box-detail > .detail {
  color: #777;
}

.p-contact-us .c-box-time-line__content-heading.-small {
  font-size: 3.2rem !important;
}

@media (max-width: 896px) {
  .p-contact-us .c-box-time-line__content-heading.-small {
    font-size: 2.2rem !important;
  }
}

.p-contact-us .c-box-contact-form {
  position: relative;
  z-index: 2;
}

.p-contact-us .c-connect-with-us {
  margin-top: 100px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media (max-width: 896px) {
  .p-contact-us .c-connect-with-us {
    margin-top: 60px;
    margin-bottom: 40px;
  }
}

.p-contact-us .c-connect-with-us__heading {
  font-size: 3.2rem;
  line-height: 1.3;
  margin-right: 40px;
}

@media (max-width: 896px) {
  .p-contact-us .c-connect-with-us__heading {
    font-size: 2.2rem;
    margin-right: 0;
  }
}

.p-contact-us .c-connect-with-us .c-list-sns {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

@media (max-width: 896px) {
  .p-contact-us .c-connect-with-us .c-list-sns {
    width: 100%;
    margin-top: 20px;
  }
}

.p-contact-us .c-connect-with-us .c-list-sns__item:not(:first-of-type) {
  margin-left: 20px;
}

.p-contact-us .c-connect-with-us .c-list-sns__link > .fab {
  font-size: 3.4rem;
  color: #211E1F;
}

@media (max-width: 896px) {
  .p-contact-us .c-connect-with-us .c-list-sns__link > .fab {
    font-size: 2rem;
  }
}

.p-contact-us .-box-subscribe .inner {
  background: none;
}

/*# sourceMappingURL=contact-us.css.map */
